{% extends "index/base_qconnect_buyer.html" %}

{% load static %}
{% load bootstrap_icons %}

{% block title %}●{% endblock %}
{% block content %}
 
<div class="authentication-bg min-vh-100 min-vw-100 align-items-start">
  
  <div class="container">

    <div class="row text-center mt-4">
      <h5 class="text-secondary">
        {% bs_icon 'envelope' color='hotpink' size='2.0em' %}
        <b>　お問い合わせ</b>
      </h5>
    </div>

    <div class="row text-center">
      <p class="text-secondary mt-2">
        以下のフォームにご記載いただきご送信ださい。<br>
      </p>
    </div>
  
    <div class="row mx-3">

      <div class="col-lg-5">
        <div class="contact-details mb-lg-0">
          <p class="mt-2">
            <i class="mdi mdi-email-outline align-middle text-muted fs-20"></i>
            <span class="fw-medium text-secondary">support@website.com</span>
          </p>
  
          <p class="mt-2">
            <i class="mdi mdi-map-marker-outline text-muted fs-20"></i>
            <span class="fw-medium text-secondary">〒107-0062 <br>
            東京都港区南青山3丁目1番36号 青山丸竹ビル6F</span>
          </p>
        </div> <!--end contact-details-->
      </div> <!--end col-->
  
      <div class="col-lg-7">

        <form method="POST" action="{% url 'contactus' %}"
          onsubmit="return validateForm()" class="contact-form"
          name="myForm"
          id="myForm">

          {% csrf_token %}
          <span id="error-msg"></span>

          {% for message in messages %}
            <fieldset>
              <div id='success_page'>
                <h5 class='text-success'>Email Sent Successfully.</h5>
                <p>ありがとうございます。<strong>{{ message }}</strong>, your message has been submitted to us.</p>
              </div>
            </fieldset>
          {% endfor %}
  
          <div class="row">
            <div class="col-lg-12">
              <div class="position-relative mt-2">
                <span class="input-group-text"><i class="mdi mdi-account-outline"></i></span>
                <input name="name" id="name" type="text" class="form-control"
                  placeholder="お名前">
              </div>
            </div>
              
            <div class="col-lg-12">
              <div class="position-relative mt-2">
                <span class="input-group-text"><i class="mdi mdi-email-outline"></i></span>
                <input name="email" id="email" type="email" class="form-control"
                  placeholder="メールアドレス">
              </div>
            </div>
              
            <div class="col-lg-12">
              <div class="position-relative mt-2">
                <span class="input-group-text"><i class="mdi mdi-file-document-outline"></i></span>
                <input name="subject" id="subject" type="text" class="form-control" placeholder="件名">
              </div>
            </div>
              
            <div class="col-lg-12">
              <div class="position-relative mt-2">
                <span  class="input-group-text align-items-start"><i class="mdi mdi-comment-text-outline"></i></span>
                <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="お問い合わせ内容"></textarea>
              </div>
            </div>

          </div> <!-- end of row -->
  
          <div class="row mt-2">
            <div class="col-sm-12 text-end">
              <input type="submit" id="contact1" name="send" class="btn btn-primary"
                value="送信します">  
            </div>
          </div> <!-- end of row -->

        </form> <!--end form-->

      </div> <!--end col-->
    </div> <!--end row-->
  </div> <!--end container-->

</div>

{% endblock %}