{% extends "index/base_qconnect_buyer.html" %}

{% load static %}
{% load bootstrap_icons %}

{% block content %}

<div class="authentication-bg min-vh-100 min-vw-100 align-items-start">

  <div class="container">

    <div class="row justify-content-center mt-1">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} py-2 rounded-1" role="alert">
          <span>{{ message }}</span>
        </div>
      {% endfor %}
    </div>
  
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb bg-light-subtle px-2 rounded-3 mt-1">
        <li class="breadcrumb-item"><a href="{% url 'accounts:mypage_buyer' %}">
          {% bs_icon 'house' color='cornflowerblue' size='1.2em' %}
          マイページトップ</a></li>
        <li class="breadcrumb-item" aria-current="page">本登録（入力）</li>
      </ol>
    </nav>

    <div class ="row justify-content-center">

      <div class="col-10">
        <div class="progress mt-1 mb-1" style="height: 12px" >
          <div class="progress-bar bg-secondary" role="progressbar"
            style="width: 25%"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            仮登録
          </div>

          <div class="progress-bar bg-secondary" role="progressbar"
            style="width: 25%"
            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            メール受領
          </div>

          <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar"
            style="width: 25%"
            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            本登録
          </div>

          <div class="progress-bar bg-secondary progress-bar-animated"
            role="progressbar"
            style="width: 25%"
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            利用規約確認
          </div>
        </div>
      </div>
    </div>
  
    <!-- パートナー（buyer）の場合は法人のみ -->
    {% if user.type2 == 2 %}

      <!-- flag_step == 1：入力画面の表示 -->
      <!-- flag_step == 1：入力内容の確認 -->
      {% if flag_step == 1 %}

        <div class="row justify-content-center mt-4">
          <h5 class="text-secondary text-center">
            <b>パートナー登録</b></h5>
        </div>

        <div class="row justify-content-center mt-5 px-4">
          <div class="btn-group btn-group-toggle col-md-10 col-lg-8 col-xl-6"
            id="id_NewOrNot" data-toggle="buttons">

            <label class="btn btn-secondary px-2" for="id_radio1">
              <input type="radio" id="id_radio1" name="name_NewOrNot" autocomplete="off">
              新規パートナー登録
            </label>

            <!-- autocompleteは過去の入力情報を自動的に補完する機能-->
          
            <label class="btn btn-secondary px-2" for="id_radio2">
              <input type="radio" id="id_radio2" name="name_NewOrNot" autocomplete="off">
              既存パートナーに参加
            </label>
          </div>   
        </div> <!-- end row -->
        
        <!-- パートナーを新規登録する場合 -->
        <span id="id_addition1" style="display: none;">
          <hr>
          <form method="POST" action="{% url 'accounts:entityCreate_buyer' %}" >
            {% csrf_token %}
            <div class= "d-flex justify-content-center mt-5">
              <button type="submit" class="btn btn-primary shadow" name="next1" value="ToEntityCreate_{{user.id}}" >
                パートナーの新規登録へ</button>
            </div>
          </form>
        </span>

        <!-- 既存パートナーにユーザーを追加する場合 -->
        <span id="id_addition2" style="display: none;">

          <hr>

          <form method="POST">
            {% csrf_token %}

            <div class="row justify-content-center pt-4 px-4">
              <div class="col-md-10 col-lg-8 col-xl-6">
                <label class="form-label" for="id_SearchInput">パートナー選択とユーザー登録</label>
                <div class="input-group">
                  <input type="text" class="form-control"
                    id="id_SearchInput"
                    name="name_SearchInput"
                    value="{{form.entityName.value| default:''}}"
                    placeholder="キーワード入力 （ex. IMAGICA or イマジ or いま）">
                  <button type="submit" class="btn btn-primary shadow" name="name_SearchInput" value="searchStart">検索</button>
                  <!-- <button type="submit" class="btn btn-outline-primary" name="select" value="select_bank">選択</button> -->
                </div>
              </div>
            </div> <!-- end row -->

            <div class="row justify-content-center px-4">

              <div class="form-group col-md-10 col-lg-8 col-xl-6">
              
                <!-- 「multiple」はリストのスタイルを変える -->
                <select class="form-select"
                  id="id_BuyerSelect"
                  name="{{form.entityName.name}}">

                  {% if dict_buyEntityName.items %}

                    {% if temporal_buyEntityName != "" %}
                      <!-- <option>パートナー名（取引主体）</option> -->
                      {% for key, value in dict_buyEntityName.items %}
          
                        {% if value == temporal_buyEntityName %}
                          <option value='{{value}}' selected>{{value}}</option>
                        {% else %}
                          <option value='{{value}}'>{{value}}</option>
                        {% endif %}
                      {% endfor %}

                    {% else %}
  
                      <!-- <option selected>パートナー名（取引主体）</option> -->
                      {% for key, value in dict_buyEntityName.items %}
                        <option value='{{value}}'>{{value}}</option>
                      {% endfor %}
                    {% endif %}
                  {% endif %}
                </select>
              </div> <!-- end col -->
            </div> <!-- end row -->

            <hr>
         
            <div class="form-group row justify-content-center pt-3 px-4">
              <label class="col-md-3 col-lg-2 col-form-label" for="{{form.userName.id_for_label}}" >
                お名前（個人名）</label>
              <div class="col-md-7 col-lg-6 col-xl-4">
                <input type="form.userName.widget.input_type" class="form-control"
                  name="{{form.userName.name}}"
                  value="{{form.userName.value| default:''}}"
                  id="{{form.userName.id_for_label}}" >
              </div>
            </div>
            {% if form.userName.errors %}
              <div class="row justify-content-center px-4">
                <div class="col-md-10 col-lg-8 col-xl-6 text-left" style="color:red;">
                  {{ form.userName.errors.as_text }}</div>
              </div>
            {% endif %}  

            <div class="form-group row justify-content-center pt-3 px-4">
              <label class="col-md-3 col-lg-2 col-form-label" for="{{form.tel_user.id_for_label}}" >
                お電話（直通）</label>
              <div class="col-md-7 col-lg-6 col-xl-4">
                <input type="form.tel_user.widget.input_type" class="form-control"
                  name="{{form.tel_user.name}}"
                  value="{{form.tel_user.value| default:''}}"
                  id="{{form.tel_user.id_for_label}}" >
              </div>
            </div>
            {% if form.tel_user.errors %}
              <div class="row justify-content-center px-4">
                <div class="col-md-10 col-lg-8 col-xl-6 text-left" style="color:red;">
                  {{ form.tel_user.errors.as_text }}</div>
              </div>
            {% endif %}

  
            <div class="form-group row justify-content-center pt-3 px-4">
              <label class="col-md-3 col-lg-2 col-form-label" for="{{form.department.id_for_label}}" >
                所属部署</label>
              <div class="col-md-7 col-lg-6 col-xl-4">
                <input type="form.department.widget.input_type" class="form-control"
                  name="{{form.department.name}}"
                  value="{{form.department.value| default:''}}"
                  id="{{form.department.id_for_label}}" >
              </div>
            </div>
            {% if form.department.errors %}
              <div class="row justify-content-center px-4">
                <div class="col-md-10 col-lg-8 col-xl-6 text-left" style="color:red;">
                  {{ form.department.errors.as_text }}</div>
              </div>
            {% endif %}

 
            <div class="form-group row justify-content-center pt-3 px-4">
              <label class="col-md-3 col-lg-2 col-form-label" for="{{form.title.id_for_label}}" >
                役職</label>
              <div class="col-md-7 col-lg-6 col-xl-4">
                <input type="form.title.widget.input_type" class="form-control"
                  name="{{form.title.name}}"
                  value="{{form.title.value| default:''}}"
                  id="{{form.title.id_for_label}}" >
              </div>
            </div>
            {% if form.title.errors %}
              <div class="row justify-content-center px-4">
                <div class="col-md-10 col-lg-8 col-xl-6 text-left" style="color:red;">
                  {{ form.title.errors.as_text }}</div>
              </div>
            {% endif %}

            <div class= "d-flex justify-content-center mt-5">
              <button type="submit" class="btn btn-primary shadow"
                name="next2"
                value="ToConfirm_{{user.id}}">
                選んだパートナーにユーザー追加申請する</button>
            </div>
          </form>
        </span>
        
      {% endif %}

      <!-- 入力した内容を確認 -->
      {% if flag_step == 2 %}

        <div class="row justify-content-center mt-4">
          <h5 class="text-black text-center">
            <b>ユーザー登録（ご申請内容）</b></h5>
        </div>

        <div class="row justify-content-center mt-2 px-4">
          <div class="col-md-9 col-lg-6">
        
            <form method="POST"
              class="p-4 m-2 bg-light border border-primary-subtle rounded form-group">

              {% csrf_token %}

              <table class="table table-sm table-bordered border-primary-subtle table-responsive">
                <tbody> <!-- 郵便番号のところは住所にする -->
                  <tr>
                    <th scope="col" width="33%" class="table-primary">お取引者</th>
                    <td style="text-align: right;">{{ entity.entityName }}</td></tr>
                  <tr>
                    <th scope="col" width="33%" class="table-primary">代表者</th>
                    <td style="text-align: right;">{{ entity.representitive }}さん</td></tr>
                  <tr>
                    <th scope="col" width="33%" class="table-primary">郵便番号</th>
                    <td style="text-align: right;">{{ entity.zip_entity }}</td></tr>
                  <tr>
                    <th scope="col" width="33%" class="table-primary">電話番号</th>
                    <td style="text-align: right;">{{ entity.tel_entity }}</td></tr>
                </tbody>
              </table>

              <table class="table table-sm table-bordered  border-primary-subtle table-responsive">
                <tbody class="text-center">
                  <tr>
                    <th scope="col" width="33%" class="table-primary">あなたのお名前</th>
                    <td style="text-align: right;">{{ form.userName.value }}さん</td></tr>
                  <tr>
                    <th scope="col" width="33%" class="table-primary">電話番号</th>
                    <td style="text-align: right;">{{ form.tel_user.value }}</td></tr>
                  <tr>
                    <th scope="col" width="33%" class="table-primary">部署</th>
                    <td style="text-align: right;">{{ form.department.value }}</td></tr>
                  <tr>
                    <th scope="col" width="33%" class="table-primary">役職</th>
                    <td style="text-align: right;">{{ form.title.value }}</td></tr>
                </tbody>
              </table>

              <hr>

              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-primary me-2"
                  name="next2"
                  value="BackToInput_{{user.id}}_{{entity.id}}">
                  戻る</button>

                <button type="submit" class="btn btn-primary"
                  name="next2"
                  value="ToSave&Apply_{{user.id}}_{{entity.id}}">
                  パートナー企業に参加を申請</button>
              </div>

              {% for field in form %}
                {{ field.as_hidden }}
              {% endfor %}

            </form> <!-- end form -->
          </div> <!-- end col -->
        </div> <!-- end row -->

      {% endif %}
    {% endif %}

    <!--        
    {% for field in form %}
      {{ field.as_hidden }}
    {% endfor %}
    -->

  </div> <!-- end container -->
</div>


<style type="text/css">
    .hidden {
        display: none; /* 非表示のアイテムにはdisplay:noneを適用 */
    }
</style>

<script>
 
  document.addEventListener('DOMContentLoaded', function() {

    console.log('DOMContentLoadedが認識されました');

    var NewOrNot = document.getElementById('id_NewOrNot');
    var SearchInput = document.getElementById('id_SearchInput');
    var BuyerSelect = document.getElementById('id_BuyerSelect');

    let obj_buyEntityName = JSON.parse('{{ json_buyEntityName|safe }}' || "null");
    
    var addition1 = document.getElementById('id_addition1');
    var addition2 = document.getElementById('id_addition2');

    NewOrNot.addEventListener('click', function(){

      if (id_radio1.checked) {      
        console.log('id_radio1が認識されました');
        addition1.style.display = "block";
        addition2.style.display = "none";
      }

      if (id_radio2.checked) {      
        console.log('id_radio2が認識されました');
        addition1.style.display = "none";
        addition2.style.display = "block";
      }
    });

    function normalizeText(text) {
      console.log('inputイベント内でnormalizeTextが呼ばれました.');
      return text
        .normalize("NFKC") // 半角を全角文字に変換
        .replace(/[\u30a1-\u30f6]/g, match => 
          String.fromCharCode(match.charCodeAt(0) - 0x60)) // 全角カタカナをひらがなに変換
        .toLowerCase(); // 英数字を小文字に変換
    }

    // ★★ 工事中 25/07/19
    //「Javascriptで入力フォームからリストをリアルタイムで検索する方法」を参照（URLは下記）
    //https://design-tera.com/blog/archives/6666/
    SearchInput.addEventListener('input', function() {

      console.log('inputイベントで' + SearchInput.value + 'が認識されました1');

      //const HiddenBuyerOptions = document.getElementById('id_HiddenBuyerSelect').options;
      var BuyerOptions = document.getElementById('id_BuyerSelect').options;
      var NormalizedInput = normalizeText(SearchInput.value); // 入力されたクエリを正規化
      var keywords = NormalizedInput.split(/[\s\u3000]+/).filter(keyword => keyword); // スペースで分割してキーワード配列を生成

      console.log('nomalizeTextにより' + NormalizedInput + 'に変換されました');
      for (let i=BuyerOptions.length-1 ; i >= 0 ; i--) {
        BuyerOptions.remove( i );
      }

      let obj_buyEntityName = JSON.parse('{{ json_buyEntityName|safe }}' || "null");
      //「safe」はエスケープを無効化する.Django側で''を除いた形で認識する
      //https://se-memorandum.com/django-safe/

      console.log(obj_buyEntityName);
      console.log('forEachに入る前です');

      //keyおよびobj_buyEntityName[key]には、entityNameが入る
      Object.keys(obj_buyEntityName).forEach((key) => {

        matches = keywords.some(keyword => normalizeText(obj_buyEntityName[key]).includes(keyword));

        console.log(key, obj_buyEntityName[key]);
        if(matches){
          let option = document.createElement('option');
          option.value = key;  //option.valueは非表示部。（key, value）のvalueと間違わないように！
          option.text = obj_buyEntityName[key];         
          //option.setAttribute("value", key);  //option.valueは非表示部。（key, value）のvalueと間違わないように！
          //option.appendChild(document.createTextNode(obj_buyEntityName[key]));

          console.log('BuyerOptions=', BuyerOptions);
          console.log('option.innerHTML=', option.innerHTML);

          BuyerOptions.add(option);
        }
      });
    });

    BuyerSelect.addEventListener('click', (event) => {
      console.log('BuyerSelect.addEventListener(change)に入りました');
      SearchInput.value = obj_buyEntityName[event.target.value];  
    });
  });


</script>

{% endblock %}