{% extends "buyer/index/base_qconnect.html" %}

{% load bootstrap_icons %}
{% block content %}

<!-- 260216 郵便番号から住所を自動入力するためのスクリプト -->
<script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>

<div class="authentication-bg align-items-start">

  <div class="container">

    {% if messages %}
      <div class="messages row justify-content-center mt-2 mx-2">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} py-1 rounded-1 mb-0" role="alert">
            <span>{{ message }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    
    <nav class="mt-2 bg-light rounded-3 border-top shadow-sm"
      aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb px-2" style="font-size: 0.85rem !important">
        <li class="breadcrumb-item"><a href="{% url 'accounts:mypage_buyer' %}">
          {% bs_icon 'house' color='cornflowerblue' size='1.2em' %}
          マイページトップ</a></li>
        <li class="breadcrumb-item" aria-current="page">本登録（入力）</li>
      </ol>
    </nav>

    <div class ="row justify-content-center">
      <div class="col-10">
        <div class="progress mt-1 mb-1" style="height: 12px" >
          <div class="progress-bar bg-secondary" role="progressbar"
            style="width: 25%"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            仮登録
          </div>

          <div class="progress-bar bg-secondary" role="progressbar"
            style="width: 25%"
            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            メール受領
          </div>

          <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar"
            style="width: 25%"
            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            本登録
          </div>

          <div class="progress-bar bg-secondary" role="progressbar"
            style="width: 25%"
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            利用規約確認
        </div>
      </div>
    </div>

    
    <!-- パートナーの場合は法人のみ（個人での登録なし） -->
    {% if user.type2 == 2 %}

      <!-- 必要項目の入力 -->
      {% if flag_step == 1 %}

        <div class="d-flex align-items-center justify-content-center mt-4">
          <h5 class="text-secondary"><b>本登録（ご入力）</b></h5>
          <i class="bi bi-pencil-square" style="font-size:1.8em; color:deeppink;"></i>
        </div> 

        <form method="POST" class="h-adr"> <!--「class="adr"」は郵便番号から住所を自動入力するため -->
          {% csrf_token %}
          {{ form.non_field_errors }}

          <!-- パートナーの企業情報を入力するフォーム -->
          <div class="row justify-content-center mt-3 mb-2">
            <div class="d-flex col-md-10 col-lg-8 col-xl-6 text-left">
              <i class="bi bi-building-fill"
                style="font-size:1.5em; color:deeppink;"></i>
              <h6 class="text-secondary ms-3"><b>会社情報</b></h6>
            </div>
          </div>  
          
          <div class="form-group row justify-content-center px-4">
            <label class="col-md-3 col-lg-2 col-form-label pb-1"
              for="{{form.entityname.id_for_label}}">
              企業名
            </label>
            <div class="col-md-7 col-lg-6 col-xl-4">
              <input type="{{form.entityname.widget.input_type}}" class='form-control'
                name='{{form.entityname.name}}'
                value="{{form.entityname.value|default:''}}"
                id='{{form.entityname.id_for_label}}' >
            </div>
          </div>
          {% if form.entityname.errors %}
            <div class="row justify-content-center px-4">
              <div class="col-md-10 col-lg-8 col-xl-6 text-left mb-1"
                style="color:red; font-size: 0.8rem">
                {{ form.entityname.errors.as_text }}</div>
            </div>
          {% endif %}
  

          <div class="form-group row justify-content-center px-4">
            <label class="col-md-3 col-lg-2 col-form-label pb-1"
              for="{{form.representitive.id_for_label}}" >
              代表者名
            </label>
            <div class="col-md-7 col-lg-6 col-xl-4">
              <input type="{{form.representitive.widget.input_type}}" class='form-control'
                name="{{form.representitive.name}}"
                value="{{form.representitive.value|default:''}}"
                placeholder="記入例：窮仁 太郎"
                id="{{form.representitive.id_for_label}}" >
            </div>
          </div>
          {% if form.representitive.errors %}
            <div class="row justify-content-center px-4">
              <div class="col-md-10 col-lg-8 col-xl-6 text-left mb-1" style="color:red;">
                {{ form.representitive.errors.as_text }}</div>
            </div>
          {% endif %}

          <div class="form-group row justify-content-center px-4">
            <label class="col-md-3 col-lg-2 col-form-label pb-1"
              for="{{form.tel_entity.id_for_label}}" >
              電話番号（代表）
            </label>
            <div class="col-md-7 col-lg-6 col-xl-4">
              <input type="{{form.tel_entity.widget.input_type}}" class='form-control'
                name="{{form.tel_entity.name}}"
                value="{{form.tel_entity.value|default:''}}"
                placeholder="数字のみご記載ください。"
                id="{{form.tel_entity.id_for_label}}">
            </div>
          </div>
          {% if form.tel_entity.errors %}
            <div class="row justify-content-center px-4">
              <div class="col-md-10 col-lg-8 col-xl-6 text-left mb-1" style="color:red;">
                {{ form.tel_entity.errors.as_text }}</div>
            </div>
          {% endif %}
          <br>

          <!-- 260216 郵便番号から住所を自動入力する機能を追加 -->
          <!-- ①スクリプト「yubinbango.js」の追加、②<form>内に「class="adr"」を追加 -->
          <span class="p-country-name" style="display:none;">Japan</span>
              
          <div class="form-group row justify-content-center px-4">
            <label class="col-md-3 col-lg-2 col-form-label pb-1"
              for="{{form.zip_entity.id_for_label}}" >
              郵便番号〒
            </label>
            <div class="col-md-7 col-lg-6 col-xl-4">
              <input type="{{form.zip_entity.widget.input_type}}"
                class="form-control p-postal-code"
                size="8" maxlength="8"
                name="{{form.zip_entity.name}}"
                value="{{form.zip_entity.value|default:''}}"
                placeholder="数字のみご記載ください。"
                id="{{form.zip_entity.id_for_label}}" >
            </div>
          </div>
          {% if form.zip_entity.errors %}
            <div class="row justify-content-center px-4">
              <div class="col-md-10 col-lg-8 col-xl-6 text-left mb-1" style="color:red;">
                {{ form.zip_entity.errors.as_text }}</div>
            </div>
          {% endif %}

          <div class="form-group row justify-content-center px-4">
            <label
              class="col-md-3 col-lg-2 col-form-label pb-1"
              for="{{form.address1.id_for_label}}" >
              住所
            </label>
            <div class="col-md-7 col-lg-6 col-xl-4">
              <input type="{{form.address1.widget.input_type}}"
                class='p-region p-locality p-street-address p-extended-address form-control'
                name="{{form.address1.name}}"
                value="{{form.address1.value|default:''}}"
                placeholder="都道府県・市町村・町"
                id="{{form.address1.id_for_label}}" >
            </div>
          </div>
          {% if form.address1.errors %}
            <div class="row justify-content-center px-4">
              <div class="col-md-10 col-lg-8 col-xl-6 text-left mb-1" style="color:red;">
                {{ form.address1.errors.as_text }}</div>
            </div>
          {% endif %}

          <div class="form-group row justify-content-center px-4">
            <label class="col-md-3 col-lg-2 col-form-label py-0"
              for="{{form.address2.id_for_label}}" >
            </label>
            <div class="col-md-7 col-lg-6 col-xl-4">
              <input type="{{form.address2.widget.input_type}}" class='form-control'
                name="{{form.address2.name}}"
                value="{{form.address2.value|default:''}}"
                placeholder="〇丁目〇番〇号、〇-〇-〇"
                id="{{form.address2.id_for_label}}" >
            </div>
          </div>
          {% if form.address2.errors %}
            <div class="row justify-content-center px-4">
              <div class="col-md-10 col-lg-8 col-xl-6 text-left mb-1" style="color:red;">
                {{ form.address2.errors.as_text }}</div>
            </div>
          {% endif %}

          <div class="form-group row justify-content-center px-4">
            <label class="col-md-3 col-lg-2 col-form-label py-0"
              for="{{form.address3.id_for_label}}" >
            </label>
            <div class="col-md-7 col-lg-6 col-xl-4">
              <input type="{{form.address3.widget.input_type}}" class='form-control'
                name="{{form.address3.name}}"
                value="{{form.address3.value|default:''}}"
                placeholder="建物・マンション名　フロア・号室"
                id="{{form.address3.id_for_label}}" >
            </div>
          </div>
          {% if form.address3.errors %}
            <div class="row justify-content-center px-4">
              <div class="col-md-10 col-lg-8 col-xl-6 text-left" style="color:red;">
                {{ form.address3.errors.as_text }}
              </div>
           </div>
          {% endif %}

          <hr class="mt-4">
        
          <!-- パートナー企業の担当者情報を入力するフォーム -->
          <div class="row justify-content-center mt-4 mb-2">
            <div class="d-flex col-md-10 col-lg-8 col-xl-6 text-left">
              <i class="bi bi-file-person-fill"
                style="font-size:1.5em; color:deeppink;"></i>
              <h6 class="text-secondary ms-3"><b>お申込者の情報</b></h6>
            </div>
          </div>  

          <div class="row justify-content-center px-4">
            <div class="col-6 col-md-5 col-lg-4 col-xl-3 pe-1">
              <label for="{{form.lastname.id_for_label}}" class="form-label mb-0">
                姓</label>
              <input type="{{form.lastname.widget.input_type}}"
                class="form-control"
                name="{{form.lastname.name}}"
                value="{{form.lastname.value|default:''}}"
                id="{{form.lastname.id_for_label}}"
                placeholder="例：山田">
            </div>

            <div class="col-6 col-md-5 col-lg-4 col-xl-3 ps-0">
              <label for={{form.firstname.id_for_label}} class="form-label mb-0">
                名</label>
              <input type="{{form.firstname.widget.input_type}}"
                class="form-control"
                name="{{form.firstname.name}}"
                value="{{form.firstname.value|default:''}}"
                id="{{form.firstname.id_for_label}}"
                placeholder="例：次郎">
            </div>
          </div> <!-- end of row -->

          {% if form.lastname.errors or form.firstname.errors %}
            <div class="row justify-content-center px-4">
              <div class="col-6 col-md-5 col-lg-4 col-xl-3 pe-1 text-left" style="color:red;">
                {{ form.lastname.errors.as_text }}</div>
              <div class="col-6 col-md-5 col-lg-4 col-xl-3 ps-0 text-left" style="color:red;">
                {{ form.firstname.errors.as_text }}</div>
            </div>
          {% endif %}


          <div class="row justify-content-center px-4">
            <div class="col-6 col-md-5 col-lg-4 col-xl-3 pe-1 mt-2">
              <label for="{{form.lastname_kana.id_for_label}}" class="form-label mb-0">
                姓（フリガナ）</label>
              <input type="{{form.lastname_kana.widget.input_type}}" class="form-control"
                name="{{form.lastname_kana.name}}"
                value="{{form.lastname_kana.value|default:''}}"
                id="{{form.lastname_kana.id_for_label}}"
                placeholder="例：ヤマダ">
            </div>

            <div class="col-6 col-md-5 col-lg-4 col-xl-3 ps-0 mt-2">
              <label for={{form.firstname_kana.id_for_label}} class="form-label mb-0">
                名（フリガナ）</label>
              <input type="{{form.firstname_kana.widget.input_type}}" class="form-control"
                name="{{form.firstname_kana.name}}"
                value="{{form.firstname_kana.value|default:''}}"
                id="{{form.firstname_kana.id_for_label}}"
                placeholder="例：ジロウ">
            </div>
          </div>

          {% if form.lastname_kana.errors or form.firstname_kana.errors %}
            <div class="row justify-content-center px-4">
              <div class="col-6 col-md-5 col-lg-4 col-xl-3 pe-1 text-left" style="color:red;">
                {{ form.lastname_kana.errors.as_text }}</div>
              <div class="col-6 col-md-5 col-lg-4 col-xl-3 ps-0 text-left" style="color:red;">
                {{ form.firstname_kana.errors.as_text }}</div>
            </div>
          {% endif %}

          <div class="row justify-content-center px-4">
            <div class="col-md-10 col-lg-8 col-xl-6">
              <hr>
            </div>
          </div>


          <div class="form-group row justify-content-center px-4">
            <label class="col-md-3 col-lg-2 col-form-label pb-1"
              for="{{form.tel_user.id_for_label}}" >
              あなたの電話番号</label>
            <div class="col-md-7 col-lg-6 col-xl-4">
              <input type="{{form.tel_user.widget.input_type}}" class='form-control'
                name="{{form.tel_user.name}}"
                value="{{form.tel_user.value|default:''}}"
                placeholder="数字のみご記載ください"
                id="{{form.tel_user.id_for_label}}" >
            </div>
          </div>
          {% if form.tel_user.errors %}
            <div class="row justify-content-center px-4">
              <div class="col-md-10 col-lg-8 col-xl-6 text-left" style="color:red;">
                {{ form.tel_user.errors.as_text }}</div>
            </div>
          {% endif %}

          <div class="form-group row justify-content-center px-4">
            <label class="col-md-3 col-lg-2 col-form-label pb-1"
              for='{{form.department.id_for_label}}' >
              部署</label>
            <div class="col-md-7 col-lg-6 col-xl-4">
              <input type='{{form.department.widget.input_type}}' class='form-control'
                name="{{form.department.name}}"
                value="{{form.department.value|default:''}}"
                placeholder=""
                id="{{form.department.id_for_label}}" >
            </div>
          </div>
          {% if form.department.errors %}
            <div class="row justify-content-center px-4">
              <div class="col-md-10 col-lg-8 col-xl-6 text-left" style="color:red;">
                {{ form.department.errors.as_text }}</div>
            </div>
          {% endif %}

          <div class="form-group row justify-content-center px-4">
            <label class="col-md-3 col-lg-2 col-form-label pb-1"
              for="{{form.title.id_for_label}}" >
              役職</label>
            <div class="col-md-7 col-lg-6 col-xl-4">
              <input type="{{form.title.widget.input_type}}" class='form-control'
                name="{{form.title.name}}"
                value="{{form.title.value|default:''}}"
                placeholder=""
                id="{{form.title.id_for_label}}" >
            </div>
          </div>
          {% if form.title.errors %}
            <div class="row justify-content-center px-4">
              <div class="col-md-10 col-lg-8 col-xl-6 text-left" style="color:red;">
                {{ form.title.errors.as_text }}</div>
            </div>
          {% endif %}

          <div class="row justify-content-center mt-4 px-4">
            <div class="col-md-10 col-lg-8 col-xl-6">
              <button type="submit" class="btn btn-primary w-100 shadow"
                name="next1"
                value="ToConfirm_{{user.id}}">
                ご入力内容の確認に進む
              </button>
            </div>
          </div>

          <!--
          <div class= "d-flex justify-content-center pt-4">
            <button type="submit" class="btn btn-primary shadow"
              name="next1"
              value="ToConfirm_{{user.id}}">
              ご入力内容の確認に進む</button>
          </div>
          -->

        </form>

      {% endif %} <!-- end of 「if flag_step == 1」-->
    {% endif %} <!-- end of 「if user.type1 == 2」-->


    <!-- 入力内容の確認 -->
    {% if flag_step == 2 %}

      <div class="d-flex justify-content-center mt-4">
        <h5 class="text-secondary pt-1"><b>本登録（内容ご確認）</b></h5>
        <i class="bi bi-list-check ps-1" style="font-size:2.4em; color:deeppink;"></i>
      </div> 

      <div class ="row justify-content-center px-4">
        <div class="col-md-9 col-lg-6">

          <div class="d-flex justify-content-start mt-3">
            <i class="bi bi-building-fill"
              style="font-size:1.5em; color:deeppink;"></i>
            <h6 class="text-secondary ms-2"><b>会社情報</b></h6>
          </div>  

          <table class="table table-sm bg-light
            table-bordered border-primary-subtle shadow ms-1">
            <tbody class="text-center">
              <tr>
                <th scope="col" width="33%" class="table-primary">会社名</th>
                <td>{{ form.entityname.value }}</td></tr>
              <tr>
                <th scope="col" width="33%" class="table-primary">代表者</th>
                <td>{{ form.representitive.value }}</td></tr>
              <tr>
                <th scope="col" width="33%" class="table-primary">郵便番号</th>
                <td>{{ form.zip_entity.value }}</td></tr>
              <tr>
                <th scope="col" width="33%" class="table-primary">郵便番号</th>
                <td>{{ form.address1.value }}　{{ form.address2.value }}<br>
                  {{ form.address3.value }}</td></tr>
              <tr>
                <th scope="col" width="33%" class="table-primary">電話番号</th>
                <td>{{ form.tel_entity.value }}</td></tr>
            </tbody>
          </table>
          <hr>
          
          <div class="d-flex justify-content-start mt-3">
            <i class="bi bi-file-person-fill"
              style="font-size:1.5em; color:deeppink;"></i>
            <h6 class="text-secondary ms-2"><b>お申込者の情報</b></h6>
          </div>  
          
          <table class="table table-sm bg-light
            table-bordered border-primary-subtle table-responsive shadow ms-1">
            <tbody class="text-center">
              <tr>
                <th scope="col" width="33%" class="table-primary">お名前</th>
                <td>{{ form.lastname.value }}　{{ form.firstname.value }}</td></tr>
              <tr>
                <th scope="col" width="33%" class="table-primary">電話番号</th>
                <td>{{ form.tel_user.value }}</td></tr>
              <tr>
                <th scope="col" width="33%" class="table-primary">部署</th>
                <td>{{ form.department.value }}</td></tr>
              <tr>
                <th scope="col" width="33%" class="table-primary">役職</th>

                <td>{{ form.title.value }}</td></tr>
            </tbody>
          </table>

          <hr>

          <form method="POST">
            {% csrf_token %}

            <div class="d-flex justify-content-center mt-2">
              <button type="submit" class="btn btn-outline-primary text-primary w-50 shadow"
                name="next1"
                value="BackToInput_{{user.id}}">
                ご入力に戻る</button>

              <button type="submit" class="btn btn-primary ms-1 w-50 shadow"
                name="next1"
                value="ToSave_{{user.id}}">
                ご入力内容を登録します</button>
            </div>

            {% for field in form %}
              {{field.as_hidden}}
            {% endfor %}

          </form>
        </div> <!-- end col -->
      </div> <!-- end row -->
      
    {% endif %}

  </div> <!-- end container -->
</div>


{% endblock %}

