{% extends "buyer/index/base_qconnect.html" %}

{% load bootstrap_icons %}

{% block content %}

<div class="authentication-bg align-items-start">

  <div class="container">

    {% if messages %}
      <div class="messages row justify-content-center mt-2 mx-2">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} py-1 rounded-1 mb-0" role="alert">
            <span>{{ message }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <nav class="mt-2 bg-light rounded-3 border-top shadow-sm"
      aria-label="breadcrumb" role="navigation">
      
      <ol class="breadcrumb px-2" style="font-size: 0.85rem !important">
        <li class="breadcrumb-item"><a href="{% url 'accounts:mypage_buyer' %}">
          {% bs_icon 'house' color='cornflowerblue' size='1.2em' %}
          マイページトップ</a></li>
        <li class="breadcrumb-item" aria-current="page">
          {% bs_icon 'gear' color='text-secondary' size='1.2em' %}
          設定メニュー</li>
      </ol>
    </nav>

    <div class="d-flex justify-content-center mt-5">
      <h5 class="text-secondary"><b>設定メニュー</b></h5>
      <span class="ms-3">{% bs_icon 'gear-fill' color='deeppink' size='2.0em' %}</span>
    </div>

    <div class="bg-light border border-top shadow rounded mt-3 p-5 mx-3">

      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3" >

        {% if cnt_toBeApproved_add >= 1 %}
        
          <form method="GET" action="{% url 'accounts:userAdd_buyer' %}">
            {% csrf_token %}


            <button type="submit"
              class="MenuBtn2 color-9 w-100 rounded-1 shadow"
              name="next"
              value="Permission">

              <span class="MenuBtn2IconCircle">
                <i class="bi bi-person-add" style="font-size:2.2em; color:cornflowerblue"></i>
              </span>
              ユーザー参加承認

              {% if cnt_toBeApproved_add >= 1 %}
                　
                <span class="badge bg-danger text-light rounded-1">
                  {{ cnt_toBeApproved_add }}
                </span>
                <span class="visually-hidden">未承認データ</span>
              {% endif %}

            </button>
          </form> <!-- end col -->
        {% endif %}
        
        <form method="GET" action="{% url 'accounts:profileEdit_buyer' %}">
          {% csrf_token %}

          <button type="submit"
            class="MenuBtn2 color-9 w-100 rounded-1 shadow"
            name="next"
            value="History">
            
            <span class="MenuBtn2IconCircle pt-1">
              <i class="bi bi-pencil-square" style="font-size:2.0em; color:cornflowerblue"></i>
            </span>
            登録情報変更

            {% if flag_sendback == 1 %}
              　
              <span class="badge bg-danger text-light rounded-1">
                1
              </span>
              <span class="visually-hidden">未承認データ</span>
            {% endif %}

          </button>
        </form>

        <form method="GET" action="{% url 'accounts:passwordChange_buyer' %}">
          {% csrf_token %}

          <button type="submit"
            class="MenuBtn2 color-9 w-100 rounded-1 shadow"
            name="next"
            value="History">
            
            <span class="MenuBtn2IconCircle">
              <i class="bi bi-key" style="font-size:2.2em; color:cornflowerblue"></i>
            </span>
            パスワード変更
          </button>
        </form>

        <form method="GET" action="{% url 'accounts:permissionSets_buyer' %}">
          {% csrf_token %}
            
          <button type="submit"
            class="MenuBtn2 color-9 w-100 rounded-1 shadow"
            name="next"
            value="Permission">

            <span class="MenuBtn2IconCircle">
              <i class="bi bi-people" style="font-size:2.2em; color:cornflowerblue"></i>
            </span>
            ユーザー権限設定

          </button>

        </form> <!-- end col -->
    
      </div> <!-- end row row-cols-->
    </div>
  </div> <!-- end container-->
</div>


{% endblock %}