{% extends "buyer/index/base_qconnect.html" %}

{% load bootstrap_icons %}

{% block content %}

<div class="authentication-bg align-items-start">

  <div class="container">

    {% if messages %}
      <div class="messages row justify-content-center mt-2 mx-2">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} py-2 rounded-1 mb-0" role="alert">
            <span style="font-size:0.9rem">{{ message }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    
    <div class="row justify-content-center mt-2 mx-4">
      <div class="col-md-10">
        <div class="alert alert-warning py-2 my-0" role="alert">
          来月初のQneeへのお支払いは●円です（支払が発生しているときに表示する）
        </div>
      </div>
    </div>
    
    <hr class="mt-2 pt-0">

    <div class="d-flex justify-content-center pt-4 pb-2">
      <h5 class="text-secondary pt-1">
      <b>お手続きメニュー</b></h5>
      <span class="ms-3">{% bs_icon 'menu-app' color='deeppink' size='2.5em' %}</span>
    </div>

    <div class="d-block d-lg-none">

      <div class="row justify-content-center mt-4 mx-3">
        <div class="col-md-10">

          <form method="GET" action="{% url 'qpay:txApprove_buyer' %}" class="mt-3">
            {% csrf_token %}

            <button type="submit"
              class="MenuBtn1 color-9"
              name="next"
              value="ApplyQpay">

              <span class="MenuBtn1IconCircle pt-2">
                <i class="bi bi-inbox" style="font-size:2.0em; color:cornflowerblue"></i>
              </span>
              <span class="MenuBtn1Text">
                <h5 class="ms-2">QPAY承認待ち</h5>
              </span>
              {% if cnt_toBeApproved_qpay >= 1 %}
                　
                <span class="badge bg-danger text-light rounded-1 mb-1">
                  {{ cnt_toBeApproved_qpay }}
                </span>
                <span class="visually-hidden">未承認データ</span>
              {% endif %}
            </button>
          </form>
          
        </div> <!-- end of col -->
      </div> <!-- end of row -->

      <div class="row justify-content-center mt-1 mx-3">
        <div class="col-md-10">

          <form method="GET" action="{% url 'send:invitationSets' %}" class="mt-3">
            {% csrf_token %}

            <button type="submit"
              class="MenuBtn1 color-9"
              name="next"
              value="Send">

              <span class="MenuBtn1IconCircle pt-2">
                <i class="bi bi-envelope" style="font-size:2.0em; color:cornflowerblue"></i>
              </span>
              <span class="MenuBtn1Text">
                <h5 class="ms-2">ゲストへ各種案内</h5>
              </span>

            </button>
          </form>

        </div> <!-- end of col -->
      </div> <!-- end of row -->

      <div class="row justify-content-center mt-1 mx-3">
        <div class="col-md-10">

          <form method="GET" action="{% url 'qpay:txList_buyer' %}" class="mt-3">
            {% csrf_token %}

            <button type="submit"
              class="MenuBtn1 color-9"
              name="next"
              value="Issue">

              <span class="MenuBtn1IconCircle pt-2">
                <i class="bi bi-receipt-cutoff" style="font-size:2.0em; color:cornflowerblue"></i>
              </span>
              <span class="MenuBtn1Text">
                <h5 class="ms-2">取引履歴・書類発行</h5>
              </span>

            </button>
          </form>

        </div> <!-- end of col -->
      </div> <!-- end of row -->

      <div class="row justify-content-center mt-1 mx-3">
        <div class="col-md-10">

          <form method="GET" action="{% url 'accounts:infoEdit_buyer' %}" class="mt-3">
            {% csrf_token %}

            <button type="submit"
              class="MenuBtn1 color-9"
              name="next"
              value="InfoEdit">

              <span class="MenuBtn1IconCircle pt-2">
                <i class="bi bi-gear" style="font-size:2.0em; color:cornflowerblue;"></i>
              </span>
              <span class="MenuBtn1Text ms-3">
                <h5>設定・承認メニューへ</h5>
              </span>

              <!-- ユーザー追加の承認待ちがある場合に件数表示 -->  
              {% if cnt_toBeApproved_add %}

                <span class="badge bg-danger text-light rounded-1 ms-3">
                  {{ cnt_toBeApproved_add }}
                </span>
                <span class="visually-hidden">未承認データ</span>
              {% endif %}
            </button>
          </form>

        </div> <!-- end of col -->
      </div> <!-- end of row -->

    </div>


    <div class="d-none d-lg-block">

      <!-- row-cols-md-3が前の項を上書きを行っている -->
      <div class="row justify-content-center mx-4">
        <div class="col-md-10">

          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 text-center" >

            <div class="col mt-4">

              <div class="card rounded-2 shadow">
                <div class="card-header py-2">
                  <h5 class="my-0 w-normal">
                    QPAY承認待ち
                  </h5>
                </div>

                <div class="card-body shadow pb-0">
                  {% bs_icon 'inbox' color='cornflowerblue' size='2.5em' %}

                  <form method="GET" action="{% url 'qpay:txApprove_buyer' %}" class="mt-3">
                    {% csrf_token %}
                    <button type="submit"
                      class="w-100 shadow btn btn-outline-primary btn-sm"
                      name="next"
                      value="ApproveQpay">
                      ご承認へ
                      {% if cnt_toBeApproved_qpay >= 1 %}
                        <span class="badge bg-danger text-light rounded-1 ms-1">
                          {{ cnt_toBeApproved_qpay }}
                        </span>
                        <span class="visually-hidden">未承認データ</span>
                      {% endif %}
                    </button>
                  </form>
                </div>
              </div>
            </div>

            
            <div class="col mt-4">
              <div class="card rounded-2 shadow">
                <div class="card-header py-2">
                  <h5 class="my-0 fw-normal">
                    ゲストへ各種案内
                  </h5>
                </div>

                <div class="card-body shadow pb-0">
                  {% bs_icon 'envelope' color='cornflowerblue' size='2.5em' %}

                  <form method="GET" action="{% url 'send:invitationSets' %}" class="mt-3">
                    {% csrf_token %}
                    <button type="submit"
                      class="w-100 shadow btn btn-outline-primary btn-sm"
                      name="next"
                      value="Send">設定へ</button>
                  </form>
                </div>

              </div>
            </div>

            <div class="col mt-4">
              <div class="card rounded-2 shadow">
                <div class="card-header py-2">
                  <h5 class="my-0 fw-normal">取引履歴・書類発行</h5>
                </div>

                <div class="card-body shadow pb-0">
                  {% bs_icon 'receipt-cutoff' color='cornflowerblue' size='2.5em' %}

                  <form method="GET" action="{% url 'qpay:txList_buyer' %}" class="mt-3">
                    {% csrf_token %}
                    <button type="submit"
                      class="w-100 shadow btn btn-outline-primary btn-lg"
                      name="next"
                      value="Issue">
                      ご確認へ</button>

                      <!-- <button type="button" class="w-100 btn btn-lg btn-primary">手続きへ</button> -->
                  </form>
                </div>

              </div>
            </div>

            <div class="col mt-4">
              <div class="card rounded-2 shadow">
              <!-- <div class="card mb-4 rounded-3 shadow-sm border-primary"> -->
                <div class="card-header py-2"> 
                <!-- <div class="card-header py-3 text-bg-primary border-primary"> -->
                  <h5 class="my-0 fw-normal">設定・承認</h5>
                </div>
                <div class="card-body shadow pb-0">
                  {% bs_icon 'pencil-square' color='cornflowerblue' size='2.5em' %}

                  <form method="GET" action="{% url 'accounts:infoEdit_buyer' %}" class="mt-3">
                    {% csrf_token %}
                    
                    <button type="submit"
                      class="w-100 shadow btn btn-outline-primary btn-lg"
                      name="next"
                      value="myinfo">
                      ご編集へ

                      <!-- ユーザー追加の承認待ちがある場合に件数表示 -->  
                      {% if cnt_toBeApproved_add >= 1 %}

                        <span class="badge bg-danger text-light rounded-1 ms-1">
                          {{ cnt_toBeApproved_add }}
                        </span>
                        <span class="visually-hidden">未承認データ</span>
                      {% endif %}
                    </button>
                    <!-- <button type="button" class="w-100 btn btn-lg btn-primary">手続きへ</button> -->
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div> <!-- end of col -->
      </div> <!-- end of row -->

    </div> <!-- end of d-noe d-lg-block -->

  </div>
</div>

{% endblock %}


{% block extrajs %}

<script>

  document.addEventListener('DOMContentLoaded', function() {

    // 3秒後にメッセージを消す
    setTimeout(function() {
      console.log('setTimeoutが認識されました');

      var messages = document.querySelectorAll('.messages div');
      messages.forEach(function(message) {
        message.style.display = 'none';
      });
    }, 3000); // 3000ミリ秒 = 3秒
  });

</script>

{% endblock %}