{% extends 'buyer/index/base_qconnect.html' %}

{% load bootstrap_icons %}

{% block content %}

<div class="authentication-bg min-vh-100 min-vw-100 align-items-start">

  <div class="container">

    <div class="row justify-content-center mt-2">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} py-2 rounded-1" role="alert">
          <span>{{ message }}</span>
        </div>
      {% endfor %}
    </div>

    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb bg-light-subtle px-2 rounded-3 mt-2">
        <li class="breadcrumb-item"><a href="{% url 'accounts:mypage_buyer' %}">
          {% bs_icon 'house' color='cornflowerblue' size='1.2em' %}
          マイページトップ</a></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts:infoEdit_buyer' %}">
          {% bs_icon 'gear' color='cornflowerblue' size='1.2em' %}
          設定メニュー</a></li>
        <li class="breadcrumb-item" aria-current="page">パスワード変更</li>
      </ol>
    </nav>

    <div class="row justify-content-center mt-5 mx-5">
      <div class="col-md-8 col-lg-6 col-xl-5">

        <div class="d-flex justify-content-start mt-4">
          <i class="bi bi-key" style="font-size:2.0em; color:deeppink;"></i>
          <i class="bi bi-stars" style="font-size:1.0em; color:deeppink;"></i>
          <h5 class="text-secondary ms-2"><b>パスワードの変更</b></h5>
        </div>
        
        <form method="POST" class="mt-5" action="" >

          {% csrf_token %}

          {{ form.non_field_errors }}

          {% if form.old_password.errors %}
            <div style="color:red;">{{ form.old_password.errors.as_text }}<br></div>        
          {% endif %}

          <input type='form.old_password.widget.input_type' class='form-control'
            name="{{form.old_password.name}}"
            value="{{form.old_password.value|default:''}}"
            placeholder="元のパスワード"
            id="{{form.old_password.id_for_label}}" >
          <hr>

          {% if form.new_password1.errors %}
            <div style="color:red;">{{ form.new_password1.errors.as_text }}<br></div>        
          {% endif %}

          <input type='form.new_password1.widget.input_type' class='form-control'
            name="{{form.new_password1.name}}"
            value="{{form.new_password1.value|default:''}}"
            placeholder="変更後パスワード"
            id="{{form.new_password1.id_for_label}}" >

          {% if form.new_password2.errors %}
            <div style="color:red;">{{ form.new_password2.errors.as_text }}<br></div>        
          {% endif %}

          <input type='form.new_password2.widget.input_type' class='form-control'
            name="{{form.new_password2.name}}"
            value="{{form.new_password2.value|default:''}}"
            placeholder="変更後パスワード（確認用）"
            id="{{form.new_password2.id_for_label}}" >
          <hr>

          <button type="submit" class="btn btn-primary btn-lg w-100">変更</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
