{% extends "buyer/index/base_qconnect.html" %}

{% load bootstrap_icons %}
{% load humanize %} 

{% block content %}
{% csrf_token %}

<div class="authentication-bg align-items-start">

  <div class="container">

    {% if messages %}
      <div class="messages row justify-content-center mt-2">
      {% for message in messages %}
          <div class="alert alert-{{ message.tags }} py-1 rounded-1 mb-0" role="alert">
          <span>{{ message }}</span>
        </div>
      {% endfor %}
    </div>
    {% endif %}

    <nav class="mt-2 bg-light rounded-3 border-top shadow-sm"
      aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb px-2" style="font-size: 0.85rem !important">
        <li class="breadcrumb-item"><a href="{% url 'accounts:mypage_buyer' %}">
          {% bs_icon 'house' color='cornflowerblue' size='1.2em' %}
          マイページトップ</a></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts:infoEdit_buyer' %}">
          {% bs_icon 'gear' color='cornflowerblue' size='1.2em' %}
          設定メニュー</a></li>
        <li class="breadcrumb-item">
          {% bs_icon 'pencil-square' color='text-secondary' size='1.2em' %}
          登録情報編集</li>
      </ol>
    </nav>

    <div id="loading">
      <div class="spinner-border text-primary"
        style="width: 3rem; height: 3rem;"
        role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <p class="mt-5">処理中です... しばらくお待ちください</p>
    </div>

    {% if step_upEvidence == 1 %}

      <div class="d-flex justify-content-center mt-5">
        <h5 class="text-secondary">
          <b>証明書のアップロード</b></h5>
        <i class="bi bi-file-arrow-up ms-2" style="font-size:1.8em; color:deeppink;"></i>
      </div>

      <div class="row justify-content-center mt-3 px-3">
        <div class="col-md-8 col-lg-6">

          <form method="POST"
            action="{% url 'accounts:profileEdit_buyer' %}"
            class="form-group bg-light border border-top shadow rounded-1 p-2 mt-2"
            enctype="multipart/form-data">
        
            {% csrf_token %}

            <div class="row justify-content-center pt-2 mx-2">
              <input type="file" class="form-control"
                style="font-size:0.9rem"
                name="{{form.evidence.name}}"
                value="{{form.evidence.value|default:''}}"
                placeholder="更新したい情報を証明する資料アップロードしてください"
                id="{{form.evidence.id_for_label}}" >
            </div>
            {% if form.evidence.errors %}
              <div style="color:red;">{{ form.evidence.errors.as_text }}<br></div>
            {% endif %}
          
            <div class="d-flex justify-content-center pt-2 mx-2">
              <button type="submit" class="btn btn-primary w-100"
                name="actionBtn"
                value="ToEvidenceConfirm_corp">
                アップロード・ファイルの確認へ</button>
            </div>

          </form>

        {% endif %}


        {% if step_upEvidence == 2 %}

          <div class="d-flex justify-content-center mt-5">
            <h5 class="text-secondary">
              <b>アップロード・ファイルの確認</b></h5>
            <i class="bi bi-list-check ms-3" style="font-size:2.2em; color:deeppink;"></i>
          </div>

          <div class="row justify-content-center mt-3 px-4">
            <div class="col-md-8 col-lg-6">
              
              <form method="POST"
                action="{% url 'accounts:profileEdit_buyer' %}"
                class="form-group bg-light border border-top shadow rounded-1 p-2"
                enctype="multipart/form-data"
                id="id_PostForm">
        
                {% csrf_token %}
                
                <div class="d-flex justify-content-center py-1">
                  <button type="submit" class="btn btn-outline-primary w-50"
                    name="actionBtn"
                    value="ToEvidenceSelect_corp">
                    再アップロード</button>
                  <button type="submit" class="btn btn-primary w-50 ms-1"
                    name="actionBtn"
                    value="ToApplyToQnee_corp">
                    Qneeに申請</button>
                </div>

                <hr class="mt-1">

                <div class="row justify-content-center mx-1">
                  <img src="{{ corpInfo.evidence.url}}" class="img-thumbnail">
                </div>

                {% for field in form %}
                  {{ field.as_hidden }}
                {% endfor %}

              </form>
            </div>
          </div>
        </div>
      </div>

    {% endif %}

  </div>
</div>

<script defer>
  console.log('スクリプトは認識しているようです。')

  document.getElementById('id_PostForm').addEventListener('submit', function() {
    document.getElementById('loading').style.display = 'block';
  });
  
</script>

{% endblock %}