{% extends "buyer/index/base_qconnect.html" %}

{% block content %}

<div class="authentication-bg min-vh-100 min-vw-100 align-items-start">

  <div class="container">

    <div class="row justify-content-center mt-1">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} py-2 rounded-1" role="alert">
          <span>{{ message }}</span>
        </div>
      {% endfor %}
    </div>

    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb bg-light-subtle px-2 rounded-3 mt-1">
        <li class="breadcrumb-item">
          <a href="{% url 'accounts:mypage_buyer' %}">
          <i class="bi bi-house" style="font-size:1.2em; color:cornflowerblue;"></i>
          マイページトップ</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
          <a href="{% url 'accounts:infoEdit_buyer' %}">
            <i class="bi bi-gear" style="font-size:1.2em; color:text-secondary;"></i>
            設定メニュー</a></li>
        <li class="breadcrumb-item" aria-current="page">
          <i class="bi bi-person-check" style="font-size:1.5em; color:text-secondary;"></i>
            参加承認
        </li>
      </ol>
    </nav>

    <div class="row justify-content-center my-auto mt-4">
      <div class="col-10 col-md-8 col-lg-6 col-xl-5">

        <div class="d-flex justify-content-center mt-4">
          <h5 class="text-secondary mt-1"><b>ユーザーからの参加申請</b></h5>
          <i class="bi bi-envelope-open ms-3" style="font-size:2.0em; color:deeppink;"></i>
        </div> 

        <!-- 承認者がメールからアプリに入る場合の処理 -->
        {% if flag_userAdd == 1 %}

          <form method="POST" action="{% url 'accounts:userAdd_buyer' %}"
            class="form-group border border-top shadow-sm p-3 bg-light rounded mt-2">

            {% csrf_token %}         
            {{ form.non_field_errors }}

            <table class="table table-sm table-bordered border-primary-subtle table-responsive">
              <tbody class="text-center">
                <tr>
                  <th scope="col" width="33%" class="table-primary" style="text-align:left;">申請者</th>
                  <td style="text-align: right;">{{ applyUser.userName }}さん</td></tr>
                <tr>
                  <th scope="col" width="33%" class="table-primary" style="text-align:left;">電話番号</th>
                  <td style="text-align: right;">{{ applyUser.tel_user }}</td></tr>
                  <tr>
                  <th scope="col" width="33%" class="table-primary" style="text-align:left;">所属部署</th>
                  <td style="text-align: right;">{{ applyUser.department }}</td></tr>
                <tr>
                  <th scope="col" width="33%" class="table-primary" style="text-align:left;">役職</th>
                  <td style="text-align: right;">{{ applyUser.title }}</td></tr>
              </tbody>
            </table>

            <table class="table table-sm table-bordered border-primary-subtle table-responsive">
              <tbody class="text-center">
                <tr>
                  <th scope="col" width="33%" class="table-primary" style="text-align:left;">各種権限</th>
                  <td style="text-align:left;">
                
                    <div class="form-check form-switch ms-2">
                      <input class="form-check-input col-xs-3 col-lg-2" type="checkbox"
                        id="{{form.canApprove_all.id_for_label}}"
                        name="{{form.canApprove_all.name}}"
                        value="True">
                      <label class="form-check-label col-xs-6 col-lg-6 ms-3"
                        for="{{form.canApprove_all.id_for_label}}">
                        すべて</label>
                    </div>

                    <div class="form-check form-switch ms-2">
                      <input class="form-check-input col-xs-3 col-lg-2" type="checkbox"
                        id="{{form.canApprove_add.id_for_label}}"
                        name="{{form.canApprove_add.name}}"
                        value="True">
                       <label class="form-check-label col-xs-6 col-lg-6 ms-3"
                        for="{{form.canApprove_add.id_for_label}}">
                        ユーザー追加</label>
                    </div>
            
                    <div class="form-check form-switch ms-2">
                      <input class="form-check-input col-xs-3 col-lg-2" type="checkbox"
                        id="{{form.canApprove_qpay.id_for_label}}"
                        name="{{form.canApprove_qpay.name}}"
                        value="True">
                      <label class="form-check-label col-xs-6 col-lg-6 ms-3"
                        for="{{form.canApprove_qpay.id_for_label}}">
                        Ｑｐａｙ承認</label>
                    </div>

                  </td>
                </tr>
              </tbody>
            </table>

            <p></p>
          
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary w-30 shadow flex-grow-1 mes-1"
                name="next"
                value="ToApproveUser_{{applyUser.id}}" >
                参加を承認</button>

              <button type="submit" class="btn btn-outline-primary bg-light w-30 shadow flex-grow-1 ms-1"
                name="next"
                value="ToRefuseUser_{{applyUser.id}}" >
                承認しない</button>  

            </div>

          </form>

        {% endif %}


        <!-- infoEdit.htmlから遷移して処理する場合 -->
        {% if flag_userAdd == 2 %}

          <form method="POST" action="{% url 'accounts:userAdd_buyer' %}"
            class="form-group border border-top shadow-sm bg-light rounded mt-3 pt-0 pb-3 px-3">

            {% csrf_token %}         
            {{ form.non_field_errors }}

            {% for applyUser in applyUsers %}

              {% if forloop.first %} <br>
              {% else %} <hr class="">
              {% endif %}

              <table class="table table-sm table-bordered border-primary-subtle table-responsive mb-1">
                <tbody class="text-center">
                  <tr>
                    <th scope="col" width="33%" class="table-primary" style="text-align:left;">申請者</th>
                    <td style="text-align: right;">{{ applyUser.userName }}さん</td></tr>
                  <tr>
                    <th scope="col" width="33%" class="table-primary" style="text-align:left;">電話番号</th>
                    <td style="text-align: right;">{{ applyUser.tel_user }}</td></tr>
                    <tr>
                    <th scope="col" width="33%" class="table-primary" style="text-align:left;">所属部署</th>
                    <td style="text-align: right;">{{ applyUser.department }}</td></tr>
                  <tr>
                    <th scope="col" width="33%" class="table-primary" style="text-align:left;">役職</th>
                    <td style="text-align: right;">{{ applyUser.title }}</td></tr>
                </tbody>
              </table>

              <table class="table table-sm table-bordered border-primary-subtle table-responsive">
                <tbody class="text-center">
                  <tr>
                    <th scope="col" width="33%" class="table-primary" style="text-align:left;">各種権限</th>
                    <td style="text-align:left;">
                
                      <div class="form-check form-switch ms-2">
                        <input class="form-check-input col-xs-3 col-lg-2" type="checkbox"
                          id="{{form.canApprove_all.id_for_label}}"
                          name="{{form.canApprove_all.name}}"
                          value="True">
                        <label class="form-check-label col-xs-6 col-lg-6 ms-3"
                          for="{{form.canApprove_all.id_for_label}}">
                          すべて</label>
                      </div>

                      <div class="form-check form-switch ms-2">
                        <input class="form-check-input col-xs-3 col-lg-2" type="checkbox"
                          id="{{form.canApprove_add.id_for_label}}"
                          name="{{form.canApprove_add.name}}"
                          value="True">
                         <label class="form-check-label col-xs-6 col-lg-6 ms-3"
                          for="{{form.canApprove_add.id_for_label}}">
                        ユーザー追加</label>
                      </div>
            
                      <div class="form-check form-switch ms-2">
                        <input class="form-check-input col-xs-3 col-lg-2" type="checkbox"
                          id="{{form.canApprove_qpay.id_for_label}}"
                          name="{{form.canApprove_qpay.name}}"
                          value="True">
                        <label class="form-check-label col-xs-6 col-lg-6 ms-3"
                          for="{{form.canApprove_qpay.id_for_label}}">
                          Ｑｐａｙ承認</label>
                      </div>

                    </td>
                  </tr>
                </tbody>
              </table>
          
              <div class="d-flex justify-content-center pb-3">
                <button type="submit" class="btn btn-primary flex-grow-1 shadow me-1"
                  name="next"
                  value="ToApproveUser_{{applyUser.id}}" >
                  参加を承認</button>

                <button type="submit" class="btn btn-outline-primary bg-light flex-grow-1 shadow ms-1"
                  name="next"
                  value="ToRefuseUser_{{applyUser.id}}" >
                  承認しない</button>  
              </div>

            {% empty %}
              データがありません
            {% endfor %}

          </form>
        {% endif %}

      </div>
    </div>
  </div>
</div>  

// ★★ 250915 工事開始 //

<style>
  .active-underline {
    text-decoration: underline !important; 
    /* Bootstrapのスタイルを上書きするために!importantを使用する場合がある */
  }
</style>

<script>

  document.addEventListener('DOMContentLoaded', function() {

    console.log('DOMContentLoaded in userAdd_buyer.html が認識されました');

    const SwitchButtons = document.querySelectorAll('input[type="checkbox"]'); // チェックボックスをすべて取得

    SwitchButtons.forEach(eachButton => {
      console.log('forEachに入りました');

      if (eachButton.checked) {
        eachButton.classList.add('active-underline');
      } else {
        eachButton.classList.remove('active-underline');
      }
    });

    SwitchButtons.forEach(eachButton => {
      eachButton.addEventListener('change', function(event) {
        const eventButton = event.target;
        const eventLabel = document.querySelector(`label[for="${eventButton.id}"]`);

        if (eventButton.checked) {
          eventLabel.classList.add('active-underline');
        } else {
          eventLabel.classList.remove('active-underline');
        }
      });
    });
  });

</script>

{% endblock %}