{% extends "buyer/index/base_qconnect.html" %}

{% load bootstrap_icons %}
{% load humanize %}

{% block content %}

<div class="authentication-bg align-items-start">

  <div class="container">

    {% if messages %}
      <div class="messages row justify-content-center mt-2 mx-2">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} py-1 rounded-1 mb-0" role="alert">
            <span>{{ message }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <nav class="mt-2 bg-light rounded-3 border-top shadow-sm"
      aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb px-2" style="font-size: 0.85rem !important">
        <li class="breadcrumb-item">
          <a href="{% url 'accounts:mypage_admin' %}">
            <i class="bi bi-house" style="font-size:1.2em; color:cornflowerblue"></i>
            マイページトップ</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
          <i class="bi bi-inbox" style="font-size:1.2em; color:text-secondary"></i>
          インボックス
        </li>
      </ol>
    </nav>

    
    <div class="d-flex justify-content-center mt-5">
      <h5 class="text-secondary pt-1"><b>QPAY インボックス</b></h5>
      <span class="ms-3">{% bs_icon 'inbox-fill' color='deeppink' size='2.2em' %}</span>
    </div>

    {% if object_list.count >= 1 %}

      <div class="row justify-content-center mt-2">
      
        <form method="GET"
          class="rounded-1 px-2 pt-1 pb-0"
          style="background-color: transparent !important; border-color:transparent !important;">
          {% csrf_token %}

          <div class="d-block d-lg-none">
        
            {% for item in page_obj %}

              <table class="table table-sm bg-light table-bordered border-primary-subtle table-responsive mb-2">
                <tbody style="font-size:0.9rem">

                  <tr class="table-primary" style="text-align:center;">
                    <td rowspan="3" style="vertical-align:middle; text-align:center">
                      {{ page_obj.start_index|add:forloop.counter0 }}</td>
                    <td style="vertical-align:top"></td>
                    <td style="vertical-align:top">対応者</td>
                    <td style="vertical-align:top">金額</td>
                    <td style="vertical-align:top">処理日時</td>
                    <td style="vertical-align:top">処理</td>
                  </tr>

                  <tr>
                    <td class="table-primary ps-4" style="vertical-align:middle; text-align:start">
                      申請</td>
                    <td style="vertical-align:middle; text-align:start">
                      {{ item.sellEntityname }}</td>
                    <td style="vertical-align:middle; text-align:center">
                      {{ item.requested_amount|intcomma }}</td>
                    <td style="vertical-align:middle; text-align:center">
                      {{ item.requested_at|date:"n/j H:i" }}
                    </td>
                    <td rowspan="2" style="vertical-align:middle; text-align:center">
                      <a href="{% url 'qpay:txInboxDetail' item.id %}"
                        class="btn btn-outline-primary px-1 w-100">移る</a>
                    </td>
                  </tr>




                  <tr>
                    <td class="table-primary ps-4" style="vertical-align:middle; text-align:start">
                      承認</td>
                    <td style="text-align:start">{{ item.buyEntityname }}</td>
                    <td style="vertical-align:middle; text-align:center">
                      {{ item.approved_amount|default:'-'|intcomma | default:'ー'}}</td>

                    {% if item.txStatus_int == 1 %}
                      <td class="table-danger" style="vertical-align:middle; text-align:center">未了</td>
                    {% endif %}
                    {% if item.txStatus_int == 2 %}
                      <td class="table-danger" style="vertical-align:middle; text-align:center">未了</td>
                    {% endif %}

                    {% if item.txStatus_int >= 3 %}
                      <td style="vertical-align:middle; text-align:center">
                        {{ item.approved_at| date:"n/j H:i"| default:'ー' }}
                      </td>
                    {% endif %}
  
                  </tr>

                </tbody>
              </table>

            {% empty %}
              <p>承認待ちのデータはありません。</p>
            {% endfor %}

          </div>

          <div class="d-none d-lg-block">
             
            <table class="table table-sm bg-light bg-light table-bordered border-primary-subtle table-responsive">
              <thead style="font-size:0.9rem">
                <tr class="table-primary" style="text-align:center;">
                  <th rowspan="2" style="vertical-align:middle; text-align:center">#</th>
                  <th colspan="2" style="vertical-align:top">申請（ゲスト）</th>
                  <th colspan="2" style="vertical-align:top">承認（パートナー）</th>
                  <th rowspan="2" style="vertical-align:top">証明<br>書類</th>
                  <th rowspan="2" style="vertical-align:top">送金処理</th>
                </tr>
                <tr class="table-primary" style="text-align:center;">
                  <th style="vertical-align:top">金額</th>
                  <th style="vertical-align:top">時点</th>
                  <th style="vertical-align:top">金額</th>
                  <th style="vertical-align:top">時点</th>
                </tr>

              </thead>

              <tbody style="font-size:0.9rem">
              
                {% for item in page_obj %}

                  <tr>
                    <td rowspan="2" style="vertical-align:middle; text-align:center">
                      {{ page_obj.start_index|add:forloop.counter0 }}</td>
                    <td colspan="2" style="text-align:center">
                      {{ item.sellEntityname }}</td>
                    <td colspan="2" style="text-align:center">
                      {{ item.buyEntityname }}</td>
                    <td rowspan="2" style="text-align:center; vertical-align:middle;">
                      <img src="{{ item.evidence.url }}"
                        class="img-fluid"
                        style="max-height:55; width:auto; cursor:zoom-in;"
                        data-bs-toggle="modal"
                        data-bs-target="#imageModal2_{{ forloop.counter }}"/>
                    </td>
                    <!-- モーダルウィンドウ外枠 -->
                    <div class="modal fade"
                      id="imageModal2_{{ forloop.counter }}" tabindex="-1" aria-hidden="true">
                      <div class="modal-dialog modal-sm"> <!-- 大きさ指定なしは「Medium」 -->
                        <div class="modal-content">
                          <div class="modal-header">
                            <h6 class="modal-title">証明書類</h6>
                            <!-- 閉じるボタン: data-bs-dismiss="modal" が重要 -->
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <img src="{{ item.evidence.url }}" class="img-fluid" alt="拡大画像">
                          </div>
                        </div>
                      </div>
                    </div>

                    <td rowspan="2" class="p-1" style="vertical-align:middle; text-align:center;">
                      <a href="{% url 'qpay:txInboxDetail' item.id %}"
                        class="btn btn-outline-primary w-100 px-2">処理に移る</a>
                    </td>
                  </tr>


                  <tr>
                    <td style="text-align:center">{{ item.requested_amount|intcomma }}</td>
                    <td style="text-align:center">
                      {% if item.txStatus_int == 1 %} ー {% endif %}
                      {% if item.txStatus_int >= 2 %}{{ item.requested_at|date:"n/j H:i"| default:'ー' }}{% endif %}
                    </td>
                    <td style="text-align:center">
                      {{ item.approved_amount|default:'-'|intcomma }}
                    </td>
                    <td style="text-align:center">
                      {% if item.txStatus_int == 1 %} ー {% endif %}
                      {% if item.txStatus_int == 2 %} ー {% endif %}
                      {% if item.txStatus_int >= 3 %}{{ item.approved_at| date:"n/j H:i"| default:'ー'}}{% endif %}
                    </td>
                  </tr>

                {% empty %}
                  <p>インボックスにデータがありません。</p>
                {% endfor %}

              </tbody>
            </table>
              
          </div>

          <input type="hidden" name="next" value="{{ next }}" />

          {% include "partials/pagination.html" %}

        </form>
      </div>

    {% else %}

      <div class="row justify-content-center mt-5">
        承認待ちのデータはありません。
      </div>

    {% endif %}
    
  </div>
</div>

{% endblock %}
