{% extends "admin/index/base_qconnect.html" %}

{% load bootstrap_icons %}
{% load humanize %}

{% block content %}
{% csrf_token %}

<div class="authentication-bg align-items-start">

  <div class="container">

    {% if messages %}
      <div class="messages row justify-content-center mt-2 mx-2">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} py-1 rounded-1 mb-0" role="alert">
            <span>{{ message }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <nav class="mt-2 bg-light rounded-3 border-top shadow-sm"
      aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb px-2" style="font-size: 0.85rem !important">
        <li class="breadcrumb-item">
          <a href="{% url 'accounts:mypage_admin' %}">
            <i class="bi bi-house" style="font-size:1.2em; color:cornflowerblue"></i>
            マイページトップ</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
          {% bs_icon 'list-ol' color='text-secondary' size='1.1em' %}
          取引一覧</li>
      </ol>
    </nav>

    
    <div class="d-flex justify-content-center mt-4">
      <h5 class="text-secondary pt-1"><b>QPAY 取引一覧</b></h5>
      <span class="ms-3">
        {% bs_icon 'receipt-cutoff' color='deeppink' size='2.2em' %}
      </span>
    </div>

    <div class="row justify-content-center">

      <form method="GET" action="{% url 'qpay:txList_admin' %}"
        class="col-11 col-md-8 col-lg-6 col-xl-5 my-0">
        {% csrf_token %}

        <div class="input-group mt-2 col-md-10 col-lg-8">
          <input type="text"
            name="searchInput"
            class="form-control"
            value="{{searchInput|default:''}}"
            placeholder="関係者名に含まれる文字で検索">
          <button type="submit"
            class="btn btn-outline-primary py-0 px-3">
            <span>{% bs_icon 'search' color='cornflowerblue' size='1.2em' %}</span>
            <span>検索</span>
          </button>
        </div>
      </form>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-9">
  
        {% if object_list.count >= 1 %}
      
          <div class="rounded-1 px-2 pt-1 pb-0"
            style="background-color: transparent !important; border-color:transparent !important;">

            <div class="d-block d-lg-none">
        
              <table class="table table-sm bg-light
                table-bordered border-primary-subtle table-responsive mb-1">

                <tbody style="font-size:0.9rem">

                  <tr class="table-primary" style="text-align:center;">
                    <th style="vertical-align:top"></th>
                    <th style="vertical-align:top">対応者</th>
                    <th style="vertical-align:top">金額</th>
                    <th style="vertical-align:top">処理状況</th>
                    <th style="vertical-align:top">対応日時</th>

                    <th style="vertical-align:top">詳細</th>
                  </tr>

                  {% for item in page_obj %}

                    <tr>
                      <th rowspan="3"
                        class="table-primary" style="vertical-align:middle; text-align:center">
                          {{ page_obj.start_index|add:forloop.counter0 }}</th>
          
                      <th class="table-primary" style="vertical-align:middle; text-align:start">
                        {{ item.sellEntityname }}</th>

                      <td rowspan="3"
                        style="vertical-align:middle; text-align:center">
                        {{ item.requested_amount|intcomma }}</td>


                      <!-- ゲストに関する取引状況を表示 -->
                      {% if item.txStatus == 2 %}
                        <td style="vertical-align:middle; text-align:center">-</td>
                        <td style="vertical-align:middle; text-align:center">-</td>
                      {% else %}
                        <td style="vertical-align:middle; text-align:center">
                          申請済</td>
                        <td style="vertical-align:middle; text-align:center;
                          font-size:0.75rem">
                            {{ item.requested_at|default:'-'|date:"y/n/j H:i" }}</td>
                      {% endif %}

                      <td rowspan="3" 
                        style="width:70px;
                        vertical-align:middle; text-align:center">
                        <a href="{% url 'qpay:txListDetail_admin' item.id page_obj.number %}"
                          class="btn btn-outline-primary px-1 w-100">表示</a>
                      </td>
                    </tr>

                    <tr>
                      <th class="table-primary" style="text-align:start">
                        {{ item.buyEntityname }}</th>

                      <!-- パートナーに関する取引状況を表示 -->
                      {% if item.txStatus == 1 or item.txStatus == 4 %}
                        <td style="vertical-align:middle; text-align:center">-</td>
                        <td style="vertical-align:middle; text-align:center">-</td>

                      {% elif item.txStatus == 2 %}
                        <td style="vertical-align:middle; text-align:center">差戻</td>
                        <td style="vertical-align:middle; text-align:center;
                          font-size:0.75rem">
                          {{ item.sendbackInfo_buyer.created_at|default:'-'|date:"y/n/j H:i" }}</td>

                      {% elif item.txStatus == 3 or item.txStatus == 5 %}
                        <td style="vertical-align:middle; text-align:center">
                          承認済</td>
                        <td style="vertical-align:middle; text-align:center;
                          font-size:0.75rem">
                          {{ item.approved_at|default:'-'|date:"y/n/j H:i" }}</td>

                      {% else %}
                        <td style="vertical-align:middle; text-align:center">-</td>
                        <td style="vertical-align:middle; text-align:center">-</td>
                      {% endif %}
  
                    </tr>

                    <!-- Qneeに関わる取引進捗の表示 -->
                    <tr>
                      <th class="table-primary" style="text-align:start">(株)キユーニー</th>

                      {% if item.txStatus == 4 %} 
                        <td style="font-size:0.9rem; vertical-align:middle; text-align:center">
                          Qnee差戻</td>
                        <td style="font-size:0.75rem; vertical-align:middle; text-align:center">
                          {{ item.sendbackInfo_admin.created_at|default:'-'|date:"n/j H:i" }}</td>

                      {% elif item.txStatus == 5 %}
                        <td style="font-size:0.9rem; vertical-align:middle; text-align:center">
                          Qnee前払済み</td>
                        <td style="font-size:0.75rem; vertical-align:middle; text-align:center">
                          {{ item.advanced_at|default:'-'|date:"n/j H:i" }}</td>

                      {% else %}
                        <td style="font-size:0.9rem; vertical-align:middle; text-align:center">
                          -</td>
                        <td style="font-size:0.75rem; vertical-align:middle; text-align:center">
                          -</td>
                      {% endif %}
  
                    </tr>

                  {% empty %}
                    <p>QPAY取引はありません。</p>
                  {% endfor %}
            
                </tbody>
              </table>

            </div>

            <div class="d-none d-lg-block">

              <table class="table table-sm bg-light
                table-bordered border-primary-subtle table-responsive mb-1">

                <tbody style="font-size:0.9rem">

                  <tr class="table-primary" style="text-align:center;">
                    <th style="vertical-align:top"></th>
                    <th style="vertical-align:top">対応者</th>
                    <th style="vertical-align:top">金額</th>
                    <th style="vertical-align:top">処理状況</th>
                    <th style="vertical-align:top">対応日時</th>
                    <th style="vertical-align:top">証明書類</th>
                    <th style="vertical-align:top">詳細</th>
                  </tr>

                  {% for item in page_obj %}

                    <tr>
                      <th rowspan="3"
                        class="table-primary" style="vertical-align:middle; text-align:center">
                          {{ page_obj.start_index|add:forloop.counter0 }}</th>
          
                      <th class="table-primary" style="vertical-align:middle; text-align:start">
                        {{ item.sellEntityname }}</th>

                      <td rowspan="3"
                        style="vertical-align:middle; text-align:center">
                        {{ item.requested_amount|intcomma }}</td>


                        <!-- ゲストに関する取引状況を表示 -->
                      {% if item.txStatus == 2 %}
                        <td style="vertical-align:middle; text-align:center">-</td>
                        <td style="vertical-align:middle; text-align:center">-</td>
                      {% else %}
                        <td style="vertical-align:middle; text-align:center">
                          申請済</td>
                        <td style="vertical-align:middle; text-align:center;
                          font-size:0.75rem">
                            {{ item.requested_at|default:'-'|date:"y/n/j H:i" }}</td>
                      {% endif %}

                      <td rowspan="3"
                        style="text-align:center; vertical-align:middle;">
                        <img src="{{ item.evidence.url }}"
                          class="img-fluid"
                          style="max-height:55; width:auto; cursor:zoom-in;"
                          data-bs-toggle="modal"
                          data-bs-target="#imageModal2_{{ forloop.counter }}"/>
                      </td>
                      <!-- モーダルウィンドウ外枠 -->
                      <div class="modal fade"
                        id="imageModal2_{{ forloop.counter }}" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-sm"> <!-- 大きさ指定なしは「Medium」 -->
                          <div class="modal-content">
                            <div class="modal-header">
                              <h6 class="modal-title">証明書類</h6>
                              <!-- 閉じるボタン: data-bs-dismiss="modal" が重要 -->
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <img src="{{ item.evidence.url }}" class="img-fluid" alt="拡大画像">
                            </div>
                          </div>
                        </div>
                      </div>

                      <td rowspan="3" 
                        style="width:70px;
                        vertical-align:middle; text-align:center">
                        <a href="{% url 'qpay:txListDetail_admin' item.id page_obj.number %}"
                          class="btn btn-outline-primary px-1 w-100">表示</a>
                      </td>
                    </tr>

                    <tr>
                      <th class="table-primary" style="text-align:start">
                        {{ item.buyEntityname }}</th>

                      <!-- パートナーに関する取引状況を表示 -->
                      {% if item.txStatus == 1 or item.txStatus == 4 %}
                        <td style="vertical-align:middle; text-align:center">-</td>
                        <td style="vertical-align:middle; text-align:center">-</td>

                      {% elif item.txStatus == 2 %}
                        <td style="vertical-align:middle; text-align:center">差戻</td>
                        <td style="vertical-align:middle; text-align:center;
                          font-size:0.75rem">
                          {{ item.sendbackInfo_buyer.created_at|default:'-'|date:"y/n/j H:i" }}</td>

                      {% elif item.txStatus == 3 or item.txStatus == 5 %}
                        <td style="vertical-align:middle; text-align:center">
                          承認済</td>
                        <td style="vertical-align:middle; text-align:center;
                          font-size:0.75rem">
                          {{ item.approved_at|default:'-'|date:"y/n/j H:i" }}</td>

                      {% else %}
                        <td style="vertical-align:middle; text-align:center">-</td>
                        <td style="vertical-align:middle; text-align:center">-</td>
                      {% endif %}
  
                    </tr>

                    <!-- Qneeが差し戻した場合の表示 -->
                    <tr>
                      <th class="table-primary" style="text-align:start">(株)キユーニー</th>

                      {% if item.txStatus == 4 %} 
                        <td style="font-size:0.9rem; vertical-align:middle; text-align:center">
                          Qnee差戻</td>
                        <td style="font-size:0.75rem; vertical-align:middle; text-align:center">
                          {{ item.sendbackInfo_admin.created_at|default:'-'|date:"n/j H:i" }}</td>

                      {% elif item.txStatus == 5 %}
                        <td style="font-size:0.9rem; vertical-align:middle; text-align:center">
                          Qnee前払済み</td>
                        <td style="font-size:0.75rem; vertical-align:middle; text-align:center">
                          {{ item.advanced_at|default:'-'|date:"n/j H:i" }}</td>

                      {% else %}
                        <td style="font-size:0.9rem; vertical-align:middle; text-align:center">
                          -</td>
                        <td style="font-size:0.75rem; vertical-align:middle; text-align:center">
                          -</td>
                      {% endif %}
  
                    </tr>

                  {% empty %}
                    <p>QPAY取引はありません。</p>
                  {% endfor %}
            
                </tbody>
              </table>

            </div>

            <input type="hidden" name="next" value="{{ next }}" />

            <div class="mt-4">
              {% include "partials/pagination.html" %}
            </div>
            
          </div>

        {% else %}

          <div class="row justify-content-center mt-5">
            QPAY取引のデータはありません。
          </div>

        {% endif %}

      </div>
    </div>    
  </div>
</div>

{% endblock %}