{% extends "seller/index/base_qconnect.html" %}

{% load static %}
{% load bootstrap_icons %}

{% block title %}{% endblock %}
{% block content %}

<div class="authentication-bg align-items-start">
  
  <div class="container">

    {% if messages %}
      <div class="row justify-content-center mt-2 mx-2">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} py-2 rounded-1" role="alert">
            <span>{{ message }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    
    <!-- メッセージはerror/warning/success/infoのmessage.tagsが付けられて保存される。 -->
    <!-- message.tagsはsettings.pyのMESSAGE_TAGSで定義できる  25/01/10 -->
    <!-- extra_tagはsettings.pyのMESSAGE_TAGSで定義できる  25/01/10 -->

    <!--
    <div class="row">
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb bg-light-subtle px-2 rounded-3 mt-2">
          <li class="breadcrumb-item"><a href="{% url 'accounts:mypage_seller' %}">
            {% bs_icon 'house' color='cornflowerblue' size='1.2em' %}
            マイページトップ</a></li>
          <li class="breadcrumb-item" aria-current="page">利用規約ご確認</li>
        </ol>
      </nav>
    </div>
    -->

    <div id="loading">
      <div class="spinner-border text-primary"
        style="width: 3rem; height: 3rem;"
        role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <p class="mt-5">処理中です... しばらくお待ちください</p>
    </div>

    <div class ="row justify-content-center mt-2">
      <div class="col-11 col-sm-10 col-md-9">
        <div class="progress mt-1 mb-1" style="height: 12px" >
          <div class="progress-bar bg-secondary" role="progressbar"
            style="width: 25%"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            仮登録
          </div>
  
          <div class="progress-bar bg-secondary" role="progressbar"
            style="width: 25%"
            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            メール受領
          </div>
  
          <div class="progress-bar bg-secondary" role="progressbar"
            style="width: 25%"
            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            本登録
          </div>
  
          <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar"
            style="width: 25%"
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            利用規約確認
          </div>
        </div>
      </div>
    </div>

    {% if flag_step == 1 %}

      <div class ="row justify-content-center mx-4">
        <div class="col-sm-10 col-md-9">

          <div class="d-flex justify-content-center align-items-center mt-5 gap-2">
            <h5 class="text-secondary text-center"><b>利用規約のご確認</b></h5>
            <i class="bi bi-check-all mb-2" style="font-size:2.4em; color:deeppink;"></i>
          </div>

          <div class="iframe-wrapper d-flex justify-content-center mt-3">
            <iframe src= "{% static 'accounts/利用規約（サンプル）.pdf' %}"></iframe>
          </div>

        </div> <!-- end col -->
      </div> <!-- end row -->

      <div class="row justify-content-center mt-3 mx-4">
        <div class="col-sm-10 col-md-9">

          <form method="POST"
            action="{% url 'accounts:agreementConfirm_seller' %}"
            id="id_PostForm">
            {% csrf_token %}
          
            <div class="btn-group btn-group-vertical d-flex justify-content-center" data-toggle="buttons">
              <label class="btn active">
                <input id="checkbox" type="checkbox"
                  name="checkConsent"
                  value="ToAgree">
                <span> 利用規約に同意する </span>
              </label>
            </div>

            <div class="d-flex justify-content-center mt-3">
              <button id="next1" type="submit" class="btn btn-primary me-2"
                name="next"
                value="ToDisagree_{{user.id}}_{{entity.id}}"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="">同意しない
              </button>
            
              <button id="next2" type="submit" class="btn btn-primary ms-2 shadow"
                name="next"
                value="ToAgree_{{user.id}}_{{entity.id}}"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="上記「利用規約に同意します」にチェックしたうえクリック"
                disabled>
                同意します
              </button>
            </div>
         
            {% for field in form %}
            {{field.as_hidden}}
            {% endfor %}

          </form>
        </div>
      </div>

    {% endif %}

    {% if flag_step == 2 %}

      <div class="row justify-content-center mt-4 text-secondary">
        申請手続きは終了し、ゲスト企業に参加申請しました。<br>
        ゲスト企業の承認の結果はメールでご連絡いたします。
      </div>

    {% endif %}

  </div> <!-- end of container-->
</div> <!-- end of authentication-bg -->

{% endblock %}

<!-- <script src="{% static 'accounts/js/script.js' %}" defer></script> -->
<!-- deferはスクリプトの実行を、ページ読み込み後に行うためのもの -->


{% block extrajs %}

  <script defer>
    console.log('スクリプトは認識しているようです。')

    const isAgreed = document.querySelector('#checkbox');
    const btn = document.querySelector('#next2');

    isAgreed.addEventListener('change', () => {
      if(isAgreed.checked){
        btn.disabled = false;
      } else {
        btn.disabled = true;
      }   
    });

    document.getElementById('id_PostForm').addEventListener('submit', function() {
      document.getElementById('loading').style.display = 'block';
    });
  
  </script>

{% endblock %}
