{% extends "seller/index/base_qconnect.html" %}

{% load bootstrap_icons %}

{% block content %}
<!-- bankAccountCreate1は、登録済み口座を使うか、新規口座を使うか選択 -->
<!-- bankAccountCreate2は、新規口座を登録 -->

<!-- dict_MatchedBankは、検索ワードにヒットした金融機関の辞書型データ -->

<div class="authentication-bg align-items-start">

  <div class="container">

    {% if messages %}
      <div class="row justify-content-center mt-2 mx-2">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} py-2 rounded-1" role="alert">
            <span>{{ message }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <nav class="mt-2" aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb bg-light-subtle px-2 rounded-3">
        <li class="breadcrumb-item"><a href="{% url 'accounts:mypage_seller' %}">
          {% bs_icon 'house' color='cornflowerblue' size='1.2em' %}
          マイページトップ</a></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts:infoEdit_seller' %}">
          {% bs_icon 'gear' color='cornflowerblue' size='1.2em' %}
          設定メニュー</a></li>
        <li class="breadcrumb-item" aria-current="page">受取口座設定</li>
      </ol>
    </nav>

    {% if flag_step == 1 %}

      <div class="d-flex justify-content-center mt-4">
        <h5 class="text-secondary me-2"><b>銀行口座の登録</b></h5>
        <i class="bi bi-bank" style="font-size:1.5em; color:deeppink;"></i>
      </div>

      <div class="row justify-content-center mt-2">
        <form method="POST"
          class="form-group col-md-9 col-lg-7 bg-light border border-success-subtle rounded p-4 mx-2">
          {% csrf_token %}

          <div class="d-flex justify-content-start mt-4">
            <i class="bi bi-1-square" style="font-size:1.4em; color:deeppink;"></i>
            <h6 class="text-secondary ms-2"><b>金融機関の選択</b></h6>
          </div>

          <div class="input-group">
            <input id="id_bankSearchInput"
              name="name_bankSearchInput"
              value="{{bankSearchInput}}" 
              type="text" class="form-control"
              placeholder="キーワード入力 （ex. 0001 or みずほ or ミズホ）">
            <button type="submit" class="btn btn-primary shadow"
              name="name_Search"
              value="BankSearch_{{sellUser.id}}_{{sellEntity.id}}">検索</button>
            <!-- <button type="submit" class="btn btn-outline-primary" name="select" value="select_bank">選択</button> -->
          </div>

          <!-- 「multiple」はリストのスタイルを変える -->
          <div class="row justify-content-start px-4">
            {% if form.bankCode.errors %}
              <div class="" style="color:red;">
                {{ form.bankCode.errors.as_text }}</div>
            {% endif %}
          </div>
          <select class="form-select"
            id="id_bankSelect"
            name="{{form.bankCode.name}}" 
            value="{{form.bankCode.value|default:''}}"
            multiple  
            aria-label="multiple select example">

            {% if dict_MatchedBank.items %}

              {% if bankCode %}

                <!-- <option>コード　　金融機関名</option> -->
                {% for code, name in dict_MatchedBank.items %}
          
                  {% if code == bankCode %}
                    <option value='{{code}}' selected>{{code}}　　　{{name}}</option>
                  {% else %}
                    <option value='{{code}}'>{{code}}　　　{{name}}</option>
                  {% endif %}
                {% endfor %}

              {% else %}
                <!-- <option selected>コード　　金融機関名</option> -->
                {% for code, name in dict_MatchedBank.items %}
                  <option value='{{code}}'>{{code}}　　　{{name}}</option>
                {% endfor %}
              {% endif %}
            {% endif %}
          </select>

          <hr>

          <div class="d-flex justify-content-start mt-4">
            <i class="bi bi-2-square" style="font-size:1.5em; color:deeppink;"></i>
            <h6 class="text-secondary ms-2"><b>支店の選択</b></h6>
          </div>
          <div class="input-group">
            <input id="id_branchSearchInput" type="text" class="form-control"
              name="name_branchSearchInput"
              value="{{branchSearchInput}}"
              placeholder="キーワード入力 （ex. 001, ぎんざ, ginza, 銀座">
            <button type="submit" class="btn btn-primary shadow"
              name="name_Search"
              value="BranchSearch_{{sellUser.id}}_{{sellEntity.id}}">
              検索</button>
            <!-- <button type="submit" class="btn btn-outline-primary" name="select" value="select_branch">選択</button> -->
          </div>

          <div class="row justify-content-start px-4">
            {% if form.branchCode.errors %}
              <div class="" style="color:red;">
                {{ form.branch.errors.as_text }}</div>
            {% endif %}
          </div>
          <select class="form-select"
            id="id_branchSelect"
            name="{{form.branchCode.name}}"
            value="{{form.branchCode.value|default:''}}"
            multiple
            aria-label="multiple select example">

            {% if dict_MatchedBranch.items %}
              <!-- <option selected>支店コード　　支店名</option> -->
      
              {% for code, name in dict_MatchedBranch.items %}
                {% if code == branchCode %}
                  <option value='{{code}}' selected>{{code}}　　　{{name}}</option>
                {% else %}
                  <option value='{{code}}'>{{code}}　　　{{name}}</option>
                {% endif %}

              {% endfor %}
            {% endif %}
          </select>

          <hr>
  
          <div class="d-flex justify-content-center pt-3">
            <button type="submit" class="btn btn-primary shadow ms-2"
              name="next"
              value="ToInput_{{sellUser.id}}_{{sellEntity.id}}">　口座登録へ進む　</button>
          </div>

        </form>
      </div> <!-- end row -->

    {% endif %}


    {% if flag_step == 2 %}

      <div class="d-flex justify-content-center mt-4">
        <h5 class="text-secondary me-2"><b>登録内容の確認</b></h5>
        <i class="bi bi-bank" style="font-size:1.4em; color:deeppink;"></i>
      </div>


      <div class="row justify-content-center">

        <form method="POST"
          class="form-group col-11 col-md-9 col-lg-7 bg-light border border-success-subtle rounded p-4 m-2">
          {% csrf_token %}

          <table class="table table-bordered border-primary-subtle table-responsive">
            <tbody class="text-center bg-white">
              <tr>
                <th scope="col" width="30%" class="table-primary text-secondary">金融機関</th>
                <td width="40%">{{ form.bankName.value }}</td>
                <td width="30%">コード：{{ form.bankCode.value }}</td>
              </tr>
              <tr>
                <th scope="col" width="30%" class="table-primary">支店</th>
                <td width="40%">{{ form.branchName.value }}</td>
                <td width="30%">コード：{{ form.branchCode.value }}</td>
              </tr>
            </tbody>
          </table>

          <hr>

          {% if form.holderName.errors %}
            <div style="color:red;">{{ form.holderName.errors.as_text }}<br></div>
          {% endif %}
          <div class="form-group row justify-content-center pt-1">
            <label class="col-md-3 col-form-label" for="{{form.holderName.id_for_label}}" ><h6>口座名義</h6></label>
            <div class="col-md-9">
              <input type="form.holderName.widget.input_type" class="form-control"
                name="{{form.holderName.name}}"
                value="{{form.holderName.value|default:''}}"
                id="{{form.holderName.id_for_label}}" >
            </div>
          </div>

          {% if form.accountNumber.errors %}
            <div style="color:red;">{{ form.accountNumber.errors.as_text }}<br></div>
          {% endif %}
          <div class="form-group row justify-content-center pt-2">
            <label class="col-md-3 col-form-label" for="{{form.accountNumber.id_for_label}}" ><h6>口座番号</h6></label>
            <div class="col-md-9">
              <input type="form.accountNumber.widget.input_type" class="form-control"
                name="{{form.accountNumber.name}}"
                value="{{form.accountNumber.value|default:''}}"
                id="{{form.accountNumber.id_for_label}}" >
            </div>
          </div>

          <hr>
  
          <div class="d-flex justify-content-center pt-3">
            <button type="submit" class="btn btn-outline-primary shadow"
              name="next"
              value="BackToSelect_{{sellUser.id}}_{{sellEntity.id}}">
              　銀行選択に戻る　</button>

            <button type="submit" class="btn btn-primary shadow ms-2"
              name="next"
              value="ToConfirm_{{sellUser.id}}_{{sellEntity.id}}">
              　登録内容の確認へ　</button>
          </div>

          {{ form.bankCode.as_hidden }}
          {{ form.bankName.as_hidden }}
          {{ form.branchCode.as_hidden }}
          {{ form.branchName.as_hidden }}

        </form>
      </div> <!-- end row -->

    {% endif %}

    <!--  -->
    {% if flag_step == 3 %}

    <div class="d-flex justify-content-center mt-5">
      <h5 class="text-secondary me-2"><b>登録内容のご確認</b></h5>
      <i class="bi bi-bank" style="font-size:1.5em; color:deeppink;"></i>
    </div>

    <div class="row justify-content-center px-4">
      <form method="POST" class="form-group col-md-9 col-lg-7 bg-light border border-success-subtle rounded p-4 mt-2">

        {% csrf_token %}

        <table  width="200px" class="table table-sm table-bordered border-primary-subtle table-responsive">
          <tbody class="text-center">
            <tr>
              <th scope="col" width="35%" class="table-primary">金融機関コード</th>             
              <td>{{ form.bankCode.value }}</td></tr>
            <tr>
              <th scope="col" width="35%" class="table-primary">金融機関名</th>
              <td>{{ form.bankName.value }}</td></tr>
            <tr>
              <th scope="col" width="35%" class="table-primary">支店コード</th>
              <td>{{ form.branchCode.value }}</td></tr>
            <tr>
              <th scope="col" width="35%" class="table-primary">支店名</th>
              <td>{{ form.branchName.value }}</td></tr>
            <tr>
              <th scope="col" width="35%" class="table-primary">口座番号</th>
              <td>{{ form.accountNumber.value }}</td></tr>
          </tbody>
        </table>

        <hr>

        <div class="d-flex justify-content-center pt-3">
          <button type="submit" class="btn btn-outline-primary shadow me-3"
            name="next"
            value="BackToInput_{{sellUser.id}}_{{sellEntity.id}}">
            戻る</button>
          <button type="submit" class="btn btn-primary shadow ms-3"
            name="next"
            value="Register_{{sellUser.id}}_{{sellEntity.id}}">登録</button>
        </div>

        {% for field in form %}
          {{ field.as_hidden }}
        {% endfor %}

      </form>
    </div>

    {% endif %}

  </div> <!-- end container -->
</div>

{% endblock %}

{% block extrajs %}

<script>

  document.addEventListener('DOMContentLoaded', function() {

    console.log('DOMContentLoadedが認識されました');

    const BankSearchInput = document.getElementById('id_bankSearchInput');
    const BankSelect = document.getElementById('id_bankSelect');
    
    const BranchSearchInput = document.getElementById('id_branchSearchInput');
    const BranchSelect = document.getElementById('id_branchSelect');

    const json_banks = JSON.parse('{{json_banks|safe}}' || 'null');
    const json_bankCode_branches = JSON.parse('{{json_bankCode_branches|safe}}' || 'null');
    //「safe」はエスケープを無効化する.HTML上で''がない状態で認識する
    //https://se-memorandum.com/django-safe/


    BankSearchInput.addEventListener('input', () => {

      console.log('BankSearchInputのinputイベント通過');
      var BankOptions = BankSelect.options;
      var NormalizedInput = normalizeText(BankSearchInput.value); // 入力されたクエリを正規化
      var keywords = NormalizedInput.split(/[\s\u3000]+/).filter(keyword => keyword); // スペースで分割してキーワード配列を生成

      for (let i=BankOptions.length-1 ; i >= 0 ; i--) {
        BankOptions.remove( i );
      }

      Object.keys(json_banks).forEach((key) => {

        console.log('json_banks[key]='+ json_banks[key].name)
        matches1 = keywords.some(keyword => normalizeText(json_banks[key].name).includes(keyword));
        matches2 = keywords.some(keyword => normalizeText(json_banks[key].kana).includes(keyword));
        matches3 = keywords.some(keyword => normalizeText(json_banks[key].hira).includes(keyword));
        matches4 = keywords.some(keyword => normalizeText(json_banks[key].roma).includes(keyword));
        
        if(matches1 || matches2 || matches3 || matches4){
         let option = document.createElement('option');
          option.value = key;
          option.text = key + '　　　' + json_banks[key].name;
          console.log(key, json_banks[key].name);
          BankOptions.add(option);
        }
      });
    });


    var json_branches;

    BranchSearchInput.addEventListener('input', () => {

      console.log('BranchSearchInputのinputイベント通過');

      var BranchOptions = BranchSelect.options;
      var NormalizedInput = normalizeText(BranchSearchInput.value); // 入力されたクエリを正規化
      var keywords = NormalizedInput.split(/[\s\u3000]+/).filter(keyword => keyword); // スペースで分割してキーワード配列を生成

      if(BankSelect.value != "" && BankSelect.value != null){
        console.log('BankSelect.value='+ BankSelect.value);
        json_branches = json_bankCode_branches[BankSelect.value];

        for (let i=BranchOptions.length-1 ; i >= 0 ; i--) {
          BranchOptions.remove( i );
        }

        Object.keys(json_branches).forEach((key) => {

          console.log('json_branches[key].name ='+ json_branches[key].name)
          matches1 = keywords.some(keyword => normalizeText(json_branches[key].name).includes(keyword));
          matches2 = keywords.some(keyword => normalizeText(json_branches[key].kana).includes(keyword));
          matches3 = keywords.some(keyword => normalizeText(json_branches[key].hira).includes(keyword));
          matches4 = keywords.some(keyword => normalizeText(json_branches[key].roma).includes(keyword));
          console.log(key, json_branches[key].name);
        
          if(matches1 || matches2 || matches3 || matches4){
           let option = document.createElement('option');
            option.value = key;
            option.text = key + '　　　' + json_branches[key].name;
            console.log(key, json_branches[key].name);
            BranchOptions.add(option);
          }
        });       
      }
    });

    BankSearchInput.addEventListener('input', () => {
    });

    BankSelect.addEventListener('change', (event) => {

      json_branches = json_bankCode_branches[event.target.value];
      console.log(json_branches);

      var BranchOptions = BranchSelect.options;

      for (let i=BranchOptions.length-1 ; i >= 0 ; i--) {
        BranchOptions.remove( i );
      }

      Object.keys(json_branches).forEach((key) => {

        let option = document.createElement('option');
        option.value = key;
        option.text = key + '　　　' + json_branches[key].name;
        console.log(key, json_branches[key].name);
        BranchOptions.add(option);
      });       
    });

    function normalizeText(text) {
      console.log('inputイベント内でnormalizeTextが呼ばれました.');
      return text
        .normalize("NFKC") // 半角を全角文字に変換
        .replace(/[\u30a1-\u30f6]/g, match => 
        String.fromCharCode(match.charCodeAt(0) - 0x60)) // 全角カタカナをひらがなに変換
        .toLowerCase(); // 英数字を小文字に変換
    }
  });

</script>

{% endblock %}