{% extends "seller/index/base_qconnect.html" %}

{% load bootstrap_icons %}

{% block content %}
<!-- bankAccountCreate1は、登録済み口座を使うか、新規口座を使うか選択 -->
<!-- bankAccountCreate2は、新規口座を登録 -->

<div class="authentication-bg align-items-start">

  <div class="container">

    {% if messages %}
      <div class="messages row justify-content-center mt-2 mx-2">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} py-2 rounded-1 mb-0" role="alert">
            <span>{{ message }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <nav class="mt-2 bg-light rounded-3" aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb px-2">
        <li class="breadcrumb-item"><a href="{% url 'accounts:mypage_seller' %}">
          {% bs_icon 'house' color='cornflowerblue' size='1.2em' %}
          マイページトップ</a></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts:infoEdit_seller' %}">
          {% bs_icon 'gear' color='cornflowerblue' size='1.2em' %}
          設定メニュー</a></li>
        <li class="breadcrumb-item" aria-current="page">受取口座設定</li>
      </ol>
    </nav>

    <!-- ★★  250730 複数のエンティティと関連する場合は、複数エンティティの情報を表示するようにする -->
    <div class="d-flex justify-content-center mt-4">
      <h5 class="text-secondary me-2"><b>登録されている口座</b></h5>
      <i class="bi bi-bank" style="font-size:1.5em; color:deeppink;"></i>
    </div>

    <div class="row justify-content-center">

      <form method="POST"
        class="form-group col-11 col-md-9 col-lg-7 bg-light border border-top rounded p-4 m-2 shadow">
        {% csrf_token %}

        <table class="table table-sm bg-light table-bordered border-primary-subtle table-responsive bg-light">
          <tbody class="text-center">
            <tr>
              <th scope="col" width="35%" class="table-primary">金融機関</th>
              <td >{{ form.bankName.value|default:"" }}（{{ form.bankCode.value|default:"" }}）</td>
            </tr>
            <tr>
              <th scope="col" width="35%" class="table-primary">支店</th>
              <td>{{ form.branchName.value|default:"" }}（{{ form.branchCode.value|default:"" }}）</td>
            </tr>
            <tr>
              <th scope="col" width="35%" class="table-primary">口座名義</th>
              <td>{{ form.holderName.value|default:"" }}</td>
            </tr>
            <tr>
              <th scope="col" width="35%" class="table-primary">口座番号</th>
              <td>{{ form.accountNumber.value|default:"" }}</td>
            </tr>
          </tbody>
        </table>

        <hr>

        <div class="d-flex justify-content-center pt-3">
          <button type="submit" class="btn btn-outline-primary w-50 shadow me-1"
            name="WhichAccount"
            value="ThisAccount_{{sellUser.id}}_{{sellEntity.id}}">
            この口座を使う</button>

        <button type="submit" class="btn btn-primary w-50 shadow ms-1"
          name="WhichAccount"
          value="NewAccount_{{sellUser.id}}_{{sellEntity.id}}">
          別の口座を登録する</button>
        </div>

      </form>

    </div> <!-- end row -->  
  </div> <!-- end container -->
</div>

{% endblock %}

{% block extrajs %}

  <script>
  </script>

{% endblock %}