{% extends "seller/index/base_qconnect.html" %}

{% load bootstrap_icons %}

{% block content %}

<div class="authentication-bg min-vh-100 min-vw-100 align-items-start">

  <div class="container mt-5">
  
    <div class="row justify-content-center mt-2">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} py-2 rounded-1" role="alert">
          <span>{{ message }}</span>
        </div>
      {% endfor %}
    </div>
    <!-- メッセージはerror/warning/success/infoのmessage.tagsが付けられて保存される。 -->
    <!-- message.tagsはsettings.pyのMESSAGE_TAGSで定義できる  25/01/10 -->
    <!-- extra_tagはsettings.pyのMESSAGE_TAGSで定義できる  25/01/10 -->

    <div class="row justify-content-center mx-1">
      <div class="col-md-8 col-lg-6 col-xl-5">

        <div class="d-flex justify-content-center">
          <h4 class="text-secondary">
            {% bs_icon 'clouds' color='cornflowerblue' size='1.4em' %}
            <b>Welcome to Qnee Connect!</b>
          </h4>
        </div>

        <div class="row justify-content-center mt-4">
          <h5 class="text-secondary">
            ゲスト・ログイン
          </h5>
        </div>

        <form method="POST"
          action="{% url 'accounts:login_seller' %}"
          class="form-group bg-light border border-success-subtle rounded-2 p-3 mb-0">
          {% csrf_token %}

          {{ form.non_field_errors }}
          {% for field in form %}
            {{ field }}
            {{ field.errors }}
            <hr>
          {% endfor %}

          <button type="submit" class="btn btn-primary w-100 shadow" >ログインする</button>
          <input type="hidden" name="afterLogin" value="{{ afterLogin }}" />
          <input type="hidden" name="token" value="{{ token }}" />
          <input type="hidden" name="token2" value="{{ token2 }}" />
        </form>     

        <div class="d-flex justify-content-end mt-1">
          <a href="{% url 'accounts:passwordReset_seller' %}" class="icon-link">
            <i class="bi bi-question-diamond-fill mt-1" style="font-size:1.1em; color:cornflowerblue;"></i>
            パスワードを忘れた方
          </a>
        </div>

        <div class="row justify-content-center mt-4">
          <h5 class="text-secondary">
            ゲスト登録
          </h5>
        </div>

        <form method="GET"
          action="{% url 'accounts:userCreate_seller' %}"
          class="form-group bg-light border border-success-subtle rounded-2 p-3">

          <button type="submit" class="btn btn-primary w-100 shadow" >登録する</button>
          <input type="hidden" name="next" value="{{ next }}" />
          {% csrf_token %}
        </form>

      </div>
    </div>
  </div>

</div>
{% endblock %}