{% extends 'seller/index/base_qconnect.html' %}

{% load bootstrap_icons %}

{% block content %}

<div class="authentication-bg align-items-start">

  <div class="container">

    {% if messages %}
      <div class="messages row justify-content-center mt-2 mx-2">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} py-1 rounded-1 mb-0" role="alert">
            <span>{{ message }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <!--
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb bg-light-subtle px-2 rounded-3 mt-1">
        <li class="breadcrumb-item"><a href="{% url 'accounts:mypage_seller' %}">
          {% bs_icon 'house' color='cornflowerblue' size='1.2em' %}
          マイページトップ</a></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts:infoEdit_seller' %}">
          {% bs_icon 'gear' color='cornflowerblue' size='1.2em' %}
          設定メニュー</a></li>
        <li class="breadcrumb-item" aria-current="page">パスワード再設定</li>
      </ol>
    </nav>
    -->

    <div class="row justify-content-center mt-5 mx-4">
      <div class="col-md-8 col-lg-6 col-xl-5">

        <div class="d-flex justify-content-start mt-4">
          <i class="bi bi-envelope-at" style="font-size:1.8em; color:deeppink;"></i>
          <h5 class="text-secondary ms-3"><b>パスワード再設定用のメール送信</b></h5>
        </div>
 
        <div class="row justify-content-center text-secondary ms-2 mt-4">
          ご入力いただいたアドレス宛にメールを送信いたしました。<br>
          ご確認お願いいたします。
        </div>
    </div>
  </div>
</div>

{% endblock %}