{% extends "seller/index/base_qconnect.html" %}

{% load humanize %}
{% load bootstrap_icons %}

{% block content %}
{% csrf_token %}


<div class="authentication-bg min-vh-100 min-vw-100 align-items-start">

  <div class="container">

    <div class="row justify-content-center mt-2">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} py-2 rounded-1" role="alert">
          <span>{{ message }}</span>
        </div>
      {% endfor %}
    </div>

    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb bg-light-subtle px-2 rounded-3 mt-2">
        <li class="breadcrumb-item"><a href="{% url 'accounts:mypage_seller' %}">
          <i class="bi bi-house" style="font-size:1.2em; color:cornflowerblue;"></i>
          マイページトップ</a></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts:infoEdit_seller' %}">
          <i class="bi bi-gear" style="font-size:1.2em; color:text-secondary;"></i>
          設定メニュー</a></li>
        <li class="breadcrumb-item" aria-current="page">ユーザー権限編集</li>
      </ol>
    </nav>

    <div class="d-flex justify-content-center mt-4">
      <h5 class="text-secondary"><b>ユーザー権限の編集</b></h5>
      <i class="bi bi-pencil-square ms-3" style="font-size:1.8em; color:deeppink;"></i>
    </div>

    <div class="row justify-content-center mt-2">
      <div class="col-10 col-md-8 col-lg-6 col-xl-5">

        <form method="POST" action="{% url 'accounts:permissionSets_seller' %}"
          class="form-group border border-top shadow-sm p-3 mb-5 bg-light rounded">

          {% csrf_token %}         
          {{ form.non_field_errors }}

          <table class="table table-sm table-bordered border-primary-subtle table-responsive">
            <tbody class="text-center">
              <tr>
                <th scope="col" width="33%" class="table-primary" style="text-align: left;">申請者</th>
                <td style="text-align: right;">{{ editedUser.userName }}さん</td></tr>
              <tr>
                <th scope="col" width="33%" class="table-primary" style="text-align: left;">電話番号</th>
                <td style="text-align: right;">{{ editedUser.tel_user }}</td></tr>
              <tr>
                <th scope="col" width="33%" class="table-primary" style="text-align: left;">所属部署</th>
                <td style="text-align: right;">{{ editedUser.department }}</td></tr>
              <tr>
                <th scope="col" width="33%" class="table-primary" style="text-align: left;">役職</th>
                <td style="text-align: right;">{{ editedUser.title }}</td></tr>
            </tbody>
          </table>

          <!-- <hr> -->

          <table class="table table-bordered border-primary-subtle table-responsive">
            <tbody class="text-center">
              <tr>
                <th scope="col" width="33%" class="table-primary" style="text-align: left;">各種権限</th>
                <td style="text-align: left;">
                  <div class="form-check form-switch ms-2">
                    <input class="form-check-input col-xs-3 col-lg-2" type="checkbox"
                      id="{{form.canApproveAll.id_for_label}}"
                      name="{{form.canApproveAll.name}}"
                      value="True">
                    <label class="form-check-label col-xs-6 col-lg-6 ms-3" for="{{form.canApproveAll.id_for_label}}">
                      すべて</label>
                  </div>

                  <div class="form-check form-switch ms-2">
                    <input class="form-check-input col-xs-3 col-lg-2" type="checkbox"
                      id="{{form.canApproveAdd.id_for_label}}"
                      name="{{form.canApproveAdd.name}}"
                      value="True">
                    <label class="form-check-label col-xs-6 col-lg-6 ms-3" for="{{form.canApproveAdd.id_for_label}}">
                      ユーザー追加</label>
                  </div>
      
                  <div class="form-check form-switch ms-2">
                    <input class="form-check-input col-xs-3 col-lg-2" type="checkbox"
                      id="{{form.canApproveQpay.id_for_label}}"
                      name="{{form.canApproveQpay.name}}"
                      value="True">
                    <label class="form-check-label col-xs-6 col-lg-6 ms-3" for="{{form.canApproveQpay.id_for_label}}">
                      Ｑｐａｙ承認</label>
                  </div>                               
                </td>
              </tr>
            </tbody>
          </table>
       
          <div class="d-flex justify-content-center">
            {% if flag_scene != 'whenJoining' %}
              <button type="submit" class="btn btn-primary w-100 shadow ms-1"
                name="next2", value="PermissionSet_{{editedUser.id}}" >
                編集終わり</button>
            {% else %}
              <button type="submit" class="btn btn-primary w-100 shadow ms-1"
                name="next2", value="PermissionSetWhenJoining_{{editedUser.id}}" >
                編集終わり</button>
            {% endif %}
          </div>

        </form>
      </div>

    </div> <!-- end row -->
  </div> <!-- end container -->

</div>

<style>
  .active-underline {
    text-decoration: underline !important; 
    /* Bootstrapのスタイルを上書きするために!importantを使用する場合がある */
  }
</style>

<script>

  document.addEventListener('DOMContentLoaded', function() {
    console.log('DOMContentLoaded in permissionUpate_seller.html が認識されました');

    var CanApproveAll = document.getElementById("{{ form.canApproveAll.id_for_label }}");
    var value_CanApproveAll = "{{ editedUser.canApproveAll }}"; // DjangoからJSに値を渡す
    
    console.log(value_CanApproveAll)

    if ("{{ editedUser.canApproveAll }}" == "True") {
      console.log('value_CanApproveAll == on で判定されました');

      CanApproveAll.checked = true;
    } else {
      CanApproveAll.checked = false;
    }

    var CanApproveAdd = document.getElementById("{{ form.canApproveAdd.id_for_label }}");
    var value_CanApproveAdd = "{{ editedUser.canApproveAdd }}"; // DjangoからJSに値を渡す

    console.log(value_CanApproveAdd)

    if ("{{ editedUser.canApproveAdd }}" == "True") {
      console.log('value_CanApproveAdd == on で判定されました');
      CanApproveAdd.checked = true;
    } else {
      CanApproveAdd.checked = false;
    }

    var CanApproveQpay = document.getElementById("{{ form.canApproveQpay.id_for_label }}");
    var value_CanApproveQpay = "{{ editedUser.canApproveQpay }}"; // DjangoからJSに値を渡す

    console.log(value_CanApproveQpay)

    if ("{{ editedUser.canApproveQpay }}" == "True") {
      console.log('value_CanApproveQpay == on で判定されました');
      CanApproveQpay.checked = true;
    } else {
      CanApproveQpay.checked = false;
    }

  });

</script>

{% endblock %}
