{% extends "seller/index/base_qconnect.html" %}

{% block content %}

<div class="authentication-bg align-items-start">

  <div class="container">

    {% if messages %}
      <div class="row justify-content-center mt-2 mx-2">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} py-2 rounded-1" role="alert">
            <span>{{ message }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <nav class="mt-2" aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb bg-light-subtle px-2 rounded-3">
        <li class="breadcrumb-item">
          <a href="{% url 'accounts:mypage_seller' %}">
          <i class="bi bi-house" style="font-size:1.2em; color:cornflowerblue;"></i>
          マイページトップ</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
          <a href="{% url 'accounts:infoEdit_seller' %}">
            <i class="bi bi-gear" style="font-size:1.2em; color:text-secondary;"></i>
            設定メニュー</a></li>
        <li class="breadcrumb-item" aria-current="page">
          <i class="bi bi-person-check" style="font-size:1.5em; color:text-secondary;"></i>
            参加承認
        </li>
      </ol>
    </nav>

    <div class="row justify-content-center my-auto mt-4">
      <div class="col-10 col-md-8 col-lg-6 col-xl-5">

        <div class="d-flex justify-content-center mt-4">
          <h5 class="text-secondary mt-1"><b>ユーザーからの参加申請</b></h5>
          <i class="bi bi-envelope-open ms-3" style="font-size:2.0em; color:deeppink;"></i>
        </div> 

        {% if loginUser.canApproveAll == True or loginUser.canApproveChg == True %}

          <!-- 承認者がメールからアプリに入る場合の処理 -->
          {% if request.session.flag_frWhere == 1 %}

            <form method="POST" action="{% url 'accounts:userAdd_seller' %}"
              class="form-group border border-top shadow-sm p-3 bg-light rounded mt-2">
              {% csrf_token %}

              <table class="table table-sm table-bordered border-primary-subtle table-responsive">
                <tbody class="text-center">
                  {% if applyUser.addStatus == 1 %}<tr class="table-info"> {% endif %}
                  {% if applyUser.addStatus == 3 %}<tr class="table-danger"> {% endif %}
                    <th scope="col" width="36%" class="table-primary" style="text-align:left;">申請者</th>
                    <td style="text-align: right;">{{ applyUser.userName }}さん</td></tr>
                  <tr>
                    <th scope="col" width="36%" class="table-primary" style="text-align:left;">電話番号</th>
                    <td style="text-align: right;">{{ applyUser.tel_user }}</td></tr>
                    <tr>
                    <th scope="col" width="36%" class="table-primary" style="text-align:left;">所属部署</th>
                    <td style="text-align: right;">{{ applyUser.department }}</td></tr>
                  <tr>
                    <th scope="col" width="36%" class="table-primary" style="text-align:left;">役職</th>
                    <td style="text-align: right;">{{ applyUser.title }}</td></tr>
                </tbody>
              </table>

              <table class="table table-sm table-bordered border-primary-subtle table-responsive">
                <tbody class="text-center">
                  <tr>
                    <th scope="col" td width="12%" rowspan="3" class="table-primary" style="text-align: left;">
                      権限</th>
                    <th width="24%" class="table-primary" style="text-align: left;">すべて</td>
                    <td style="text-align: right;">
                      {% if applyUser.canApproveAll %} 権限あり {% else %} 権限なし {% endif %}
                    </td></tr>
                  <tr>
                    <th width="24%" class="table-primary" style="text-align: left;">参加承認</th>
                    <td style="text-align: right;">
                      {% if applyUser.canApproveChg %} 権限あり {% else %} 権限なし {% endif %}
                    </td></tr>
                  <tr>
                    <th width="24%" class="table-primary" style="text-align: left;">
                      QPAY</th>
                    <td style="text-align: right;">
                      {% if applyUser.canApproveQpay %} 権限あり {% else %} 権限なし {% endif %}
                    </td>
                  </tr>

                </tbody>
              </table>

              <p></p>
          
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary flex-grow-1 shadow"
                  name="next"
                  value="ToEditPermission_{{applyUser.id}}" >
                  ① 権限編集</button>

                <button type="submit" class="btn btn-primary shadow flex-grow-1 ms-1"
                  name="next"
                  value="ToApproveUser_{{applyUser.id}}" >
                  ② 承認　　</button>

                <button type="submit" class="btn btn-outline-primary bg-light shadow flex-grow-1 ms-1"
                  name="next"
                  value="ToRefuseUser_{{applyUser.id}}" >
                  否認　　</button>  
              </div>

            </form>

          {% endif %}


          <!-- infoEdit.htmlから遷移して処理する場合 -->
          {% if request.session.flag_frWhere == 2 %}

            <form method="POST" action="{% url 'accounts:userAdd_seller' %}"
              class="form-group border border-top shadow-sm bg-light rounded mt-3 pt-0 pb-3 px-3">
              {% csrf_token %}         
              {{ form.non_field_errors }}

              {% for applyUser in applyUsers %}

                {% if forloop.first %} <br>
                {% else %} <hr class="">
                {% endif %}

                <table class="table table-sm table-bordered border-primary-subtle table-responsive mb-1">
                  <tbody class="text-center">
                    {% if applyUser.addStatus == 1 %}<tr class="table-info"> {% endif %}
                    {% if applyUser.addStatus == 3 %}<tr class="table-danger"> {% endif %}
                      <th scope="col" width="36%" class="table-primary" style="text-align:left;">承認状況</th>
                      <td style="text-align: right;">{{ applyUser.addStatus_char }}</td></tr>
                    <tr>
                      <th scope="col" width="36%" class="table-primary" style="text-align:left;">申請者</th>
                      <td style="text-align: right;">{{ applyUser.userName }}さん</td></tr>
                    <tr>
                      <th scope="col" width="36%" class="table-primary" style="text-align:left;">電話番号</th>
                      <td style="text-align: right;">{{ applyUser.tel_user }}</td></tr>
                      <tr>
                      <th scope="col" width="36%" class="table-primary" style="text-align:left;">所属部署</th>
                      <td style="text-align: right;">{{ applyUser.department }}</td></tr>
                    <tr>
                      <th scope="col" width="36%" class="table-primary" style="text-align:left;">役職</th>
                      <td style="text-align: right;">{{ applyUser.title }}</td></tr>
                  </tbody>
                </table>

                <table class="table table-sm table-bordered border-primary-subtle table-responsive">
                  <tbody class="text-center">
                    <tr>
                      <th scope="col" td width="12%" rowspan="3" class="table-primary" style="text-align: left;">
                        権限</th>
                      <th width="24%" class="table-primary" style="text-align: left;">すべて</td>
                      <td style="text-align: right;">
                        {% if applyUser.canApproveAll %} 権限あり {% else %} 権限なし {% endif %}
                      </td></tr>
                    <tr>
                      <th width="24%" class="table-primary" style="text-align: left;">
                        各種変更</th>
                      <td style="text-align: right;">
                        {% if applyUser.canApproveChg %} 権限あり {% else %} 権限なし {% endif %}
                      </td></tr>
                    <tr>
                      <th width="24%" class="table-primary" style="text-align: left;">
                        QPAY</th>                  
                      <td style="text-align: right;">
                        {% if applyUser.canApproveQpay %} 権限あり {% else %} 権限なし {% endif %}
                      </td>
                    </tr>

                  </tbody>
                </table>


                <div class="d-flex justify-content-center pb-3">
                  <button type="submit" class="btn btn-primary flex-grow-1 shadow"
                    name="next"
                    value="ToEditPermission_{{applyUser.id}}" >
                    ① 権限編集</button>

                  <button type="submit" class="btn btn-primary flex-grow-1 shadow ms-1"
                    name="next"
                    value="ToApproveUser_{{applyUser.id}}" >
                    ② 承認　　</button>

                  <button type="submit" class="btn btn-outline-primary bg-light flex-grow-1 shadow ms-1"
                    name="next"
                    value="ToRefuseUser_{{applyUser.id}}" >
                    否認　　</button>  
                </div>

              {% empty %}
                <div class="row justify-content-center mt-5">
                  対象データがありません。
                </div>
              {% endfor %}

            </form>
          {% endif %}
        
        {% else %}
          <div class="row justify-content-center mt-5">
            あなたは承認権限者ではありません。
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>  

// ★★ 250915 工事開始 //

<style>
  .active-underline {
    text-decoration: underline !important; 
    /* Bootstrapのスタイルを上書きするために!importantを使用する場合がある */
  }
</style>

{% endblock %}

{% block extrajs %}

<script>

  document.addEventListener('DOMContentLoaded', function() {

    console.log('DOMContentLoaded in userAdd_seller.html が認識されました');

    const SwitchButtons = document.querySelectorAll('input[type="checkbox"]'); // チェックボックスをすべて取得

    SwitchButtons.forEach(eachButton => {
      console.log('forEachに入りました');

      if (eachButton.checked) {
        eachButton.classList.add('active-underline');
      } else {
        eachButton.classList.remove('active-underline');
      }
    });

    SwitchButtons.forEach(eachButton => {
      eachButton.addEventListener('change', function(event) {
        const eventButton = event.target;
        const eventLabel = document.querySelector(`label[for="${eventButton.id}"]`);

        if (eventButton.checked) {
          eventLabel.classList.add('active-underline');
        } else {
          eventLabel.classList.remove('active-underline');
        }
      });
    });
  });

</script>

{% endblock %}