{% extends "seller/index/base_qconnect.html" %}

{% load bootstrap_icons %}
{% load humanize %}

{% block content %}

<div class="authentication-bg align-items-start">

  <div class="container">

    {% if messages %}
      <div class="row justify-content-center mt-2 mx-2">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} py-2 rounded-1" role="alert">
            <span>{{ message }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <nav class="mt-2" aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb bg-light-subtle px-2 rounded-3">
        <li class="breadcrumb-item">
          <a href="{% url 'accounts:mypage_seller' %}">
            <i class="bi bi-house" style="font-size:1.2em; color:cornflowerblue"></i>
            マイページトップ</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'qpay:txList_seller' %}">
            <i class="bi bi-list-ol" style="font-size:1.2em; color:cornflowerblue"></i>
            取引履歴・書類発行
          </a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
          <i class="bi bi-receipt-cutoff" style="font-size:1.2em; color:text-secondary"></i>
          詳細情報</li>
      </ol>
    </nav>

    <div class="row text-center mt-4">
      <h5 class="text-secondary">
        <b>詳細情報</b>
        <i class="bi bi-receipt-cutoff ms-2" style="font-size:1.3em; color:deeppink"></i>
      </h5>
    </div>

    <div class="row justify-content-center mt-2 mx-0">
      <div class="col-md-9 col-lg-6">

        <form method="GET"
          action="{% url 'qpay:txList_seller' tx.id page_number %}"
          class="form-group bg-light border border-success-subtle p-3 rounded">
      
          {% csrf_token %}

          <table class="table table-sm table-bordered border-primary-subtle table-responsive">
            <tbody>
              <tr class="table-info">
                <td width="40%" class="table-primary"><b>処理状況</b></td>
                <td style="text-align:right;">
                  {% if tx.txStatus_int == 1 %}パートナ承認前{% endif %}
                  {% if tx.txStatus_int == 2 %}パートナ承認済<br>Qnee支払い前{% endif %}
                  {% if tx.txStatus_int == 3 %}パートナ承認前{% endif %}
                  {% if tx.txStatus_int == 4 %}パートナ承認済<br>Qnee支払い済{% endif %}
                </td>
              </tr>

              <tr>
                <td class="table-primary" width="40%"><b>ゲスト</b></td>
                <td style="text-align:right;">{{ tx.sellEntityName }}</td>
              </tr>
              <tr>
                <td class="table-primary" width="40%"><b>申請者</b></td>
                <td style="text-align:right;">{{ tx.sellUser_userName }}</td>
              </tr>
              <tr>
                <td class="table-primary"width="40%"><b>申請額</b></td>
                <td style="text-align:right;">{{ tx.requested_amount|intcomma }}</td>
              </tr>
              <tr>
                <td class="table-primary" width="40%"><b>証明書類</b></td>
                <td style="text-align:center">
                  <img src="{{ tx.evidence.url }}"
                    class="img-fluid"
                    style="width:50;height:auto; cursor:zoom-in;"
                    data-bs-toggle="modal"
                    data-bs-target="#imageModal"/>
               </td>
              </tr>
            </tbody>
          </table>

          <!-- モーダル・ダイアログ -->
          <div class="modal fade"
            id="imageModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog"> <!-- 大きさ指定なしは「Medium」 -->
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title">証明書類</h6>
                  <!-- 閉じるボタン: data-bs-dismiss="modal" が重要 -->
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img src="{{ tx.evidence.url }}" class="img-fluid" alt="拡大画像">
                </div>
              </div>
            </div>
          </div>

          <!-- 拡大画像を表示するためのモーダル（隠しておく） -->
          <!--
          <div class="modal" id="id_modal">
            <span class="close">&times;</span>
            <img class="modalImage" id="id_modalImage">
          </div>
          -->

          {% if tx.transfer_amount %}

            <table class="table table-sm table-bordered border-primary-subtle table-responsive">
              <tbody>
                <tr>
                  <td width="40%" class="table-primary"><b>受取り金額</b></td>
                  <td style="text-align:right;">{{ tx.transfer_amount|intcomma }}</td>
                </tr>
                <tr>
                  <td width="40%" class="table-primary">＋前払額</td>
                  <td style="text-align:right;">{{ tx.advance_amount|intcomma }}</td>
                </tr>
                <tr>
                  <td width="40%" class="table-primary">－前払手数料</td>
                  <td style="text-align:right;">{{ tx.advance_fee|intcomma }}</td>
                </tr>
                <tr>
                  <td width="40%" class="table-primary">－振込手数料</td>
                  <td style="text-align:right;">{{ tx.transfer_fee|intcomma }}</td>
                </tr>
              </tbody>
            </table>

          {% endif %}

          <div class="d-flex justify-content-center mt-3">  
            <button type="submit" class="btn btn-outline-primary w-100"
              name="next"
              value="back">
              一覧に戻る</button>
          </div>
        </form>

      </div> <!-- endo row -->
    </div> <!-- end col -->
  </div> <!-- end container -->
</div>


<style type="text/css">

/*
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
  }

  .modalImage {
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    margin-top: 5%;
  }

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
*/
</style>

<script>

//  document.addEventListener('DOMContentLoaded', function() {
//
//    console.log('DOMContentLoadedが認識されました');
//
//    var modal = document.getElementById('id_modal');
//    var modalImg = document.getElementById('id_modalImage');
//    var closeBtn = document.querySelector('.close');
//
//    // クラスが 'zoomable-image' の画像をすべて取得
//    var images = document.querySelectorAll('.zoomable-image');
//
//    images.forEach(img => {
//
//      console.log('images.forEachに入りました。');
//      // 各画像にクリックイベントを追加
//      img.addEventListener('click', () => {
//        modal.style.display = 'block';
//        modalImg.src = img.src; // クリックした画像のsrcをモーダルに渡す
//      });
//    });
//
//    // 閉じるボタンをクリックしたら閉じる
//    closeBtn.addEventListener('click', () => {
//      modal.style.display = 'none';
//    });
//
//    // モーダルの背景（画像以外）をクリックしたら閉じる
//    modal.addEventListener('click', (e) => {
//      console.log('モーダルがクリックされました');
//      if (e.target !== modalImg) {
//        modal.style.display = 'none';
//      }
//    });
//  });

</script>

{% endblock %}