{% extends "seller/index/base_qconnect.html" %}

{% load bootstrap_icons %}
{% load humanize %}

{% block content %}

<div class="authentication-bg align-items-start">

  <div class="container">

    {% if messages %}
      <div class="row justify-content-center mt-2 mx-2">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} py-2 rounded-1" role="alert">
            <span>{{ message }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <nav class="mt-2" aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb bg-light-subtle px-2 rounded-3">
        <li class="breadcrumb-item">
          <a href="{% url 'accounts:mypage_seller' %}">
            <i class="bi bi-house" style="font-size:1.2em; color:cornflowerblue"></i>
            マイページトップ</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
          <i class="bi bi-list-ol" style="font-size:1.2em; color:text-secondary"></i>
          取引履歴・書類発行</li>
      </ol>
    </nav>
    
    <div class="d-flex justify-content-center mt-4">
      <h5 class="text-secondary">
        <b> 取引一覧</b></h5>
      <i class="bi bi-receipt-cutoff ms-3" style="font-size:1.6em; color:deeppink"></i>
    </div>

    <div class="row justify-content-center mt-2 mx--1">
      
      <form method="GET">
        {% csrf_token %}

        <div class="d-block d-lg-none">

          <table class="table table-sm table-bordered border-primary-subtle table-responsive">
            <thead style="font-size:0.9rem">
              <tr class="table-primary" style="text-align:center;">
                <th rowspan="2" style="vertical-align:middle">#</th>
                <th rowspan="2" style="vertical-align:top">申請額</th>
                <th colspan="3" style="vertical-align:top">対応状況</th>
                <th rowspan="2" style="vertical-align:top">詳細</th>
              </tr>
              <tr class="table-primary" style="text-align:center;">
                <th style="vertical-align:top">申請</th>
                <th style="vertical-align:top">承認</th>
                <th style="vertical-align:top">振込</th>
              </tr>
            </thead>

            <tbody style="font-size:0.9rem">
              {% for item in page_obj %}
                <tr>
                  <td rowspan="2" style="text-align:center; vertical-align:middle">
                    {{ page_obj.start_index|add:forloop.counter0 }}</td>
                  <td rowspan="2" style="text-align:center; vertical-align:middle">{{ item.requested_amount|intcomma }}</td>

                  <td colspan="1" style="text-align:center">{{ item.sellEntityName }}</td>
                  <td colspan="1" style="text-align:center">{{ item.buyEntityName }}</td>
                  <td colspan="1" style="text-align:center">Qnee</td>

                  <td rowspan="2" style="text-align:center; vertical-align:middle">
                    <a href="{% url 'qpay:txListDetail_seller' item.pk page_obj.number %}"
                      class="btn btn-outline-primary rounded-1">
                      表示</a>
                  </td>
                </tr>
                <tr>
                  <td style="text-align:center">{{ item.requested_at|date:"y.n.j H:i"| default:'-' }}</td>
                  <td style="text-align:center">{{ item.approved_at|date:"y.n.j H:i"| default:'-'}}</td>
                  <td style="text-align:center">{{ item.advanced_at|date:"y.n.j H:i"| default:'-'}}</td>
                </tr>

              {% empty %}
                <p>データがありません。</p>

                
              {% endfor %}

            </tbody>
          </table>

        </div> <!-- end of d-block -->

        
        <div class="d-none d-lg-block">

          <table class="table table-sm table-bordered border-primary-subtle table-responsive">
            <thead style="font-size:0.9rem">
              <tr class="table-primary" style="text-align:center;">
                <th rowspan="2" style="vertical-align:middle">#</th>
                <th rowspan="2" style="vertical-align:top">申請額</th>
                <th colspan="3" style="vertical-align:top">対応状況</th>
                <th rowspan="2" style="vertical-align:top">証明<br>書類</th>

                <th rowspan="2" style="vertical-align:top">詳細</th>
              </tr>
              <tr class="table-primary" style="text-align:center;">
                <th style="vertical-align:top">申請</th>
                <th style="vertical-align:top">承認</th>
                <th style="vertical-align:top">支払</th>
              </tr>
            </thead>

            <tbody style="font-size:0.9rem">
              {% for item in page_obj %}
                <tr>
                  <td rowspan="2" style="text-align:center; vertical-align:middle;">
                    {{ page_obj.start_index|add:forloop.counter0 }}</td>
                  <td rowspan="2" style="text-align:center; vertical-align:middle;">
                    {{ item.requested_amount|intcomma }}</td>

                  <td colspan="1" style="text-align:center">{{ item.sellEntityName }}</td>
                  <td colspan="1" style="text-align:center">{{ item.buyEntityName }}</td>
                  <td colspan="1" style="text-align:center" class="px-4">Qnee</td>

                  <td rowspan="2" style="text-align:center; vertical-align:middle;">
                    <img src="{{ item.evidence.url }}"
                      class="img-fluid"
                      style="max-height:55; width:auto; cursor:zoom-in;"
                      data-bs-toggle="modal"
                      data-bs-target="#imageModal{{ forloop.counter }}"/>
                  </td>
                  <!-- モーダル・ダイアログ -->
                  <div class="modal fade"
                    id="imageModal{{ forloop.counter }}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">  <!-- modal-sm/lg/xl/xxl 指定なしは「medium」 -->
                      <div class="modal-content">
                        <div class="modal-header">
                          <h6 class="modal-title">証明書類</h6>
                          <!-- 閉じるボタン: data-bs-dismiss="modal" が重要 -->
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <img src="{{ item.evidence.url }}" class="img-fluid" alt="拡大画像">
                        </div>
                      </div>
                    </div>
                  </div> 

                  <td rowspan="2" class="p-1" style="text-align:center; vertical-align:middle;">
                    <a href="{% url 'qpay:txListDetail_seller' item.pk page_obj.number %}"
                      class="btn btn-outline-primary rounded-1 w-100 px-2">
                      表示</a>
                  </td>
                </tr>
                <tr>
                  <td style="text-align:center; vertical-align:middle;">
                    {{ item.requested_at|date:"y.n.j H:i" }}</td>
                  <td style="vertical-align:middle; text-align:center">
                    {% if item.txStatus_int == 1 %}未了{% endif %}
                    {% if item.txStatus_int == 2 or item.txStatus_int == 4 %}
                      {{ item.approved_at|date:"y.n.j H:i" }}{% endif %}
                    {% if item.txStatus_int == 3 %}否認{% endif %}
                  </td>
                  <td style="vertical-align:middle; text-align:center">
                    {% if item.txStatus_int == 1 %}未了{% endif %}
                    {% if item.txStatus_int == 2 %}未了{% endif %}
                    {% if item.txStatus_int == 3 %}不可{% endif %}
                    {% if item.txStatus_int == 4 %}
                      {{ item.approved_at|date:"y.n.j H:i" }}{% endif %}
                  </td>
                </tr>
  
              {% empty %}
                <p>データがありません。</p>
              {% endfor %}

            </tbody>
          </table>
       
        </div> <!-- end of d-none -->

        <input type="hidden" name="next" value="{{ next }}" />

      </form>
      
      {% include "partials/pagination.html" %}

    </div> <!-- end row -->
  </div> <!-- end container -->

</div>

{% endblock %}