{% extends "index/base_qconnect_seller.html" %}

{% load bootstrap_icons %}
{% load humanize %}

{% block content %}
{% csrf_token %}


<div class="authentication-bg min-vh-100 min-vw-100 align-items-start">

  <div class="container">

    <div class="row justify-content-center mt-1">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} py-2 rounded-1" role="alert">
          <span>{{ message }}</span>
        </div>
      {% endfor %}
    </div>

    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb bg-light-subtle px-2 rounded-3 mt-1">
        <li class="breadcrumb-item">
          <a href="{% url 'accounts:mypage_seller' %}">
            {% bs_icon 'house' color='cornflowerblue' size='1.2em' %}
            マイページトップ</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">取引履歴・書類発行</li>
      </ol>
    </nav>
    
    <div class="d-flex justify-content-center mt-4">
      <h5 class="text-secondary">
        <b> 取引一覧　</b></h5>
      {% bs_icon 'receipt-cutoff' color='hotpink' size='1.5em' %}
    </div>

    <div class="row justify-content-center mt-2 mx--1">
      
      <form method="GET">
        {% csrf_token %}

        <div class="d-block d-lg-none">

          <table class="table table-sm table-bordered border-primary-subtle table-responsive">
            <thead>
              <tr class="table-primary" style="text-align:center;">
                <th rowspan="2" style="vertical-align:middle">#</th>
                <th colspan="2" style="vertical-align:top">申請先</th>
                <th rowspan="2" style="vertical-align:top">取引<br>状況</th>
                <th rowspan="2" style="vertical-align:top">詳細</th>
              </tr>
              <tr class="table-primary" style="text-align:center;">
                <th style="vertical-align:top">申請額</th>
                <th style="vertical-align:top">申請時</th>
              </tr>
            </thead>

            <tbody>
              {% for item in page_obj %}
                <tr>
                  <td rowspan="2" style="text-align:center; vertical-align:middle">
                    {{ forloop.counter }}</td>
                  <td colspan="2" style="text-align:center">{{ item.buyEntityName }}</td>
                  <td rowspan="2" style="text-align:center; vertical-align:middle">
                    {{ item.txStatus_char|linebreaksbr }}</td>
                  <td rowspan="2" style="text-align:center; vertical-align:middle">
                    <a href="{% url 'qpay:txDetail_seller' item.pk page_obj.number %}"
                      class="btn btn-outline-primary rounded-1">
                      表示</a>
                  </td>
                </tr>
                <tr>
                  <td style="text-align:center">{{ item.requested_amount|intcomma }}</td>
                  <td style="text-align:center">{{ item.requested_at|date:"y.n.j H:i" }}</td>
                </tr>

              {% empty %}
                <p>データがありません。</p>

                
              {% endfor %}

            </tbody>
          </table>

        </div> <!-- end of d-block -->

        
        <div class="d-none d-lg-block">

          <table class="table table-sm table-bordered border-primary-subtle table-responsive">
            <thead>
              <tr class="table-primary" style="text-align:center;">
                <th rowspan="2" style="vertical-align:middle">#</th>
                <th colspan="2" style="vertical-align:top">申請先</th>
                <th rowspan="2" style="vertical-align:top">証明<br>書類</th>
                <th rowspan="2" style="vertical-align:top">取引<br>状況</th>
                <th rowspan="2" style="vertical-align:top">詳細</th>
              </tr>
              <tr class="table-primary" style="text-align:center;">
                <th style="vertical-align:top">申請額</th>
                <th style="vertical-align:top">申請時</th>
              </tr>
            </thead>

            <tbody>
              {% for item in page_obj %}
                <tr>
                  <td rowspan="2" style="text-align:center; vertical-align:middle;">
                    {{ forloop.counter }}</td>
                  <td colspan="2" style="text-align:center">{{ item.buyEntityName }}</td>
                  <td rowspan="2" style="text-align:center; vertical-align:middle;">
                    <img src="{{ item.evidence.url }}"
                      class="img-fluid"
                      style="width:50;height:auto; cursor:zoom-in;"
                      data-bs-toggle="modal"
                      data-bs-target="#imageModal{{ forloop.counter }}"/>

                  </td>
                  <!-- モーダル・ダイアログ -->
                  <div class="modal fade"
                    id="imageModal{{ forloop.counter }}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-sm"> <!-- 大きさ指定なしは「Medium」 -->
                      <div class="modal-content">
                        <div class="modal-header">
                          <h6 class="modal-title">証明書類</h6>
                          <!-- 閉じるボタン: data-bs-dismiss="modal" が重要 -->
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <img src="{{ item.evidence.url }}" class="img-fluid" alt="拡大画像">
                        </div>
                      </div>
                    </div>
                  </div> 

                  <td rowspan="2" style="text-align:center; vertical-align:middle;">
                    {{ item.txStatus_char|linebreaksbr }}</td>
                  <td rowspan="2" style="text-align:center; vertical-align:middle;">
                    <a href="{% url 'qpay:txDetail_seller' item.pk page_obj.number %}"
                      class="btn btn-outline-primary rounded-1">
                      表示</a>
                  </td>
                </tr>
                <tr>
                  <td style="text-align:center; vertical-align:middle;">
                    {{ item.requested_amount|intcomma }}</td>
                  <td style="text-align:center; vertical-align:middle;">
                    {{ item.requested_at|date:"y.n.j H:i" }}</td>
                </tr>
  
                {% empty %}
                <p>データがありません。</p>
              {% endfor %}

            </tbody>
          </table>
       
        </div> <!-- end of d-none -->

        <input type="hidden" name="next" value="{{ next }}" />

      </form>
      
      {% include "partials/pagination.html" %}

    </div> <!-- end row -->
  </div> <!-- end container -->

</div>

{% endblock %}