{% extends "buyer/index/base_qconnect.html" %}

{% load bootstrap_icons %}
{% load humanize %}

{% block content %}
{% csrf_token %}

<div class="authentication-bg align-items-start">

  <div class="container">

    {% if messages %}
      <div class="messages row justify-content-center mt-2 mx-2">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} py-1 rounded-1 mb-0" role="alert">
            <span>{{ message }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <nav class="mt-2 bg-light rounded-3 border-top shadow-sm"
      aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb px-2" style="font-size: 0.85rem !important">
        <li class="breadcrumb-item">
          <a href="{% url 'accounts:mypage_buyer' %}">
            <i class="bi bi-house" style="font-size:1.2em; color:cornflowerblue"></i>
            マイページトップ</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
          <i class="bi bi-inbox" style="font-size:1.2em; color:text-secondary"></i>
          インボックス
        </li>
      </ol>
    </nav>

    
    <div class="d-flex justify-content-center mt-5">
      <h5 class="text-secondary pt-1"><b>インボックス</b></h5>
      <span class="ms-3">{% bs_icon 'inbox-fill' color='deeppink' size='2.2em' %}</span>
    </div>

    {% if loginUser.canApproveAll == True or loginUser.canApproveQpay == True %}

      {% if object_list.count >= 1 %}

        <div class="row justify-content-center">
      
          <form method="GET"
            class="bg-light-subtle rounded-1 px-2 pt-3 pb-0"
            style="background-color: transparent !important; border-color:transparent !important;">
          
            {% csrf_token %}

              <div class="d-block d-lg-none">

                <table class="table table-sm bg-light
                  table-bordered border-primary-subtle
                  shadow-sm table-responsive">

                  <thead style="font-size:0.9rem">
                    <tr class="table-primary" style="text-align:center;">       
                      <th rowspan="1" style="vertical-align:middle; text-align:center">#</th>
                      <th colspan="1" style="vertical-align:top">対応者</th>
                      <th rowspan="1" style="vertical-align:top">申請額</th>
                      <th colspan="1" style="vertical-align:top">状況</th>
                      <th colspan="1" style="vertical-align:top">対応時点</th>
                      <!-- <th rowspan="2" style="vertical-align:top">証明書</th> -->
                      <th rowspan="1" style="vertical-align:top">承認画面</th>
                    </tr>
                  </thead>

                  <tbody style="font-size:0.9rem">
              
                    {% for item in page_obj %}

                      <!-- データ抽出時に「txStatus=1 or txStatus=-3 or txStatus=4」としている -->
                      <!-- この部分を見て対象データが分かるように敢えての明示 -->
                      {% if item.txStatus == 1 or item.txStatus == -3 or item.txStatus == 4 %}

                        <tr>
                          {% if item.sendbackInfo_admin is None %}
                            <th rowspan="2" class="table-primary"
                              style="vertical-align:middle; text-align:center">
                              {{ page_obj.start_index|add:forloop.counter0 }}</th>
                            <th colspan="1" class="table-primary"
                              style="text-align:left">
                              {{ item.sellEntityname }}</th>
                            <td rowspan="2" style="text-align:center; vertical-align:middle;">
                              {{ item.requested_amount|intcomma }}</td>
                          {% else %}
                            <td rowspan="3" class="table-primary"
                              style="text-align:center; vertical-align:middle;">
                              {{ page_obj.start_index|add:forloop.counter0 }}</td>
                            <th colspan="1" class="table-primary"
                              style="text-align:left">
                              {{ item.sellEntityname }}</th>
                            <td rowspan="3" style="text-align:center; vertical-align:middle;">
                              {{ item.requested_amount|intcomma }}</td>
                          {% endif %}

                          {% if item.txStatus == 2 %}
                            <td style="vertical-align:middle; text-align:center">-</td>
                            <td style="vertical-align:middle; text-align:center">-</td>
                          {% else %}
                            <td style="vertical-align:middle; text-align:center">
                              申請済</td>
                            <td style="vertical-align:middle; text-align:center;
                              font-size:0.75rem">
                                {{ item.requested_at|default:'-'|date:"y/n/j H:i" }}</td>
                          {% endif %}

                          <!-- <td rowspan="2" style="text-align:center">
                            <img src="{{ item.evidence.url }}" class="img-evidence" style="width:50;height:auto" /></td> -->

                          {% if item.sendbackInfo_admin is None %}
                            <td class="p-1" rowspan="2"
                              style="width:75px; vertical-align:middle; text-align:center">
                          {% else %}
                            <td class="p-1" rowspan="3"
                              style="width:75px; vertical-align:middle; text-align:center">
                          {% endif %}
                            <a href="{% url 'qpay:txApproveDetail_buyer' item.pk %}"
                              class="btn btn-outline-primary w-100 px-2">移る</a>
                          </td>
                        </tr>

                        <tr>
                          <th colspan="1" class="table-primary"
                            style="text-align:left">
                            {{ item.buyEntityname|default:'-' }}</th>
                          
                            {% if item.txStatus == 1 or item.txStatus == 4 %}
                              <td style="vertical-align:middle; text-align:center">-</td>
                              <td style="vertical-align:middle; text-align:center;
                                  font-size:0.75rem">-</td>

                            {% elif item.txStatus == 2 %}
                              <td style="vertical-align:middle; text-align:center">差戻</td>
                              <td style="vertical-align:middle; text-align:center;
                                font-size:0.75rem">
                                {{ item.sendbackInfo_buyer.created_at|default:'-'|date:"y/n/j H:i" }}</td>

                            {% elif item.txStatus == 3 or item.txStatus == 5 %}
                              <td style="vertical-align:middle; text-align:center">
                                承認済</td>
                              <td style="vertical-align:middle; text-align:center;
                                font-size:0.75rem">
                                {{ item.approved_at|default:'-'|date:"y/n/j H:i" }}</td>

                            {% else %}
                              <td style="vertical-align:middle; text-align:center">未承認</td>
                              <td style="vertical-align:middle; text-align:center">-</td>
                            {% endif %}
                          </td>

                        </tr>

                        {% if item.sendbackInfo_admin is None %}
                        {% else %}
                          <tr>
                            <th colspan="1" class="table-primary"
                              style="text-align:left">
                               (株)キユーニー</th>
                            <td style="vertical-align:middle; text-align:center">差戻</td>
                            <td style="vertical-align:middle; text-align:center;
                              font-size:0.75rem">
                                {{ item.sendbackInfo_buyer.created_at|default:'-'|date:"y/n/j H:i" }}</td>
                            </tr>
                        {% endif %}

                      {% endif %}

                    {% empty %}
                      <p>対象データはありません。</p>
                    {% endfor %}

                  </tbody>
                </table>
              </div>


              <div class="d-none d-lg-block">

                <div class="row justify-content-center">
                  <div class="col-lg-9">
              
                    <table class="table table-sm bg-light
                      table-bordered border-primary-subtle
                      shadow-sm table-responsive">
                      <thead style="font-size:0.9rem">
                        <tr class="table-primary" style="text-align:center;">       
                          <th rowspan="1" style="vertical-align:middle; text-align:center">#</th>
                          <th colspan="1" style="vertical-align:top">対応者</th>
                          <th rowspan="1" style="vertical-align:top">申請額</th>
                          <th colspan="1" style="vertical-align:top">状況</th>
                          <th colspan="1" style="vertical-align:top">対応時点</th>
                          <th rowspan="2" style="vertical-align:top">証明<br>書類</th>
                         <th rowspan="1" style="vertical-align:top">承認画面</th>
                        </tr>
                      </thead>

                      <tbody style="font-size:0.9rem">
              
                        {% for item in page_obj %}

                          <!-- データ抽出時に「txStatus=1 or txStatus=-3 or txStatus=4」としている -->
                          <!-- この部分を見て対象データが分かるように敢えての明示 -->
                          {% if item.txStatus == 1 or item.txStatus == -3 or item.txStatus == 4 %}

                            <tr>
                              <th {% if item.sendbackInfo_admin is None %} rowspan="2" {% else %} rowspan="3" {% endif %}
                                class="table-primary"
                                style="vertical-align:middle; text-align:center">
                                {{ page_obj.start_index|add:forloop.counter0 }}</th>
                              <th colspan="1" class="table-primary"
                                style="text-align:left">
                                {{ item.sellEntityname }}</th>
                              <td {% if item.sendbackInfo_admin is None %} rowspan="2" {% else %} rowspan="3" {% endif %}
                                style="text-align:center; vertical-align:middle;">
                                {{ item.requested_amount|intcomma }}</td>

                          {% if item.txStatus == 2 %}
                            <td style="vertical-align:middle; text-align:center">-</td>
                            <td style="vertical-align:middle; text-align:center">-</td>
                          {% else %}
                            <td style="vertical-align:middle; text-align:center">
                              申請済</td>
                            <td style="vertical-align:middle; text-align:center;
                              font-size:0.75rem">
                                {{ item.requested_at|default:'-'|date:"y/n/j H:i" }}</td>
                          {% endif %}

                              <td {% if item.sendbackInfo_admin is None %} rowspan="2" {% else %} rowspan="3" {% endif %}
                                style="vertical-align:middle; text-align:center;">

                                <img src="{{ item.evidence.url }}"
                                  class="img-fluid"
                                  style="max-height:55; width:auto; cursor:zoom-in;"
                                  data-bs-toggle="modal"
                                  data-bs-target="#imageModal{{ forloop.counter }}"/>
                              </td>
                              <!-- モーダルウィンドウ外枠 -->
                              <div class="modal fade"
                                id="imageModal{{ forloop.counter }}" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog"> <!-- modal-sm/lg/xl/xxl 大きさ指定なしは「Medium」 -->
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h6 class="modal-title">証明書類</h6>
                                      <!-- 閉じるボタン: data-bs-dismiss="modal" が重要 -->
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <img src="{{ item.evidence.url }}" class="img-fluid" alt="拡大画像">
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <td  {% if item.sendbackInfo_admin is None %} rowspan="2" {% else %} rowspan="3" {% endif %}
                                class="p-1" style="width:75px; vertical-align:middle; text-align:center">
                                <a href="{% url 'qpay:txApproveDetail_buyer' item.pk %}"
                                  class="btn btn-outline-primary w-100 px-2">移る</a>
                              </td>
                            </tr>

                            <tr>
                              <th colspan="1" class="table-primary"
                                style="text-align:left">
                                {{ item.buyEntityname|default:'-' }}</th>
                          
                                {% if item.txStatus == 1 or item.txStatus == 4 %}
                                  <td style="vertical-align:middle; text-align:center">-</td>
                                 <td style="vertical-align:middle; text-align:center;
                                      font-size:0.75rem">-</td>

                                {% elif item.txStatus == 2 %}
                                  <td style="vertical-align:middle; text-align:center">差戻</td>
                                  <td style="vertical-align:middle; text-align:center;
                                    font-size:0.75rem">
                                    {{ item.sendbackInfo_buyer.created_at|default:'-'|date:"y/n/j H:i" }}</td>

                                {% elif item.txStatus == 3 or item.txStatus == 5 %}
                                  <td style="vertical-align:middle; text-align:center">
                                    承認済</td>
                                  <td style="vertical-align:middle; text-align:center;
                                    font-size:0.75rem">
                                    {{ item.approved_at|default:'-'|date:"y/n/j H:i" }}</td>

                                {% else %}
                                  <td style="vertical-align:middle; text-align:center">未承認</td>
                                  <td style="vertical-align:middle; text-align:center">-</td>
                                {% endif %}
                              </td>

                            </tr>

                            {% if item.sendbackInfo_admin is None %}
                            {% else %}
                              <tr>
                                <th colspan="1" class="table-primary"
                                  style="text-align:left">
                                   (株)キユーニー</th>
                                <td style="vertical-align:middle; text-align:center">差戻</td>
                                <td style="vertical-align:middle; text-align:center;
                                  font-size:0.75rem">
                                    {{ item.sendbackInfo_buyer.created_at|default:'-'|date:"y/n/j H:i" }}</td>
                                </tr>
                            {% endif %}

                          {% endif %}

                        {% empty %}

                          <div class="row justify-content-center text-secondary mt-5">
                            対象データはありません。
                          </div>

                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <!-- <input type="hidden" name="next" value="{{ next }}" /> -->

            {% include "partials/pagination.html" %}

          </form>
        </div>

      {% else %}

        <div class="row justify-content-center mt-5">
          <h6 class="text-secondary text-center">
            対象となる申請データがありません
          </h6>
        </div>

      {% endif %}

    {% else %}

      <div class="row justify-content-center mt-5">
        <h6 class="text-secondary text-center">
          あなたは承認権限者ではありません。
        </h6>
      </div>
       
    {% endif %}
    
    </div>
  </div>
</div>

{% endblock %}