{% extends "buyer/index/base_qconnect.html" %}

{% load bootstrap_icons %}
{% load humanize %}

{% block content %}
{% csrf_token %}

<div class="authentication-bg align-items-start">

  <div class="container">

    {% if messages %}
      <div class="row justify-content-center mt-2 mx-2">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} py-2 rounded-1" role="alert">
            <span>{{ message }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <nav class="mt-2" aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb bg-light-subtle px-2 rounded-3">
        <li class="breadcrumb-item">
          <a href="{% url 'accounts:mypage_buyer' %}">
            <i class="bi bi-house" style="font-size:1.2em; color:cornflowerblue"></i>
            マイページトップ</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
          <i class="bi bi-inbox" style="font-size:1.2em; color:text-secondary"></i>
          インボックス
        </li>
      </ol>
    </nav>

    
    <div class="d-flex justify-content-center mt-5">
      <h5 class="text-secondary pt-1"><b>インボックス　</b></h5>
      {% bs_icon 'inbox' color='deeppink' size='2.2em' %}
    </div>

    {% if loginUser.canApproveAll == True or loginUser.canApproveQpay == True %}

      {% if object_list.count >= 1 %}

        <div class="row justify-content-center">
      
          <form method="GET"
            class="bg-light-subtle rounded-1 px-2 pt-3 pb-0"
            style="background-color: transparent !important; border-color:transparent !important;">
          
            {% csrf_token %}

              <div class="d-block d-lg-none">

                <table class="table table-sm table-bordered border-primary-subtle table-responsive">
                  <thead style="font-size:0.9rem">
                    <tr class="table-primary" style="text-align:center;">
                      <th rowspan="2" style="vertical-align:middle; text-align:center">#</th>
                      <th colspan="2" style="vertical-align:top">申請法人</th>
                      <!-- <th rowspan="2" style="vertical-align:top">証明書</th> -->
                      <th colspan="2" style="vertical-align:top">承認ユーザー</th>
                      <th rowspan="2" style="vertical-align:top">承認画面</th>
                    </tr>
                    <tr class="table-primary" style="text-align:center;">
                      <th style="vertical-align:top">申請額</th>
                      <th style="vertical-align:top">申請時</th>
                      <th style="vertical-align:top">状況</th>
                      <th style="vertical-align:top">承認時</th>
                    </tr>

                  </thead>

                  <tbody style="font-size:0.9rem">
              
                    {% for item in page_obj %}

                      <!-- データ抽出時に「txStatus_int=1 or txStatus_int=3」としている為、念のための条件 -->
                      {% if item.txStatus_int <= 3 %}

                       <tr>
                          <td rowspan="2" style="vertical-align:middle; text-align:center">
                            {{ page_obj.start_index|add:forloop.counter0 }}</td>
                          <td colspan="2" style="text-align:center">
                            {{ item.sellEntityName }}</td>
                          <td colspan="2" style="text-align:center">
                            {{ item.buyUser_userName |default:'-' }}</td>

                            <!-- <td rowspan="2" style="text-align:center">
                            <img src="{{ item.evidence.url }}" class="img-evidence" style="width:50;height:auto" /></td> -->

                            <td class="p-1" rowspan="2" style="vertical-align:middle; text-align:center">
                            <a href="{% url 'qpay:txApproveDetail_buyer' item.pk %}"
                              class="btn btn-outline-primary w-100 px-2">移る</a>
                          </td>
                        </tr>
                        <tr>
                          <td style="text-align:center">{{ item.requested_amount|intcomma }}</td>
                          <td style="text-align:center">{{ item.requested_at|date:"y/n/j H:i" }}</td>
                            {% if item.txStatus_int == 1 %}
                              <td style="vertical-align:middle; text-align:center">まだ</td>
                            {% endif %}
                            {% if item.txStatus_int == 2 %}
                              <td style="vertical-align:middle; text-align:center">承認</td>
                            {% endif %}
                            {% if item.txStatus_int == 3 %}
                              <td class="table-danger" style="vertical-align:middle; text-align:center">否認</td>
                            {% endif %}
                            {% if item.txStatus_int == 4 %}
                              <td style="vertical-align:middle; text-align:center">承認</td>
                            {% endif %}

                          <td style="vertical-align:middle; text-align:center">
                            {% if item.txStatus_int == 1 %}-{% endif %}
                            {% if item.txStatus_int == 2 %}{{ item.approved_at|date:"y/n/j H:i" |default:'-' }}{% endif %}
                            {% if item.txStatus_int == 3 %}{{ item.rejected_at|date:"y/n/j H:i" |default:'-' }}{% endif %}
                            {% if item.txStatus_int == 4 %}{{ item.approved_at|date:"y/n/j H:i" |default:'-' }}{% endif %}

                          </td>
                        </tr>

                      {% endif %}

                    {% empty %}
                      <p>対象データはありません。</p>
                    {% endfor %}

                  </tbody>
                </table>
              </div>


              <div class="d-none d-lg-block">
              
                <table class="table table-sm table-bordered border-primary-subtle table-responsive">

                  <thead style="font-size:0.9rem">
                    <tr class="table-primary" style="text-align:center;">
                      <th rowspan="2" style="vertical-align:middle; text-align:center">#</th>
                      <th colspan="2" style="vertical-align:top">申請者</th>
                      <th rowspan="2" style="vertical-align:top">証明<br>書類</th>
                      <th colspan="2" style="vertical-align:top">承認ユーザー</th>
                      <th rowspan="2" style="vertical-align:top">承認画面</th>
                    </tr>
                    <tr class="table-primary" style="text-align:center;">
                      <th style="vertical-align:top">申請額</th>
                      <th style="vertical-align:top">申請時</th>
                      <th style="vertical-align:top">状況</th>
                      <th style="vertical-align:top">承認時</th>
                    </tr>

                  </thead>

                  <tbody style="font-size:0.9rem">
              
                    {% for item in page_obj %}

                      <!-- データ抽出時に「txStatus_int=1 or txStatus_int=3」としている為、念のための条件 -->
                      {% if item.txStatus_int <= 3 %}

                       <tr>
                          <td rowspan="2" style="vertical-align:middle; text-align:center">
                            {{ page_obj.start_index|add:forloop.counter0 }}</td>
                          <td colspan="2" style="vertical-align:middle; text-align:center">
                            {{ item.sellEntityName }}</td>
                          <td rowspan="2" style="vertical-align:middle; text-align:center;">
                            <img src="{{ item.evidence.url }}"
                              class="img-fluid"
                              style="max-height:55; width:auto; cursor:zoom-in;"
                              data-bs-toggle="modal"
                              data-bs-target="#imageModal{{ forloop.counter }}"/>
                          </td>
                          <!-- モーダルウィンドウ外枠 -->
                          <div class="modal fade"
                            id="imageModal{{ forloop.counter }}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog"> <!-- modal-sm/lg/xl/xxl 大きさ指定なしは「Medium」 -->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h6 class="modal-title">証明書類</h6>
                                  <!-- 閉じるボタン: data-bs-dismiss="modal" が重要 -->
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <img src="{{ item.evidence.url }}" class="img-fluid" alt="拡大画像">
                                </div>
                              </div>
                            </div>
                          </div>

                          <td colspan="2" style="vertical-align:middle; text-align:center">
                            {{ item.buyUser_userName |default:'-' }}</td>

                          <td rowspan="2" class="p-1" style="vertical-align:middle; text-align:center;">
                            <a href="{% url 'qpay:txApproveDetail_buyer' item.pk %}"
                              class="btn btn-outline-primary w-100 px-2">
                              移る</a>
                          </td>
                        </tr>
                        <tr>
                          <td style="vertical-align:middle; text-align:center">
                            {{ item.requested_amount|intcomma }}</td>
                          <td style="vertical-align:middle; text-align:center">
                            {{ item.requested_at|date:"y/n/j H:i" }}</td>
                          
                            {% if item.txStatus_int == 1 %}
                              <td style="vertical-align:middle; text-align:center">まだ</td>
                            {% endif %}
                            {% if item.txStatus_int == 2 %}
                              <td style="vertical-align:middle; text-align:center">承認</td>
                            {% endif %}
                            {% if item.txStatus_int == 3 %}
                              <td class="table-danger" style="vertical-align:middle; text-align:center">否認</td>
                            {% endif %}
                            {% if item.txStatus_int == 4 %}
                              <td style="vertical-align:middle; text-align:center">承認</td>
                            {% endif %}

                          <td style="vertical-align:middle; text-align:center">
                            {% if item.txStatus_int == 1 %}-{% endif %}
                            {% if item.txStatus_int == 2 %}{{ item.approved_at|date:"y/n/j H:i" |default:'-' }}{% endif %}
                            {% if item.txStatus_int == 3 %}{{ item.rejected_at|date:"y/n/j H:i" |default:'-' }}{% endif %}
                            {% if item.txStatus_int == 4 %}{{ item.approved_at|date:"y/n/j H:i" |default:'-' }}{% endif %}

                          </td>
                        </tr>

                      {% endif %}

                    {% empty %}

                      <div class="row justify-content-center text-secondary mt-5">
                        対象データはありません。
                      </div>

                    {% endfor %}

                  </tbody>
                </table>
             
              </div>

              <!-- <input type="hidden" name="next" value="{{ next }}" /> -->

            {% include "partials/pagination.html" %}

          </form>
        </div>

      {% else %}

        <div class="row justify-content-center mt-5">
          <h6 class="text-secondary text-center">
            対象となる申請データがありません
          </h6>
        </div>

      {% endif %}

    {% else %}

      <div class="row justify-content-center mt-5">
        <h6 class="text-secondary text-center">
          あなたは承認権限者ではありません。
        </h6>
      </div>
       
    {% endif %}
    
    </div>
  </div>
</div>

{% endblock %}