{% extends "index/base_qconnect_buyer.html" %}

{% load bootstrap_icons %}
{% load humanize %}

{% block content %}
{% csrf_token %}


<div class="authentication-bg min-vh-100 min-vw-100 align-items-start">

  <div class="container">

    <div class="row justify-content-center mt-1">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} py-2 rounded-1" role="alert">
          <span>{{ message }}</span>
        </div>
      {% endfor %}
    </div>

    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb bg-light-subtle px-2 rounded-1 mt-1">
        <li class="breadcrumb-item">
          <a href="{% url 'accounts:mypage_buyer' %}">
            {% bs_icon 'house' color='cornflowerblue' size='1.2em' %}
            マイページトップ</a></li>
        <li class="breadcrumb-item" aria-current="page">取引一覧</li>
      </ol>
    </nav>

    <div class="d-flex justify-content-center mt-4">
      <h5 class="text-secondary pt-1"><b>取引一覧　</b></h5>
      {% bs_icon 'receipt-cutoff' color='hotpink' size='2.2em' %}
    </div>


    {% if objectList.count >= 1 %}
      <div class="row justify-content-center">
 
        <form method="POST" class="bg-light rounded-1 p-3">
          {% csrf_token %}

            <div class="d-block d-lg-none">
            <table class="table table-sm table-bordered border-primary-subtle table-responsive">
              <thead>
                <tr class="table-primary" style="text-align:center;">
                  <th rowspan="2"style="vertical-align:top">#</th>
                  <th colspan="2" style="vertical-align:top">申請ゲスト</th>
                  <th rowspan="2" style="vertical-align:top">取引<br>状況</th>
                  <th rowspan="2" style="vertical-align:top">詳細</th>
                </tr>

                <tr class="table-primary" style="text-align:center;">
                  <th style="vertical-align:top">申請額</th>
                  <th style="vertical-align:top">申請時</th>
                </tr>

              </thead>
          
              <tbody>

                {% for item in pageObj %}

                  <tr>
                    <td rowspan="2" style="vertical-align:middle; text-align:center;">
                      {{ forloop.counter }}</td>
                    <td colspan="2" style="text-align:center">
                      {{ item.sellEntityName }}</td>
                    {% if item.txStatus_int == 1 %}
                      <td rowspan="2" class="table-danger" style="vertical-align:middle; text-align:center">
                    {% else %}
                      <td rowspan="2"style="vertical-align:middle; text-align:center">
                    {% endif %}
                      {{ item.txStatus_char|linebreaksbr }}</td>
                    <td rowspan="2" style="vertical-align:middle; text-align:center">
                      <a href="{% url 'qpay:txDetail_buyer' item.id pageObj.number %}"
                        class="btn btn-outline-primary">表示</a>
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align:center">{{ item.requested_amount|intcomma }}</td>
                    <td style="text-align:center">{{ item.requested_at|date:"y.n.j H:i" }}</td>
                  </tr>

                {% empty %}
                  取引データはありません。
              
                {% endfor %}
              </tbody>

            </table>
          </div>        

          <div class="d-block d-lg-none">

            <table class="table table-sm table-bordered border-primary-subtle table-responsive">
              <thead>
                <tr class="table-primary" style="text-align:center;">
                  <th rowspan="2"style="vertical-align:top">#</th>
                  <th colspan="2" style="vertical-align:top">申請ゲスト</th>
                  <th rowspan="2" style="vertical-align:top">証明<br>書類</th>
                  <th rowspan="2" style="vertical-align:top">取引<br>状況</th>
                  <th rowspan="2" style="vertical-align:top">詳細</th>
                </tr>

                <tr class="table-primary" style="text-align:center;">
                  <th style="vertical-align:top">申請額</th>
                  <th style="vertical-align:top">申請時</th>
                </tr>

              </thead>
          
              <tbody>

                {% for item in pageObj %}

                  <tr>
                    <td rowspan="2" style="vertical-align:middle; text-align:center;">
                      {{ forloop.counter }}</td>
                    <td colspan="2" style="text-align:center">
                      {{ item.sellEntityName }}</td>

                    {% if item.txStatus_int == 1 %}
                      <td rowspan="2" class="table-danger" style="vertical-align:middle; text-align:center">
                    {% else %}
                      <td rowspan="2"style="vertical-align:middle; text-align:center">
                    {% endif %}
                      {{ item.txStatus_char|linebreaksbr }}</td>

                    <td rowspan="2" style="text-align:center; vertical-align:middle;">
                      <img src="{{ item.evidence.url }}"
                        class="img-fluid"
                        style="width:50;height:auto; cursor:zoom-in;"
                        data-bs-toggle="modal"
                        data-bs-target="#imageModal{{ forloop.counter }}"/>
                    </td>
                    <!-- モーダル・ダイアログ -->
                    <div class="modal fade"
                      id="imageModal{{ forloop.counter }}" tabindex="-1" aria-hidden="true">
                      <div class="modal-dialog modal-sm"> <!-- 大きさ指定なしは「Medium」 -->
                        <div class="modal-content">
                          <div class="modal-header">
                            <h6 class="modal-title">証明書類</h6>
                            <!-- 閉じるボタン: data-bs-dismiss="modal" が重要 -->
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <img src="{{ item.evidence.url }}" class="img-fluid" alt="拡大画像">
                          </div>
                        </div>
                      </div>
                    </div> 

                    <td rowspan="2" style="vertical-align:middle; text-align:center">
                      <a href="{% url 'qpay:txDetail_buyer' item.id pageObj.number %}"
                        class="btn btn-outline-primary">表示</a>
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align:center">{{ item.requested_amount|intcomma }}</td>
                    <td style="text-align:center">{{ item.requested_at|date:"y.n.j H:i" }}</td>
                  </tr>

                {% empty %}
                  取引データはありません。
              
                {% endfor %}
              </tbody>

            </table>
          </div>    

          {% include "partials/pagination.html" %}

            <input type="hidden" name="next" value="{{ next }}" />

        </form>
      </div> <!-- end row -->

    {% else %}

      <div class="row justify-content-center mt-5">
        取引データはありません。
      </div>

    {% endif %}

  </div> <!-- end containaer -->
</div>

{% endblock %}

<!--
 {% for item in objectList %}
<div class="p-4 m-4 bg-light border border-success rounded">
  <h2 class="text-success">{{ item.title }}</h2>
    <h6>物件名：{{ item.article_name }}</h6>
    <h6>対象数：{{ item.number }} 橋</h6>
    <h6>その他：{{ item.other }}</h6>
    <div class="mt-3">
      <a href="{% url 'detail-article' item.pk %}">詳細</a>
    </div>
</div>
{% endfor %}
-->