{% extends "buyer/index/base_qconnect.html" %}

{% load bootstrap_icons %}
{% load humanize %}

{% block content %}


<div class="authentication-bg align-items-start">

  <div class="container">

    {% if messages %}
      <div class="messages row justify-content-center mt-2 mx-2">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} py-1 rounded-1 mb-0" role="alert">
            <span>{{ message }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <nav class="mt-2 bg-light rounded-3  border-top shadow-sm"
      aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb px-2" style="font-size: 0.85rem !important">
        <li class="breadcrumb-item">
          <a href="{% url 'accounts:mypage_buyer' %}">
            <i class="bi bi-house" style="font-size:1.2em; color:cornflowerblue"></i>
            マイページトップ</a></li>
        <li class="breadcrumb-item" aria-current="page">
          {% bs_icon 'list-ol' color='text-secondary' size='1.1em' %}
          取引一覧</li>
      </ol>
    </nav>

    <div class="row justify-content-start mx-2 py-0">

      <div class="col-6">
        <form method="GET"
          id="id_IndivOrAggregForm"
          class="m-0 p-0"
          action="{% url 'qpay:txList_buyer' %}"
          style="background-color: transparent !important; border-color:transparent !important;">

          {% csrf_token %}

          <div class="btn-group btn-group-toggle col-md-8 col-lg-5"
            data-toggle="buttons">
  
            <label class=" btn btn-outline-primary custom-toggle p-1" 
                style="width: max-content; min-width: 55px;"
                for="id_IndivOrAggreg_A">
              <input type="radio" class="toggleBtn_NoneDisplay"
                id="id_IndivOrAggreg_A"
                name="name_IndivOrAggreg"
                value="indiv"
                {% if IndivOrAggreg == 'indiv' %}checked{% endif %}
                autocomplete="off">
              個別取引
            </label>

            <!-- autocompleteは過去の入力情報を自動的に補完する機能-->        
            <label class=" btn btn-outline-primary custom-toggle p-1"
              style="width: max-content; min-width: 55px;"
              for="id_IndivOrAggreg_B">
              
              <input type="radio" class="toggleBtn_NoneDisplay"
                style="width: max-content; min-width: 50px;"
                id="id_IndivOrAggreg_B"
                name="name_IndivOrAggreg"
                value="aggreg"
                {% if IndivOrAggreg == 'aggreg' %}checked{% endif %}
                autocomplete="off">
              月次集計
            </label>
          </div>
        </form>
      </div>
    </div>

    {% if IndivOrAggreg == 'indiv' %}

      <div class="d-flex justify-content-center mt-2">
        <h5 class="text-secondary pt-1"><b>取引一覧</b></h5>
        <span class="ms-2">
          {% bs_icon 'receipt-cutoff' color='deeppink' size='2.2em' %}
        </span>
      </div>


      <div class="row justify-content-center mt-2 mx-2">

        <div class="col-lg-7 col-xl-6 bg-light border border-top shadow-sm mx-5 py-2">

          <form method="GET"
            id="id_applyPeriodForm"
            class="bg-light m-0 p-0"
            action="{% url 'qpay:txList_buyer' %}"
            style="background-color: transparent !important; border-color:transparent !important;">
  
            <div class="form-group row justify-content-center mx-0">
              <label class="col-3 col-form-label text-secondary px-0"
                style="text-align:center"
                for='{{form.applyPeriod.id_for_label}}'>
                <b>対象</b></label>
              <div class="col-9 px-0">
                {{ form.applyPeriod }}
              </div>
            </div>

            <div class="form-group row mt-1 mx-0">
              <label class="col-3 col-form-label text-secondary px-0"
                style="text-align:center">
                <b>日付</b></label>
              <div class="col-4 px-0">
                <input type="date" class='form-control text-center px-0'
                  style="font-size:0.9rem; background-color:#F9F9F9" 
                  name="{{form.applyPeriod_start.name}}"
                  value="{{form.applyPeriod_start.value|default:''}}"
                  placeholder=""
                  id="{{form.applyPeriod_start.id_for_label}}"
                  readonly>
              </div>
              <div class="col-1 px-0 mx-0 text-center"
                style="align-content:center;">～</div>
              <div class="col-4 px-0">
                <input type="date"
                  class='form-control text-center px-0'
                  style="font-size:0.9rem; background-color:#F9F9F9"
                  name="{{form.applyPeriod_end.name}}"
                  value="{{form.applyPeriod_end.value|default:''}}"
                  placeholder=""
                  id="{{form.applyPeriod_end.id_for_label}}"
                  readonly>
              </div>
            </div>
          </form>

        </div>
      </div>

      {% if object_list.count >= 1 %}

        <div class="row justify-content-center mt-3 mx-1 px-0">
 
          <div class="col-lg-9 p-0">

            <div class="d-block d-lg-none">

              <table class="table table-sm bg-light
                table-bordered border-primary-subtle table-responsive mb-1">

                <tbody style="font-size:0.9rem">

                  <tr class="table-primary" style="text-align:center;">
                    <th style="vertical-align:top"></th>
                    <th style="vertical-align:top">対応者</th>
                    <th style="vertical-align:top">金額</th>
                    <th style="vertical-align:top">処理状況</th>
                    <th style="vertical-align:top">対応日時</th>

                    <th style="vertical-align:top">詳細</th>
                  </tr>

                  {% for item in page_obj %}

                    <tr>
                      <th rowspan="3"
                        class="table-primary" style="vertical-align:middle; text-align:center">
                          {{ page_obj.start_index|add:forloop.counter0 }}</th>
          
                      <th class="table-primary" style="vertical-align:middle; text-align:start">
                        {{ item.sellEntityname }}</th>

                      <td rowspan="3"
                        style="vertical-align:middle; text-align:center">
                        {{ item.requested_amount|intcomma }}</td>


                      <!-- ゲストに関する取引状況を表示 -->
                      {% if item.txStatus == 2 %}
                        <td style="vertical-align:middle; text-align:center">-</td>
                        <td style="vertical-align:middle; text-align:center">-</td>
                      {% else %}
                        <td style="vertical-align:middle; text-align:center">
                          申請済</td>
                        <td style="vertical-align:middle; text-align:center;
                          font-size:0.75rem">
                            {{ item.requested_at|default:'-'|date:"y/n/j H:i" }}</td>
                      {% endif %}

                      <td rowspan="3" 
                        style="width:70px;
                        vertical-align:middle; text-align:center">
                        <a href="{% url 'qpay:txListDetail_buyer' item.id page_obj.number %}"
                          class="btn btn-outline-primary px-1 w-100">表示</a>
                      </td>
                    </tr>

                    <tr>
                      <th class="table-primary" style="text-align:start">
                        {{ item.buyEntityname }}</th>

                      <!-- パートナーに関する取引状況を表示 -->
                      {% if item.txStatus == 1 or item.txStatus == 4 %}
                        <td style="vertical-align:middle; text-align:center">-</td>
                        <td style="vertical-align:middle; text-align:center">-</td>

                      {% elif item.txStatus == 2 %}
                        <td style="vertical-align:middle; text-align:center">差戻</td>
                        <td style="vertical-align:middle; text-align:center;
                          font-size:0.75rem">
                          {{ item.sendbackInfo_buyer.created_at|default:'-'|date:"y/n/j H:i" }}</td>

                      {% elif item.txStatus == 3 or item.txStatus == 5 %}
                        <td style="vertical-align:middle; text-align:center">
                          承認済</td>
                        <td style="vertical-align:middle; text-align:center;
                          font-size:0.75rem">
                          {{ item.approved_at|default:'-'|date:"y/n/j H:i" }}</td>

                      {% else %}
                        <td style="vertical-align:middle; text-align:center">-</td>
                        <td style="vertical-align:middle; text-align:center">-</td>
                      {% endif %}
  
                    </tr>

                    <!-- Qneeに関わる取引進捗の表示 -->
                    <tr>
                      <th class="table-primary" style="text-align:start">(株)キユーニー</th>

                      {% if item.txStatus == 4 %} 
                        <td style="font-size:0.9rem; vertical-align:middle; text-align:center">
                          Qnee差戻</td>
                        <td style="font-size:0.75rem; vertical-align:middle; text-align:center">
                          {{ item.sendbackInfo_admin.created_at|default:'-'|date:"n/j H:i" }}</td>

                      {% elif item.txStatus == 5 %}
                        <td style="font-size:0.9rem; vertical-align:middle; text-align:center">
                          Qnee前払済み</td>
                        <td style="font-size:0.75rem; vertical-align:middle; text-align:center">
                          {{ item.advanced_at|default:'-'|date:"n/j H:i" }}</td>

                      {% else %}
                        <td style="font-size:0.9rem; vertical-align:middle; text-align:center">
                          -</td>
                        <td style="font-size:0.75rem; vertical-align:middle; text-align:center">
                          -</td>
                      {% endif %}
  
                    </tr>

                  {% empty %}
                    <p>QPAY取引はありません。</p>
                  {% endfor %}
            
                </tbody>
              </table>
            </div>

            
            <div class="d-none d-lg-block">

              <table class="table table-sm bg-light
                table-bordered border-primary-subtle table-responsive mb-1">

                <tbody style="font-size:0.9rem">

                  <tr class="table-primary" style="text-align:center;">
                    <th style="vertical-align:top"></th>
                    <th style="vertical-align:top">対応者</th>
                    <th style="vertical-align:top">金額</th>
                    <th style="vertical-align:top">処理状況</th>
                    <th style="vertical-align:top">対応日時</th>
                    <th style="vertical-align:top">証明書類</th>
                    <th style="vertical-align:top">詳細</th>
                  </tr>

                  {% for item in page_obj %}

                    <tr>
                      <th rowspan="3"
                        class="table-primary" style="vertical-align:middle; text-align:center">
                          {{ page_obj.start_index|add:forloop.counter0 }}</th>
          
                      <th class="table-primary" style="vertical-align:middle; text-align:start">
                        {{ item.sellEntityname }}</th>

                      <td rowspan="3"
                        style="vertical-align:middle; text-align:center">
                        {{ item.requested_amount|intcomma }}</td>


                        <!-- ゲストに関する取引状況を表示 -->
                      {% if item.txStatus == 2 %}
                        <td style="vertical-align:middle; text-align:center">-</td>
                        <td style="vertical-align:middle; text-align:center">-</td>
                      {% else %}
                        <td style="vertical-align:middle; text-align:center">
                          申請済</td>
                        <td style="vertical-align:middle; text-align:center;
                          font-size:0.75rem">
                            {{ item.requested_at|default:'-'|date:"y/n/j H:i" }}</td>
                      {% endif %}

                      <td rowspan="3"
                        style="text-align:center; vertical-align:middle;">
                        <img src="{{ item.evidence.url }}"
                          class="img-fluid"
                          style="max-height:55; width:auto; cursor:zoom-in;"
                          data-bs-toggle="modal"
                          data-bs-target="#imageModal2_{{ forloop.counter }}"/>
                      </td>
                      <!-- モーダルウィンドウ外枠 -->
                      <div class="modal fade"
                        id="imageModal2_{{ forloop.counter }}" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-sm"> <!-- 大きさ指定なしは「Medium」 -->
                          <div class="modal-content">
                            <div class="modal-header">
                              <h6 class="modal-title">証明書類</h6>
                              <!-- 閉じるボタン: data-bs-dismiss="modal" が重要 -->
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <img src="{{ item.evidence.url }}" class="img-fluid" alt="拡大画像">
                            </div>
                          </div>
                        </div>
                      </div>

                      <td rowspan="3" 
                        style="width:70px;
                        vertical-align:middle; text-align:center">
                        <a href="{% url 'qpay:txListDetail_buyer' item.id page_obj.number %}"
                          class="btn btn-outline-primary px-1 w-100">表示</a>
                      </td>
                    </tr>

                    <tr>
                      <th class="table-primary" style="text-align:start">
                        {{ item.buyEntityname }}</th>

                      <!-- パートナーに関する取引状況を表示 -->
                      {% if item.txStatus == 1 or item.txStatus == 4 %}
                        <td style="vertical-align:middle; text-align:center">-</td>
                        <td style="vertical-align:middle; text-align:center">-</td>

                      {% elif item.txStatus == 2 %}
                        <td style="vertical-align:middle; text-align:center">差戻</td>
                        <td style="vertical-align:middle; text-align:center;
                          font-size:0.75rem">
                          {{ item.sendbackInfo_buyer.created_at|default:'-'|date:"y/n/j H:i" }}</td>

                      {% elif item.txStatus == 3 or item.txStatus == 5 %}
                        <td style="vertical-align:middle; text-align:center">
                          承認済</td>
                        <td style="vertical-align:middle; text-align:center;
                          font-size:0.75rem">
                          {{ item.approved_at|default:'-'|date:"y/n/j H:i" }}</td>

                      {% else %}
                        <td style="vertical-align:middle; text-align:center">-</td>
                        <td style="vertical-align:middle; text-align:center">-</td>
                      {% endif %}
  
                    </tr>

                    <!-- Qneeが差し戻した場合の表示 -->
                    <tr>
                      <th class="table-primary" style="text-align:start">(株)キユーニー</th>

                      {% if item.txStatus == 4 %} 
                        <td style="font-size:0.9rem; vertical-align:middle; text-align:center">
                          Qnee差戻</td>
                        <td style="font-size:0.75rem; vertical-align:middle; text-align:center">
                          {{ item.sendbackInfo_admin.created_at|default:'-'|date:"n/j H:i" }}</td>

                      {% elif item.txStatus == 5 %}
                        <td style="font-size:0.9rem; vertical-align:middle; text-align:center">
                          Qnee前払済み</td>
                        <td style="font-size:0.75rem; vertical-align:middle; text-align:center">
                          {{ item.advanced_at|default:'-'|date:"n/j H:i" }}</td>

                      {% else %}
                        <td style="font-size:0.9rem; vertical-align:middle; text-align:center">
                          -</td>
                        <td style="font-size:0.75rem; vertical-align:middle; text-align:center">
                          -</td>
                      {% endif %}
  
                    </tr>

                  {% empty %}
                    <p>QPAY取引はありません。</p>
                  {% endfor %}
            
                </tbody>
              </table>
            
            </div>

            {% include "partials/pagination.html" %}

            <input type="hidden" name="next" value="{{ next }}" />

          </div>
        </div> <!-- end row -->

      {% else %}

        <div class="d-flex justify-content-center mt-5">
          <h6 class="text-secondary pt-1">該当する取引データはありません。</h6>
          <span class="pb-1"></span>
        </div>

      {% endif %}


    {% elif IndivOrAggreg == 'aggreg'%}

      <div class="d-flex justify-content-center mt-2">
        <h5 class="text-secondary pt-1"><b>月次集計</b></h5>
        <span class="ms-2">{% bs_icon 'receipt-cutoff' color='deeppink' size='2.2em' %}</span>
      </div>

      <div class="row justify-content-center mt-2 mx-0">

        <div class="col-md-10 col-lg-8 col-xl-7">

          {% for item in page_obj %}

            {% if forloop.first %}

          <table class="table table-sm bg-light
            table-bordered border-primary-subtle
            shadow-sm table-responsive mt-2 mx-2">
              
            <thead style="font-size:0.9rem">
              <tr class="table-primary" style="text-align:center;">
                <th rowspan="2"style="vertical-align:top">#</th>
                <th rowspan="2" style="vertical-align:top">申請者</th>
                <th rowspan="2" style="vertical-align:top">年月</th>
                <th colspan="3" style="vertical-align:top">前払い</th>
              </tr>
              <tr class="table-primary" style="text-align:center;">
                <th rowspan="1" style="vertical-align:top">件数</th>
                <th rowspan="1" style="vertical-align:top">金額</th>
                <th rowspan="1" style="vertical-align:top">手数料</th>
              </tr>

            </thead>
          
            <tbody style="font-size:0.9rem">

            {% endif %}

              <tr>
                <td rowspan="1" style="vertical-align:middle; text-align:center;">
                  {{ page_obj.start_index|add:forloop.counter0 }}</td>
                <td colspan="1" style="text-align:center">
                  {{ item.sellEntityname }}
                </td>
                <td colspan="1" style="vertical-align:middle; text-align:center">
                  {{ item.month | date:"Y年m月" }}
                </td>
                <td colspan="1" style="vertical-align:middle; text-align:center">
                  {{ item.total_advance_count |intcomma }}
                </td>
                <td colspan="1" style="vertical-align:middle; text-align:center">
                  {{ item.total_advance_amount |intcomma }}
                </td>
                <td colspan="1" style="vertical-align:middle; text-align:center">
                  {{ item.total_advance_fee |intcomma }}
                </td>
              </tr>

          {% empty %}

            <div class="row justify-content-center text-center mt-5">
              該当する取引データはありません。
            </div>

          {% endfor %}

            </tbody>
          </table>

        </div> <!-- end col -->
      </div> <!-- end row -->

    {% endif %}

  </div> <!-- end containaer -->
</div>

{% endblock %}

{% block extrajs %}

<script defer>

  document.addEventListener('DOMContentLoaded', function() {

    var IndivOrAggreg = document.getElementById('id_IndivOrAggregForm');
    var ApplyPeriod = document.getElementById('id_applyPeriod');

    //「リストを作る」が選択されたときの対応
    IndivOrAggreg.addEventListener('click', function(){
      console.log('id_IdivOrAggregForm.addEventListenerのclickが認識されました');
      IndivOrAggreg.submit();
    });

    ApplyPeriod.addEventListener('change', function(){
      console.log('id_applyPeriod.addEventListenerのchangeが認識されました');
      document.getElementById('id_applyPeriodForm').submit();    
    });

  });

</script>

{% endblock %}
