{% extends "buyer/index/base_qconnect.html" %}

{% load bootstrap_icons %}
{% load humanize %}

{% block content %}


<div class="authentication-bg align-items-start">

  <div class="container">

    {% if messages %}
      <div class="messages row justify-content-center mt-2 mx-2">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} py-1 rounded-1 mb-0" role="alert">
            <span>{{ message }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <nav class="mt-2 bg-light rounded-3  border-top shadow-sm"
      aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb px-2" style="font-size: 0.85rem !important">
        <li class="breadcrumb-item">
          <a href="{% url 'accounts:mypage_buyer' %}">
            {% bs_icon 'house' color='cornflowerblue' size='1.2em' %}
            マイページトップ</a></li>
        <li class="breadcrumb-item">
          <a href="{% url 'qpay:txList_buyer' %}">
            {% bs_icon 'list-ol' color='cornflowerblue' size='1.1em' %}
            取引一覧</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
          {% bs_icon 'receipt-cutoff' color='text-secondary' size='1.1em' %}
          取引詳細</li>
      </ol>
    </nav>

    <div class="d-flex justify-content-center mt-5">
      <h5 class="text-secondary pt-1"><b>取引詳細</b></h5>
      <span class="ms-3">{% bs_icon 'receipt-cutoff' color='deeppink' size='2.2em' %}</span>
    </div>
    
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-6 col-xl-5">

        <form method="GET"
          class="form-group bg-light border border-success-subtle rounded mt-3 p-0 mx-2"
          style="background-color: transparent !important; border-color:transparent !important;">

          {% csrf_token %}

          <table class="table table-sm bg-light
            table-bordered border-primary-subtle
            shadow table-responsive mb-1">

            <tbody>
              <tr>
                <td width="45%" class="table-primary">
                  <b>処理状況</b></td>
                <td class="table-danger"
                  style="font-size:0.9rem; text-align:right;">
                  {{ tx.txStatus_char }}</td>
              
              <tr>
                <td class="table-primary"><b>ゲスト名</b></td>
                <td style="text-align:right;">{{ tx.sellEntityname }}</td>
              </tr>
              <tr>
                <td  class="table-primary"><b>申請者</b></td>
                <td style="text-align:right;">{{ tx.sellUser_personname }}</td>
              </tr>
              <tr>
                <td class="table-primary"><b>申請額</b></td>
                <td style="text-align:right;">{{ tx.requested_amount|intcomma }}</td>
              </tr>
              <tr>
                <td class="table-primary"><b>証明書類</b></td>
                <td style="text-align:center">
                  <img src="{{ tx.evidence.url }}"
                    class="img-fluid"
                    style="width:50;height:auto; cursor:zoom-in;"
                    data-bs-toggle="modal"
                    data-bs-target="#imageModal"/>
                </td>

                <!-- モーダルウィンドウ外枠 -->
                <div class="modal fade"
                  id="imageModal" 
                  tabindex="-1" aria-hidden="true"> 
                  <!-- 「id」を上記「data-bs-target」に合わせる。「tabindex」は「Esc」で閉じる -->
                  <div class="modal-dialog"> <!-- 大きさ指定なしは「Medium」 -->
                    <div class="modal-content">
                      <div class="modal-header">
                        <h6 class="modal-title">証明書類</h6>
                        <!-- 閉じるボタン: data-bs-dismiss="modal" が重要 -->
                        <button type="button"
                          class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                      </div>
                      <div class="modal-body">
                        <img src="{{ tx.evidence.url }}" class="img-fluid" alt="拡大画像">
                      </div>
                    </div>
                  </div>
                </div>

              </tr>
            </tbody>
          </table>

          <table class="table table-sm bg-light
            table-bordered border-primary-subtle
            shadow table-responsive">
            
            <tbody>
              <tr>
                <td width="45%" class="table-primary"><b>ゲストへの振込額</b></td>
                <td class="table-info" style="text-align:right;">{{ tx.transfer_amount|intcomma }}</td></tr>
              <tr>
                <td width="45%" class="table-primary"><b>＋Qnee前払額</b></td>
                <td style="text-align:right;">{{ tx.advance_amount|intcomma }}</td></tr>
              <tr>
                <td width="45%" class="table-primary"><b>－前払手数料</b></td>
                <td style="text-align:right;">{{ tx.advance_fee|intcomma }}</td></tr>
              <tr>
                <td width="45%" class="table-primary"><b>－振込手数料</b></td>
                <td style="text-align:right;">{{ tx.transfer_fee|intcomma }}</td></tr>
            </tbody>
          </table>

          <div class="d-flex">
            <i class="bi bi-check-circle" style="font-size:1.5rem; color:deeppink"></i>
            <span class="ms-2" style="font-size:1.1rem; font-style: italic;">
              <b>承認情報</b></span></div>
          <table class="table table-sm bg-light
            table-bordered border-primary-subtle
            shadow table-responsive">

            <tbody>
              <tr>
                <td width="45%" class="table-primary"><b>パートナー名</b></td>
                <td style="text-align:right;">{{ tx.buyEntityname }}</td>
              </tr>
              <tr>
                <td  class="table-primary">
                  <b>パートナー・ユーザー</b></td>
                <td style="text-align:right;">
                  {{ tx.buyUser_personname|default:'-' }}</td>
              </tr>
              <tr>
                <td class="table-primary"><b>承認日時</b></td>
                <td style="text-align:right;">{{ tx.approved_at|default:'-'|date:"y/n/j H:i" }}</td>
              </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-center">
            <a href="{% url 'qpay:txList_buyer' tx.pk page_number %}"
              class="btn btn-outline-primary w-100" >
              一覧に戻る</a>
          </div>
        </form>

      </div> <!-- end of col -->
    </div> <!-- end od row -->

  </div> <!-- end of container -->
</div>


{% endblock %}

