{% load static %}
{% load bootstrap_icons %}

<html>
<head>
  <meta charset="utf-8">

  <title>Qnee | Qnee Connect</title> <!-- SEO対策として書き換える-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="制作会社やフリーランスの方に「より便利な環境を」。
    負担の少ない報酬先払い、契約書締結の代行、本当に大事なもの以外は手間や費用を
    かけないような環境構築を目指します。" />
  <meta name="keywords" content="フリーランス新法, プロダクション, 制作会社, ファクタリング, freelance, " />
  <meta name="author" content="富張周一郎" />

  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sawarabi+Gothic&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="{% static 'css/materialdesignicons.min.css' %}" rel="stylesheet" type="text/css" />

  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <!-- <link href="{% static 'css/style.min.css' %}" rel="stylesheet" type="text/css" /> -->
  <link href="{% static 'css/colors/default.css' %}" rel="stylesheet" type="text/css" id="color-opt" />

  <script src="{% static 'accounts/js/script.js' %}" defer></script>
  <script src="{% static 'js/app.js' %}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}{% endblock title %}</title>
    
  {% block extraheader %}{% endblock %}
</head>

<body
  data-bs-spy="scroll" data-bs-target="#navbar-navlist" data-bs-offset="60"
  style="background-color:hsl(216, 88%, 97%);">

  {% block navbar %}
    {% include 'buyer/partials/navbar.html' %}
  {% endblock %}


  {% block content %}{% endblock %}
  {% block extrajs %}{% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->

</body>
</html>