
{% extends "buyer/index/base_qconnect.html" %}

{% load static %}

{% block content %}

<div class="authentication-bg min-vh-100 min-vw-100">

  <div class="container">

    <div class="d-grid gap-5 d-md-flex justify-content-md-center mt-4 pt-3">
      <a href="#" class="btn btn-primary" role="button" 
        data-bs-toggle="tooltip" data-bs-placement="bottom" title="">商品説明へ</a>
      <a href="{% url 'accounts:login_buyer' %}" class="btn btn-primary" role="button"
        data-bs-toggle="tooltip" data-bs-placement="bottom" title="">Qnee Connectへ</a>
    </div>
  </div>
</div>

<!--START HOME-->
<section class="home-slider" id="home">

</section> <!--end home-->

<script>

  let tooltipTriggerList = [].slice.call(document.querySelectorAll('{data-bs-toggle="tooltip"}'));
  let tooltipList = tooltipTriggerList.map(function (tooltipTriggerElem){
    return new bootstrap.Tooltip(tooltipTriggerElem)
  });

</script>  

{% endblock %}

