{% extends "index/base_qconnect_seller.html" %}
{% load humanize %} 

{% block content %}
{% csrf_token %}

<div class="authentication-bg min-vh-100 min-vw-100 align-items-start" style="background-color: #edf9ff;">

  <div class="container mt-2">

    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb text-dark rounded-2">
        <li class="breadcrumb-item text-primary"><a href="{% url 'accounts:mypage_seller' %}">マイページ・ホーム</a></li>
        <li class="breadcrumb-item text-primary"><a href="{% url 'accounts:info_edit_seller' %}">設定メニュー</a></li>
        <li class="breadcrumb-item active" aria-current="page">前払い申請</li>
      </ol>
    </nav>


    {% if flag_step == 1 %}

      <div class="d-flex justify-content-center mt-4">
        <h5>証明書のアップロード</h5>
      </div>

      <div class="row justify-content-center">
        <div class="col-11 col-md-8 col-lg-6">

          <form method="POST"
            action="{% url 'qpay:tx_create' user_id tx_id %}"
            class="form-group bg-light border border-success rounded p-4 m-4 "
            enctype="multipart/form-data">
        
            {% csrf_token %}

            {% if form.evidence.errors %}
              <div style="color:red;">{{ form.evidence.errors.as_text }}<br></div>
            {% endif %}

            <div class="row justify-content-center">
              <input type="file" class="form-control"
                name="{{form.evidence.name}}"
                value="{{form.evidence.value|default:''}}"
                placeholder="報酬額を証明する資料アップロードしてください"
                id="{{form.evidence.id_for_label}}" >
            </div>

            <!--
            <div class="form-group row justify-content-center pt-3">
              <label class="col-11 col-md-3 col-lg-2 col-form-label" for='{{form.evidence.id_for_label}}' ></label>
              <div class="col-md-8 col-lg-6">
                <input type="file" class="form-control"
                  name="{{form.evidence.name}}"
                  value="{{form.evidence.value|default:''}}"
                  placeholder="報酬額を証明する資料アップロードしてください"
                  id="{{form.evidence.id_for_label}}" >
              </div>
            </div>
          -->

          <hr>
          
            <div class="d-flex justify-content-center pt-3">         
              <button type="submit" class="btn btn-primary" name="next" value="ToEvidenceConfirm">アップロード・ファイルの確認へ</button>
            </div>

          </form>

        {% endif %}


        {% if flag_step == 2 %}

          <div class="d-flex justify-content-center mt-2">
            <h5>アップロード・ファイルの確認</h5>
          </div>

          <div class="row justify-content-center">
            <div class="col-11 col-md-8 col-lg-6">
              <form method="POST"
                action="{% url 'qpay:tx_create' user_id tx_id %}"
                class="form-group bg-light border border-success rounded p-4 m-4 "
                enctype="multipart/form-data">
        
                {% csrf_token %}
           
                <div class="d-flex justify-content-center pt-3">
                  <button type="submit" class="btn btn-outline-primary me-2" name="next" value="ToEvidence">再アップロード</button>
                  <button type="submit" class="btn btn-primary" name="next" value="complete">パートナーに申請</button>
                </div>

                <hr>

                <div class="row justify-content-center">
                  <img src="{{ tx.evidence.url}}" class="img-thumbnail">
                </div>

                {% for field in form %}
                  {{ field.as_hidden }}
                {% endfor %}

              </form>
            </div>
          </div>
        </div>
      </div>

    {% endif %}

  </div>
</div>

{% endblock %}