{% extends "partials/base_qconnect.html" %}

{% load bootstrap_icons %}

{% block content %}

<p></p>

<div class="header" style="display: flex; justify-content: space-between; align-items: center;">
  <h5>{% bs_icon 'bank' size='1.1em' %} 銀行口座の登録</h5>
  <a href="{% url 'accounts:mypage_seller' %}" class="btn btn-outline-secondary" >メイン・メニューへ</a>
</div>

<form method="POST" class="p-4 m-4 bg-light border border-success rounded form-group">
  {% csrf_token %}

  ■銀行の選択：
  <div class="input-group">
    <input type="text" class="form-control" name="keyword_bank" placeholder="キーワード入力 （ex. 0001 or みずほ or ミズホ）">
    <button type="submit" class="btn btn-outline-primary" name="search" value="search_bank">検索</button>
    <!-- <button type="submit" class="btn btn-outline-primary" name="select" value="select_bank">選択</button> -->
  </div>

  <select class="form-select" id="id_bank" name="select_bank" multiple aria-label="multiple select example">
    {% if match_bank_dict.items %}

      {% if bank_code %}
        <option>コード　　金融機関名</option>
        {% for code, name in  match_bank_dict.items %}
          {% if code == bank_code %}
            <option value='{{code}}' selected>{{code}}　　　{{name}}</option>
          {% else %}
            <option value='{{code}}'>{{code}}　　　{{name}}</option>
          {% endif %}
        {% endfor %}

      {% else %}
        <option selected>コード　　金融機関名</option>
        {% for code, name in  match_bank_dict.items %}
          <option value='{{code}}'>{{code}}　　　{{name}}</option>
        {% endfor %}
      {% endif %}
    {% endif %}
  </select>

  <hr>

  ■支店の選択：
  <div class="input-group">
    <input type="text" class="form-control" name="keyword_branch" placeholder="キーワード入力 （ex. 001 or ぎんざ or ginza or ぎんざ）">
    <button type="submit" class="btn btn-outline-primary" name="search" value="search_branch">検索</button>
    <!-- <button type="submit" class="btn btn-outline-primary" name="select" value="select_branch">選択</button> -->
  </div>

  <select class="form-select" id="id_branch" name="select_branch" multiple aria-label="multiple select example">
    {% if match_branch_dict.items %}
      <option selected>支店コード　　支店名</option>    
      {% for code, name in match_branch_dict.items %}
        <option value='{{code}}'>{{code}}　　　{{name}}</option>
      {% endfor %}
    {% endif %}
  </select>

  <hr>

  {% if form.account_number.errors %}
  <div style="color:red;">{{ form.account_number.errors.as_text }}<br></div>
  {% endif %}
  ■口座番号：{{ form.account_number }}

  <hr>
  
  {{ form.entity_id.as_hidden }}

  <button type="submit" class="btn btn-outline-primary" name="next" value="confirm">登録内容の確認へ</button>

</form>
既に登録されている口座を表示し選べるようにする！ 24/07/21
{% endblock %}

{% block extrajs %}
  <script>
    const bankElement = $('#id_bank');
    const branchElement = $('#id_branch');
    const branches = {
      {% for bank in bank_object_list %}
        '{{ bank.code }}': [
          {% for branch in bank.branch_set.all %}
            {
              'code': '{{ branch.code }}',
              'name': '{{ branch.name }}'
            },
          {% endfor %}
        ],
      {% endfor %}
    };


    const changeCategory = (select) => {
      // 子カテゴリの選択欄を空にする。
      branchElement.children().remove();

      // 選択した親カテゴリに紐づく子カテゴリの一覧を取得する。
      const bankId = bankElement.val();
      const branchList = branches[parentId];

      // 子カテゴリの選択肢を作成・追加。
      for (const branch of branchList) {
        const option = $('<option>');
        option.val(branch['code']);
        option.text(branch['name']);
        branchElement.append(option);
      }

      // 指定があれば、そのカテゴリを選択する
      if (select !== undefined) {
        branchElement.val(select);
      }
    };

    $('#id_bank').on('change', () => {
      changeBranch();
    });


    // 入力値に問題があって再表示された場合、ページ表示時点で小カテゴリが絞り込まれるようにする
    if (bankElement.val()) {
      const selectedBranch = branchElement.val();
      changeBranch(selectedBranch);
    }

  </script>
{% endblock %}