{% extends "index/base_qconnect_buyer.html" %}

{% load static %}   
{% block title %}●{% endblock %}
{% block content %}
 
<div class="authentication-bg min-vh-100 min-vw-100" style="background-color:#def5f9;">
  
  <div class="container">
    <section class="section" id="contact">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="text-center text-dark mb-5">
              <h4>お問い合わせ</h4>
              <p class="text-muted mt-2">
                以下のフォームに必要な項目をご記載いただき送信してください。<br>
                ★何のカテゴリに関することかを入力できるようにする
              </p>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-lg-5">
            <div class="contact-details mb-4 mb-lg-0">
              <p class="mb-3"><i class="mdi mdi-email-outline align-middle text-muted fs-20 me-2"></i>
                <span class="fw-medium text-dark">support@website.com</span>
              </p>
              <!--
              <p class="mb-3">
                <i class="mdi mdi-web align-middle text-muted fs-20 me-2"></i>
                <span class="fw-medium text-dark">www.xxxx.com</span>
              </p>
              -->
              <!--
              <p class="mb-3">
                <i class="mdi mdi-phone align-middle text-muted fs-20 me-2"></i>
                <span class="fw-medium">+245 1234 5678</span>
              </p>
              -->
          
              <!--
              <p class="mb-3">
                <i class="mdi mdi-hospital-building text-muted fs-20 me-2"></i>
                <span class="fw-medium">9:00 AM - 6:00 PM</span>
              </p>
              -->
  
              <p class="mb-3">
                <i class="mdi mdi-map-marker-outline text-muted fs-20 me-2"></i>
                <span class="fw-medium text-dark">〒107-0062 <br>
                　　東京都港区 南青山3丁目1番36号 青山丸竹ビル6F</span>
              </p>
            </div> <!--end contact-details-->
          </div> <!--end col-->
  
          <div class="col-lg-7">
            <form method="POST" onsubmit="return validateForm()" class="contact-form" name="myForm" id="myForm" action="{% url 'contactus' %}">
              {% csrf_token %}
              <span id="error-msg"></span>
              {% for message in messages %}
              <fieldset>
                <div id='success_page'>
                  <h5 class='text-success'>Email Sent Successfully.</h5>
                  <p>ありがとうございます。<strong>{{ message }}</strong>, your message has been submitted to us.</p>
                </div>
              </fieldset>
              {% endfor %}
  
              <div class="row">
                <div class="col-lg-12">
                  <div class="position-relative mb-3">
                    <span class="input-group-text"><i class="mdi mdi-account-outline"></i></span>
                    <input name="name" id="name" type="text" class="form-control"
                      placeholder="お名前">
                  </div>
                </div>
              
                <div class="col-lg-12">
                  <div class="position-relative mb-3">
                    <span class="input-group-text"><i class="mdi mdi-email-outline"></i></span>
                    <input name="email" id="email" type="email" class="form-control"
                      placeholder="メールアドレス">
                  </div>
                </div>
              
                <div class="col-lg-12">
                  <div class="position-relative mb-3">
                    <span class="input-group-text"><i class="mdi mdi-file-document-outline"></i></span>
                    <input name="subject" id="subject" type="text" class="form-control" placeholder="件名">
                  </div>
                </div>
              
                <div class="col-lg-12">
                  <div class="position-relative mb-3">
                    <span  class="input-group-text align-items-start"><i class="mdi mdi-comment-text-outline"></i></span>
                    <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="お問い合わせ内容"></textarea>
                  </div>
                </div>
              </div>
  
              <div class="row">
                <div class="col-sm-12 text-end">
                  <input type="submit" id="contact1" name="send" class="btn btn-primary"
                    value="送信します">  
                </div>
              </div>
            </form> <!--end form-->
          </div> <!--end col-->
        </div> <!--end row-->
      </div> <!--end container-->
    </section> <!--end contact-->
  </div>
</div>

{% endblock %}