{% extends 'partials/base_qconnect.html' %}
{% load static %}
    
{% block title %}●{% endblock %}
{% block content %}
<p></p>
<h5>お問い合わせ</h5>
<hr>

<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        ご希望の方は、以下を記入してメッセージをご送信下さい。

        {% if messages %}
        <ul class="list-unstyled" style="list-style: none;">
          {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
              {{ message }}
            </li>
          {% endfor %}
        </ul>
        {% endif %}

        <div class="my-5">
          <form method="POST">
            {% csrf_token %}
            
            {% for field in form %}
              <div class="form-floating">
                <div class="form-group floating-label-form-group controls">
                  {{ field.label_tag }}
                  {{ field }}
                  <p class="help-block text-danger"></p>

                </div>
              </div>
            {% endfor %}

            <br>
            <button type="submit" class="btn btn-outline-primary" id="snedMessageButton">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr>
  
</main>

{% endblock %}