{% extends "index/base_qconnect_buyer.html" %}

{% block content %}

<div class="authentication-bg min-vh-100 min-vw-100 align-items-start" style="background-color: #def5f9;">

  <div class="container mt-2">

    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb text-dark rounded-2">
        <li class="breadcrumb-item  text-primary"><a href="{% url 'accounts:mypage_buyer' user.id %}">マイページ・ホーム</a></li>
        <li class="breadcrumb-item active" aria-current="page">本登録（入力）</li>
      </ol>
    </nav>

    <div class ="row justify-content-center">
      <div class="col-10">
        <div class="progress mt-1 mb-1" style="height: 12px" >
          <div class="progress-bar bg-secondary" role="progressbar"
            style="width: 25%"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            仮登録
          </div>

          <div class="progress-bar bg-secondary" role="progressbar"
            style="width: 25%"
            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            メール受領
          </div>

          <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar"
            style="width: 25%"
            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            本登録
          </div>

          <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar"
          style="width: 25%"
          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
          利用規約確認
        </div>
      </div>
    </div>

    {% if user.type2 == 2 %}

      <div class="row justify-content-center mt-4">
        <h5 class="text-black text-center">本登録（法人）</h5>
      </div>

      <div class="row">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="background-color: #fcf7fa;">
          <span>{{ message }}</span>
        </div>
        {% endfor %}
      </div>
      
      <form method="POST">
        {% csrf_token %}

        <div class="row justify-content-center my-auto">
          {% if form.personname.errors %}
            <div class="col-11 col-md-11" style="color:red;">{{ form.personname.errors.as_text }}</div>
          {% endif %}
        </div>
  
        <div class="form-group row justify-content-center pt-3">
          <label class="col-11 col-md-3 col-lg-2 col-form-label" for='{{form.personname.id_for_label}}' >お名前（個人名）</label>
          <div class="col-md-8 col-lg-6">
            <input type='form.personname.widget.input_type' class='form-control'
              name='{{form.personname.name}}'
              value='{{form.personname.value}}'
              id='{{form.personname.id_for_label}}' >
          </div>
        </div>

        <div class="row justify-content-center my-auto">
          {% if form.tel_main.errors %}
            <div class="col-11 col-md-11" style="color:red;">{{ form.tel_main.errors.as_text }}</div>
          {% endif %}
        </div>
  
        <div class="form-group row justify-content-center pt-3">
          <label class="col-11 col-md-3 col-lg-2 col-form-label" for='{{form.tel_main.id_for_label}}' >電話番号</label>
          <div class="col-md-8 col-lg-6">
            <input type='form.tel_main.widget.input_type' class='form-control'
              name="{{form.tel_main.name}}"
              value="{{form.tel_main.value}}"
              placeholder="数字のみご記載下さい"
              id="{{form.tel_main.id_for_label}}" >
          </div>
        </div>


        <div class="row justify-content-center my-auto">
          {% if form.entityname.errors %}
            <div class="col-11 col-md-11" style="color:red;">{{ form.entityname.errors.as_text }}</div>
          {% endif %}
        </div>
  
        <div class="form-group row justify-content-center pt-3">
          <label class="col-11 col-md-3 col-lg-2 col-form-label" for='{{form.entityname.id_for_label}}' >企業名</label>
          <div class="col-md-8 col-lg-6">
            <input type='form.entityname.widget.input_type' class='form-control'
              name='{{form.entityname.name}}'
              value='{{form.entityname.value}}'
              id='{{form.entityname.id_for_label}}' >
          </div>
        </div>

        <div class="row justify-content-center my-auto">
          {% if form.postal_code.errors %}
            <div class="col-11 col-md-11" style="color:red;">{{ form.postal_code.errors.as_text }}</div>
          {% endif %}
        </div>
  
        <div class="form-group row justify-content-center pt-3">
          <label class="col-11 col-md-3 col-lg-2 col-form-label" for='{{form.postal_code.id_for_label}}' >郵便番号</label>
          <div class="col-md-8 col-lg-6">
            <input type='form.postal_code.widget.input_type' class='form-control'
              name="{{form.postal_code.name}}"
              value="{{form.postal_code.value}}"
              placeholder="数字のみご記載下さい"
              id="{{form.postal_code.id_for_label}}" >
          </div>
        </div>

        <div class="row justify-content-center my-auto">
          {% if form.department.errors %}
            <div class="col-11 col-md-11" style="color:red;">{{ form.department.errors.as_text }}</div>
          {% endif %}
        </div>
        <div class="form-group row justify-content-center pt-3">
          <label class="col-11 col-md-3 col-lg-2 col-form-label" for='{{form.department.id_for_label}}' >所属部署</label>
          <div class="col-md-8 col-lg-6">
            <input type='form.department.widget.input_type' class='form-control'
              name="{{form.department.name}}"
              value="{{form.department.value|default:''}}"
              placeholder=""
              id="{{form.department.id_for_label}}" >
          </div>
        </div>

        <div class="row justify-content-center my-auto">
          {% if form.title.errors %}
            <div class="col-11 col-md-11" style="color:red;">{{ form.title.errors.as_text }}</div>
          {% endif %}
        </div>
  
        <div class="form-group row justify-content-center pt-3">
          <label class="col-11 col-md-3 col-lg-2 col-form-label" for='{{form.title.id_for_label}}' >役職</label>
          <div class="col-md-8 col-lg-6">
            <input type='form.title.widget.input_type' class='form-control'
              name="{{form.title.name}}"
              value="{{form.title.value|default:''}}"
              placeholder=""
              id="{{form.title.id_for_label}}" >
          </div>
        </div>
        
        <div class= "d-flex justify-content-center mt-5">
          <button type="submit" class="btn btn-primary shadow" name="next1" value="ToConfirm1">ご入力内容の確認画面に進む</button>
        </div>

      </form>

      </div> <!-- end row -->
  </div> <!-- end container -->
</div>

{% endif %}

{% endblock %}