{% extends "index/base_qconnect_seller.html" %}

{% load bootstrap_icons %}

{% block content %}

<div class="authentication-bg min-vh-100 min-vw-100 align-items-start">

  <div class="container">

    <!-- 本番環境ではmessagesは「DEBUG=False」として非表示とする -->
    <div class="row justify-content-center">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
          <span>{{ message }}</span>
        </div>
      {% endfor %}
    </div>

    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb text-dark mt-1">
        <li class="breadcrumb-item text-dark"><a href="{% url 'accounts:mypage_seller' %}">マイページ・ホーム</a></li>
        <li class="breadcrumb-item text-dark active" aria-current="page">設定メニュー</li>
      </ol>
    </nav>

    <div class="d-flex justify-content-center mt-5 mb-3">
      <h5 class="text-dark">{% bs_icon 'gear' size='1.4em' %} 設定メニュー</h5>
    </div>

    <!--
    <div class="header" style="display: flex; justify-content: space-between; align-items: center;">
      <h5>{% bs_icon 'bank' size='1.1em' %} 各種登録情報の変更</h5>
      <a href="{% url 'accounts:mypage_seller' %}" class="btn btn-outline-secondary" >メイン・メニューへ</a>
    </div>
    -->
    
    <div class="bg-light border border-success rounded p-5 mx-3">

      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3" >

        <form method="GET" action="{% url 'accounts:bankAccountCreate' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary w-100 shadow"
            name="BankAccountInfo"
            value="BankAccountInfo">
            受取口座設定</button>
        </form>

        <form method="GET" action="{% url 'accounts:passwordChange_seller' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary w-100 shadow"
            name="next"
            value="History">
            パスワード変更</button>
        </form>

        <form method="GET" action="{% url 'accounts:permissionSettings_seller' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary w-100 shadow"
            name="next"
            value="Permission">
            権限設定</button>

        </form> <!-- end col -->
    
      </div> <!-- end row row-cols-->
    </div>
  </div> <!-- end container-->
</div>


{% endblock %}