{% extends "index/base_qconnect_buyer.html" %}

{% load bootstrap_icons %}

{% block content %}

<div class="authentication-bg min-vh-100 min-vw-100 align-items-start">

  <div class="container">

    <div class="row justify-content-center mt-1">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
          <span>{{ message }}</span>
        </div>
      {% endfor %}
    </div>

    <!-- row-cols-md-3が前の項を上書きを行っている -->
    <div class="row justify-content-center mx-4">
      <div class="col-md-10">

      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 text-center" >
  
        <div class="col mt-4">
          <div class="card rounded-2 shadow">
            <div class="card-header py-2">
              <h5 class="my-0 fw-normal">承認待ちボックス</h5>
            </div>

            <div class="card-body shadow pb-0">
              {% bs_icon 'inbox' color='cornflowerblue' size='2.5em' %}

              <form method="GET" action="{% url 'qpay:txlist_buyer_approve' %}" class="mt-3">
                {% csrf_token %}
                <button type="submit" class="w-100 shadow btn btn-lg btn-outline-primary" name="next" value="approve_qpay">手続きへ</button>
              </form>
            </div>
          </div>
        </div>

        <div class="col mt-4">
          <div class="card rounded-2 shadow">
            <div class="card-header py-2">
              <h5 class="my-0 fw-normal">取引・契約状況</h5>
            </div>
            <div class="card-body shadow pb-0">
              {% bs_icon 'receipt-cutoff' color='cornflowerblue' size='2.5em' %}

              <form method="GET" action="{% url 'qpay:txlist_buyer_history' %}" class="mt-3">
                {% csrf_token %}
                <button type="submit" class="w-100 shadow btn btn-lg btn-outline-primary"
                  name="next"
                  value="issue">
                  手続きへ</button>
                <!-- <button type="button" class="w-100 btn btn-lg btn-primary">手続きへ</button> -->
              </form>
            </div>
          </div>
        </div>

        <div class="col mt-4">
          <div class="card rounded-2 shadow">
          <!-- <div class="card mb-4 rounded-3 shadow-sm border-primary"> -->
            <div class="card-header py-2"> 
            <!-- <div class="card-header py-3 text-bg-primary border-primary"> -->
              <h5 class="my-0 fw-normal">登録情報変更</h5>
            </div>
            <div class="card-body shadow pb-0">
              {% bs_icon 'pencil-square' color='cornflowerblue' size='2.5em' %}

              <form method="POST" class="mt-3">
                <button type="submit" class="w-100 shadow btn btn-lg btn-outline-primary"
                  name="next"
                  value="myinfo">
                  編集へ</button>
                <!-- <button type="button" class="w-100 btn btn-lg btn-primary">手続きへ</button> -->
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}