{% extends "index/base_qconnect_buyer.html" %}

{% load bootstrap_icons %}

{% block content %}

<div class="authentication-bg min-vh-100 min-vw-100 align-items-start" style="background-color:#def5f9;">
  <div class="container">

  
    <div class="row justify-content-center">
      <div class="col-11 col-md-10 mt-3">
        <div class="alert alert-primary" role="alert">
          来月初のQneeへのお支払いは●円です（支払が発生しているときに表示する）
        </div>
      </div>
      <hr>
    </div>

    <!-- row-cols-md-3が前の項を上書きを行っている -->
    <div class="row justify-content-center">
      <div class="col-11 col-md-10">

      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-3 text-center" >

        <!-- 25/05/31追加 ゲストへの案内 -->
        <div class="col mt-3">
          <div class="card mb-4 rounded-3 shadow">
            <div class="card-header py-3">
              <h5 class="my-0 fw-normal">ゲストへの案内</h5>
            </div>

            <div class="card-body shadow">
              <p></p>
              {% bs_icon 'send' color='cornflowerblue' size='2.5em' %}
              <p></p>

              <h6>ゲストへの各種案内をします</h6>

              <form method="GET" action="{% url 'qpay:txlist_buyer_send' %}">
                {% csrf_token %}
                <button type="submit" class="w-100 shadow btn btn-lg btn-outline-primary" name="next" value="approve_qpay">手続きへ</button>
              </form>
            </div>
          </div>
        </div>

        <div class="col mt-3">
          <div class="card mb-4 rounded-3 shadow">
            <div class="card-header py-3">
              <h5 class="my-0 fw-normal">承認待ちボックス</h5>
            </div>

            <div class="card-body shadow">
              <p></p>
              {% bs_icon 'inbox' color='cornflowerblue' size='2.5em' %}
              <p></p>

              <h6>前払い申請の承認をします</h6>

              <form method="GET" action="{% url 'qpay:txlist_buyer_approve' %}">
                {% csrf_token %}
                <button type="submit" class="w-100 shadow btn btn-lg btn-outline-primary" name="next" value="approve_qpay">手続きへ</button>
              </form>
            </div>
          </div>
        </div>

        <div class="col mt-3">
          <div class="card mb-4 rounded-3 shadow">
            <div class="card-header py-3">
              <h5 class="my-0 fw-normal">取引・契約状況</h5>
            </div>
            <div class="card-body">
              <p></p>
              {% bs_icon 'receipt-cutoff' color='cornflowerblue' size='2.5em' %}
              <p></p>

              <h6>取引・契約状況を確認します</h6>

              <form method="GET" action="{% url 'qpay:txlist_buyer_history' %}">
                {% csrf_token %}
                <button type="submit" class="w-100 shadow btn btn-lg btn-outline-primary" name="next" value="issue">手続きへ</button>
                <!-- <button type="button" class="w-100 btn btn-lg btn-primary">手続きへ</button> -->
              </form>
            </div>
          </div>
        </div>

        <div class="col mt-3">
          <div class="card mb-4 rounded-3 shadow">
          <!-- <div class="card mb-4 rounded-3 shadow-sm border-primary"> -->
            <div class="card-header py-3"> 
            <!-- <div class="card-header py-3 text-bg-primary border-primary"> -->
              <h5 class="my-0 fw-normal">登録情報変更</h5>
            </div>
            <div class="card-body">
              <p></p>
              {% bs_icon 'pencil-square' color='cornflowerblue' size='2.5em' %}
              <p></p>

              <h6>登録情報を変更します</h6>

              <form method="POST">
                <button type="submit" class="w-100 shadow btn btn-lg btn-outline-primary" name="next" value="myinfo">編集へ</button>
                <!-- <button type="button" class="w-100 btn btn-lg btn-primary">手続きへ</button> -->
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}