{% extends "index/base_qconnect_buyer.html" %}
{% load humanize %}

{% block content %}


<div class="authentication-bg min-vh-100 min-vw-100 align-items-start" style="background-color:#def5f9;">

  <div class="container mt-2">

    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb text-dark rounded-2">
        <li class="breadcrumb-item text-primary"><a href="{% url 'accounts:mypage_seller' %}">マイページ・ホーム</a></li>
        <li class="breadcrumb-item active" aria-current="page">取引詳細</li>
      </ol>
    </nav>

    
    <div class="d-flex justify-content-center mt-3">
      <h5>取引詳細</h5>
    </div>

    <div class="row justify-content-center">
      <div class="col-11 col-md-9 col-lg-6">

        <form method="GET"
          class="form-group bg-light border border-success rounded p-4 m-1">

          {% csrf_token %}

          <!--
          <div class="header" style="display: flex; justify-content: space-between; align-items: center;">
          <h5>詳細情報</h5>
          <a href="{% url 'qpay:txlist_buyer_history' %}" class="btn btn-outline-secondary" >取引一覧へ</a>
          </div>
          -->
        
          <div class="table-responsive">
            <table class="table table-striped table-bordered">

              <tbody>
                <tr class="table-info"><td width="45%">処理状況</td><td style="text-align:center;">{{ tx.tx_status_char }}</td></tr>
                <tr><td width="45%">ゲスト</td><td style="text-align:right;">{{ tx.sellerEntityname }}</td></tr>
                <tr><td width="45%">申請者</td><td style="text-align:right;">{{ tx.sellerUser_personname }}</td></tr>
                <tr><td width="45%">申請額</td><td style="text-align:right;">{{ tx.requested_amount|intcomma }}</td></tr>
                <tr>
                  <td width="45%">証明書類</td>
                  <td style="text-align:center">
                    <img src="{{ tx.evidence.url }}" class="img-thumbnail" style="width:50;height:auto"/>
                  </td>
                </tr>
              </tbody>
            </table>

            <table class="table table-striped table-bordered">
                <tbody>
                  <tr class="table-info"><td width="45%">ゲストへの振込額</td><td style="text-align:right;">{{ tx.to_seller_amount|intcomma }}</td></tr>
                  <tr><td width="45%">＋Qnee前払額</td><td style="text-align:right;">{{ tx.advance_amount|intcomma }}</td></tr>
                  <tr><td width="45%">－前払手数料</td><td style="text-align:right;">{{ tx.advance_fee|intcomma }}</td></tr>
                  <tr><td width="45%">－振込手数料</td><td style="text-align:right;">{{ tx.transfer_fee|intcomma }}</td></tr>
                  <tr class="table-info"><td width="45%">紹介報酬（Qnee⇒加盟店）</td><td style="text-align:right;">{{ tx.referral_fee|intcomma }}</td></tr>
                </tbody>
              </table>

              <div class="d-flex justify-content-center">
                <a href="{% url 'qpay:txlist_buyer_history' tx.pk page_num %}" class="btn btn-outline-primary" >
                  一覧に戻る</a>
              </div>
            </div>
          </div>
        </form>
      </div> <!-- end col -->
    </div> <!-- end row -->
  </div> <!-- end container -->
</div>

{% endblock %}