{% extends "index/base_qconnect_seller.html" %}
{% load humanize %}

{% block content %}
{% csrf_token %}


<div class="authentication-bg min-vh-100 min-vw-100 align-items-start">

  <div class="container">

    <!-- 本番環境ではmessagesは「DEBUG=False」として非表示とする -->
    <div class="row justify-content-center my-auto">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
          <span>{{ message }}</span>
        </div>
      {% endfor %}
    </div>

    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb text-dark mt-1">
        <li class="breadcrumb-item text-dark"><a href="{% url 'accounts:mypage_seller' %}">マイページ・ホーム</a></li>
        <li class="breadcrumb-item text-dark active" aria-current="page">取引履歴・書類発行</li>
      </ol>
    </nav>
    
    <div class="d-flex justify-content-center mt-3">
      <h5>取引一覧</h5>
    </div>

    <div class="row justify-content-center">
      
      <form method="GET">
        {% csrf_token %}
        
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr class="table-primary" style="text-align:center;">
              <!-- <tr align="center"> -->
                <th style="vertical-align:top">#</th>
                <th style="vertical-align:top">パートナー</th>
                <th style="vertical-align:top">申請額</th>
                <th style="vertical-align:top">申請時点</th>
                <th style="vertical-align:top">証明書類</th>
                <th style="vertical-align:top">処理状況</th>
                <th style="vertical-align:top">承認時点</th>
                <th style="vertical-align:top">詳細</th>
              </tr>
            </thead>

            <tbody>
              {% for item in page_obj %}
                <tr>
                  <td scope="row" style="text-align:center;">{{ forloop.counter }}</td>
                  <td>{{ item.buyer_entityName }}</td>
                  <td>{{ item.requested_amount|intcomma }}</td>
                  <td style="text-align:center">{{ item.requested_at|date:"y.n.j" }}<br>{{ item.requested_at|date:"H:i" }}</td>
                  <td style="text-align:center"><img src="{{ item.evidence.url }}" class="img-thumbnail" style="width:50;height:auto"/></td>
                  <td style="text-align:center">{{ item.txStatus_char|linebreaksbr }}</td>
                  <td style="text-align:center">{{ item.approved_at|date:"y.n.j" }}<br>{{ item.approved_at|date:"H:i" }}</td>
                  <td style="text-align:center">
                    <a href="{% url 'qpay:txdetail_seller' item.pk page_obj.number %}"
                      class="btn btn-outline-primary">
                      表示</a>
                      <!--style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" -->  
                  </td>
                </tr>
              {% empty %}
                <p>データがありません。</p>
              {% endfor %}
            </tbody>
          </table>
    
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
      </form>
      
      {% include "partials/pagination.html" %}

    </div> <!-- end row -->
  </div> <!-- end container -->

</div>

{% endblock %}