{% extends 'index/base_corporate.html' %}

{% load static %}

{% block home %}

<!--START HOME-->
<section class="home-slider" id="home">
  <div class="swiper-container homeslider">
    <div class="swiper-wrapper">

      <div class="swiper-slide" style="background-image: url('static/images/home/bg-home3-1.jpg');background-size: cover;background-position: center;">
        <div class="bg-overlay">
        </div>
        
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="text-center text-white">
                <h6 class="home-subtitle mb-4">VISION</h6>
                <h1>あなたの思いを大切なものに</h1>
                <p class="home-desc pt-3">私たちが考える「便利」を提供することにより、あなたの思いや時間をほんとうに大切なものに使ってもらいたい、それが私たちがビジョンです。</p>
                <div class="d-grid gap-5 d-md-flex justify-content-md-center mt-4 pt-3">
                  <a href="#" class="btn btn-primary" role="button" 
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="受注者向けWebアプリ準備中">仕事を受注する方</a>
                  <a href="#" class="btn btn-primary" role="button"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="発注者向けWebアプリ準備中">仕事を発注する方</a>
                </div>
              </div>
            </div> <!--end col-->
          </div> <!--end row-->
        </div> <!--end container-->
      </div> <!--end swiper-slide-->
  
      <div class="swiper-slide"
        style="background-image: url('static/images/home/bg-home3-2.jpg');background-size: cover;background-position: center;"> # bottom
        <div class="bg-overlay">
        </div>
      
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="text-center text-white">
                <h6 class="home-subtitle mb-4">FOCUS</h6>
                <h1>「日本の創る」を支えたい</h1>
                <p class="home-desc pt-3">フリーランスなどの受託側と、発注側の関係に目を向け、私たちが提供できるサービスに取り組んでいきます。</p>
                <div class="d-grid gap-5 d-md-flex justify-content-md-center mt-4 pt-3">
                  <a href="#" class="btn btn-primary" role="button" 
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="受注者向けWebアプリ準備中">仕事を受注する方</a>
                  <a href="#" class="btn btn-primary" role="button"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="発注者向けWebアプリ準備中">仕事を発注する方</a>
                </div>
              </div>
            </div> <!--end col-->
          </div> <!--end row-->
        </div> <!--end container-->
      </div> <!--end swiper-slide-->

      <div class="swiper-slide"
        style="background-image: url('static/images/home/bg-home3-3.jpg');background-size: cover;background-position: center;"> # top
        <div class="bg-overlay">
        </div>

        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="text-center text-white">
                <h6 class="home-subtitle mb-4">SOLUTION</h6>
                <h1>新しい価値創造へ</h1>
                <p class="home-desc pt-3">オペレーション簡略化、行動や結果のデータ化による信用創造・マッチングなどの未来型のサービスを目指します。</p>
                <div class="d-grid gap-5 d-md-flex justify-content-md-center mt-4 pt-3">
                  <a href="{% url 'index_qconnect_seller' %}" class="btn btn-primary" role="button" 
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="受注者向けWebアプリ準備中">仕事を受注する方</a>
                  <a href="{% url 'index_qconnect_buyer' %}" class="btn btn-primary" role="button"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="発注者向けWebアプリ準備中">仕事を発注する方</a>
                </div>
              </div>
            </div> <!--end col-->
          </div> <!--end row-->
        </div> <!--end container-->
      </div> <!--end swiper-slide-->
  
    </div> <!--end swiper-wrapper-->

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>

  </div> <!--end homeslider-->
</section> <!--end home-->

<script>
  let tooltipTriggerList = [].slice.call(document.querySelectorAll('{data-bs-toggle="tooltip"}'));
  let tooltipList = tooltipTriggerList.map(function (tooltipTriggerElem){
    return new bootstrap.Tooltip(tooltipTriggerElem)
  });

</script>  

{% endblock home %}