{% load static %}
{% block faq %}

<!-- START FAQ -->
<section class="section" id="faq">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5 pb-2">
          <h3>よくある質問</h3>
          <p class="text-muted mt-2">私たちのサービスに対してよくある質問を纏めています。<br>
            こちらで解決できない点がありましたら「お問い合わせ」からご照会ください。
          </p>
        </div>
      </div> <!--end col-->
    </div> <!--end row-->

    <div class="row">
      <div class="col-lg-6">
        <div class="mb-4 pb-2">
          <div class="faq d-flex">
            <div class="icon flex-shrink-0 me-3">
              ?
            </div>

            <div class="content">
              <h5 class="fs-17">フリーランスですが、どうしたら利用できるか？</h5>
              <p class="text-muted mb-0">発注者が加盟店になる必要があります。
                既に加盟店である場合は、加盟店からの案内で利用できます。
              </p>
            </div>
          </div>
        </div>

        <br>

        <div class="mb-4 pb-2">
          <div class="faq d-flex">
            <div class="icon flex-shrink-0 me-3">
              ?
            </div>
            <div class="content">
              <h5 class="fs-17"> 加盟店になるには？</h5>
              <p class="text-muted mb-0">
                  オンラインにより加盟店のお申し込みができます。<br>
                  申込者はQneeの審査を経たうえで加盟店となることができます。
              </p>
            </div>
          </div>
        </div>

        <br>

        <div class="mb-4 pb-2">
          <div class="faq d-flex">
            <div class="icon flex-shrink-0 me-3">
              ?
            </div>
            <div class="content">
              <h5 class="fs-17"> Qnee Payはファクタリングと違いますか？</h5>
              <p class="text-muted mb-0">
                （ふつうのファクタリングと違い）事後の資金の引き渡しがありません。<br>
                Qneeがご利用者に前払いし、その分を発注者から回収します。
              </p>
            </div>
          </div>
        </div>
      </div> <!--end col-->

      <div class="col-lg-6">
        <div class="mb-4 pb-4">
          <div class="faq d-flex">

            <div class="icon flex-shrink-0 me-3">
              ?
            </div>
            <div class="content">
              <h5 class="fs-17"> 加盟店の導入負担はどの程度ですか？</h5>
              <p class="text-muted mb-0">
                Webアプリのかんたんな操作方法を覚えるだけ。導入後は「Qnee Payの承認」や
                「Qnee Contract」の処理をオンラインでご対応いただきます。
              </p>
            </div>
          </div>
        </div>

        <div class="mb-4 pb-4">
          <div class="faq d-flex">
            <div class="icon flex-shrink-0 me-3">
              ?
            </div>
            <div class="content">
              <h5 class="fs-17"> フリーランス以外も使えますか？</h5>
              <p class="text-muted mb-0">
                あなたが受注者で、発注者が加盟店になればご利用できます。
              </p>
            </div>
          </div>
        </div>

        <div class="mb-4 pb-4">
          <div class="faq d-flex">
            <div class="icon flex-shrink-0 me-3">
              ?
            </div>
            <div class="content">
              <h5 class="fs-17"> なぜ利用者の費用負担が少ないのですか？</h5>
              <p class="text-muted mb-0">
                Qnee自身が仕組みを考えて、システム開発するので「システム外注費用」がなく、
                オンラインで運営するため、ご利用者へのご負担を軽くなります。
              </p>
            </div>
          </div>
        </div>
      </div> <!--end col-->
    </div> <!--end row-->
  </div> <!--end container-->
</section> <!-- END FAQ -->

{% endblock %}