{% load static %}
{% block navbar %}

<!-- START NAVBAR -->
<nav id="navbar"
  class="navbar navbar-expand-lg fixed-top sticky pt-0 pb-1 shadow">
 <!-- style="background-color:rgba(255, 255, 255, 0.96) !important;"> -->


  <div class="container-fluid">

    <a class="navbar-brand mt-1 ms-3" href="/">
      <img src="{% static 'images/logo_text_lovebird.png' %}" alt="" height="60"></a>

    <button class="navbar-toggler pt-3 pb-3" type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <!-- area-expanded="false"は、関連する要素（下記のnavbar）が閉じていることを意味する？-->
      <i class="mdi mdi-menu text-secondary me-5" style="font-size:1.55em;"></i>
    </button>

    <!-- 「navbar-expand-lg」によりlg以上の場合は、初めから表示される-->
    <!-- これが表示されるとボタンは表示されない-->
    <div class="collapse navbar-collapse" id="navbarContent">

      <div 
        class="d-block d-lg-none rounded-2 mx-2"
        style="background-color:rgba(241, 236, 236, 0.95) !important;">

        <ul class="navbar-nav sticky" id="navbar-navlist">

          <div class="row">
            <div class="col-4">
              <li class="nav-item pt-2">
                <a class="nav-link ms-2 py-0" href="#home">Home</a>
              </li>
            </div>

            <div class="col-4">
              <li class="nav-item">
                <a class="nav-link ms-2 pt-2" href="{% url 'corporate_info' %}">会社概要</a>
              </li>
            </div>
              
            <div class="col-4">
              <li class="nav-item">
                <a class="nav-link ms-2 pt-2" href="#contact">お問い合わせ</a>
              </li>
            </div>

          </div>

          <div class="row">
            <div class="col-6">
              <li class="nav-item dropdown">
                <a class="nav-link ms-2 pt-1 pb-2" href="#" id="navbarDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  サービス内容 
                  <i class="mdi mdi-arrow-down-circle" style="font-size:1em"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                  <div class="row">
                    <div class="col-6"><li><a class="nav-link" href="#features">主な特徴</a></li></div>
                    <div class="col-6"><li><a class="nav-link" href="#process">ご利用方法</a></li></div>
                    <div class="col-6"><li><a class="nav-link" href="#price">ご利用料金</a></li></div>
                    <div class="col-6"><li><a class="nav-link" href="#client">お客様の声</a></li></div>
                  </div>
                </ul>
              </li>
            </div>

            <div class="col-6">
              <li class="nav-item">
                <a class="nav-link ms-2 pt-1 pb-2" href="#faq">FAQ</a>
              </li>
            </div>
          </div>

        </ul>

      </div> <!-- end of d-block -->

      <div
        class="d-none d-lg-block ms-5 ps-5">

        <ul class="navbar-nav" id="navbar-navlist">

          <li class="nav-item">
            <a class="nav-link pt-4 pb-4" href="#home">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link pt-4 pb-4" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              サービス内容
              <i class="mdi mdi-arrow-down-circle" style="font-size:1em"></i>
              
            </a>
    
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="nav-link" href="#features">主な特徴</a></li>
              <li><a class="nav-link" href="#process">ご利用開始まで</a></li>
              <li><a class="nav-link" href="#price">ご利用料金</a></li>
              <li><a class="nav-link" href="#client">お客様の声</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link pt-4 pb-4"
              href="{% url 'corporate_info' %}">会社概要</a>
          </li>

          <li class="nav-item">
            <a class="nav-link pt-4 pb-4" href="#faq">FAQ</a>
          </li>

          <li class="nav-item">
            <a class="nav-link pt-4 pb-4" href="#contact">お問い合わせ</a>
          </li>
        </ul>
      </div> <!-- d-none -->

    </div> <!--end of collapse-->

  </div> <!--end of container-->
</nav> <!-- END NAVBAR -->
{% endblock %}