{% load static %}

{% block overview %}

<section class="section" id="overview">
  <div class="container">

    <table class="overview">
      <tr><th>会社名</th><td>株式会社Qnee（キユーニー）</td></tr>
      <tr><th>代表者名</th><td>代表取締役　富張　周一郎</td></tr>
      <tr><th>設立年月日</th><td>2024年8月5日</td></tr>
      <tr><th>資本金</th><td>500万円</td></tr>
      <tr><th>事業内容</th><td>フリーランス等に対する委託業務支援</td></tr>
      <tr><th>所在地</th><td>〒107-0062 東京都港区南青山3丁目1番36号青山丸竹ビル6F</td></tr>
      <!-- <tr><th>電話</th><td>052-0000-0000</td></tr> -->
      <tr><th>受付時間</th><td>19:00～22:00</td></tr>
    </table>

  </div>
</section>

{% endblock %}