{% load static %}

{% block overview %}

  <div class="mx-0" style="background-color:#f2f4f6;">

    <!-- タイトル -->
    <div class="py-5"></div>

    <h3 class="text-center fw-bold text-secondary">会社情報</h2>


    <div class="row justify-content-center mt-3">
      <div class="col-md-10 col-lg-8">

        <!-- メインカード -->
        <div class="bg-white rounded-3 shadow py-5 mx-4 px-5">
      
          <!-- 会社名 -->
          <div class="row mt-2 mx-4" style="border-bottom: 1px solid #a0acb7;">
            <div class="col-sm-3 mb-2 mb-sm-0"><b>会社名</b></div>
            <div class="col-sm-9">株式会社Qnee（キユーニー）</div>
          </div>

          <!-- 設立日 -->
          <div class="row mt-4 mx-4" style="border-bottom: 1px solid #a0acb7;">
            <div class="col-sm-3 mb-2 mb-sm-0"><b>設立日</b></div>
            <div class="col-sm-9">2024年8月5日</div>
          </div>

          <!-- 資本金 -->
          <div class="row mt-4 mx-4" style="border-bottom: 1px solid #a0acb7;">
            <div class="col-sm-3 mb-2 mb-sm-0"><b>資本金</b></div>
            <div class="col-sm-9">500万円</div>
          </div>

          <!-- 事業内容 -->
          <div class="row mt-4 mx-4" style="border-bottom: 1px solid #a0acb7;">
            <div class="col-sm-3 mb-2 mb-sm-0"><b>事業内容</b></div>
            <div class="col-sm-9">フリーランス等に対する委託業務支援</div>
          </div>

          <!-- 代表者 -->
          <div class="row mt-4 mx-4" style="border-bottom: 1px solid #a0acb7;">
            <div class="col-sm-3 mb-2 mb-sm-0"><b>代表者</b></div>
            <div class="col-sm-9">富張 周一郎</div>
          </div>

          <!-- 本店所在地 -->
          <div class="row mt-4 mx-4" style="border-bottom: 1px solid #a0acb7;">
            <div class="col-sm-3 mb-2 mb-sm-0"><b>所在地</b></div>
            <div class="col-sm-9">
              〒107-0062 東京都港区南青山3丁目1番36号青山丸竹ビル6F</div>
          </div>

          <!-- 受付時間 -->
          <div class="row mt-4 mx-4">
            <div class="col-sm-3 mb-2 mb-sm-0"><b>受付時間</b></div>
            <div class="col-sm-9">
              19:00～22:00</div>
          </div>

      </div> <!-- end col -->
    </div> <!-- end row -->

    <div class="py-4"></div>

  </div>  


{% endblock %}