{% load static %}

{% block copy_buyer2 %}

<!--
<section class="min-vh-100 min-vw-100">

  <div class="copy-wrapper">
    <div class="copy">
      <p class="copy-head">皆さまへのお願い</p>
      <p class="copy-body1">
        <br>
        私たちのパートナーとなってフリーランスをご紹介いただけませんか。
        <br>
        Qneeは終了した業務の報酬であれば、すぐに立替えることができます。
        フリーランスは、審査や返済もなく、すぐに報酬を手に入れられ、
        そうすることで、あなたの会社はフリーランスからは感謝を、Qneeからはご確認料（下記）を受けることができます。
         
        また、Qneeは信頼できるフリーランス向けの報酬の立替を行うサービスも準備しています。
      </p>
    </div>
  </div>

  <div class="video">
    <video class="min-vh-100 min-vw-100"
      src="{% static 'images/qconnect/bg-productLP_8.mp4' %}"
      autoplay loop muted playsinlin>
    </video>
  </div>

</section>
-->

{% endblock %}