{% load static %}

{% block copy_buyer3 %}

<!--
<section class="min-vh-100 min-vw-100">

  <div class="copy-wrapper">
      <div class="copy">
          <p class="copy-head">ご協力者への御礼</p>
          <p class="copy-body1">
            <br>
            あなたの会社には、フリーランスからの申請内容のご確認をいただきますので、
            Qneeから下記のご確認料をお支払いいたします。
            <br>
        
             Qnee Connect利用料	ご確認料（受取り）
            通常価格	月額5000円	Qnee立替額の0.5%
            はじめの3か月	月額０円	Qnee立替額の1.5%
            β版の運用期間
            （～2026/3末）	月額3000円	Qnee立替額の1.5%
            
            Qneeのサービスにご参加いただける場合は、パートナー登録にお進みください。
            
            P.S.　ご紹介いただいたお会社がパートナーとなった場合には、利用料を3か月間無料といたします。
                    
          </p>
      </div>
    </div>
  </div>

  <div class="video">
    <video class="min-vh-100 min-vw-100"
      src="{% static 'images/qconnect/bg-productLP.mp4' %}"
      autoplay loop muted playsinlin>
    </video>
  </div>

</section>
-->
{% endblock %}