{% load static %}

{% block copy_buyer1 %}

<section class="home-slider" id="home">
  <div class="ParaImage bg1">

    <div class="bg-overlay"></div>

    <div class="container">

      <div class="row justify-content-center text-white">
        <div class="copy-wrapper px-0 ">
          <div class="copy">
            <p class="copy-head">
              Qneeが報酬を立て替えます
            </p>
    
            <p class="copy-body1">
              <br>
              早く報酬ほしい！ <br>
              委託先からそんな相談ありませんか？<br>
              <br>
              フリーランスはカードや銀行の審査が厳しい、<br>
              ファクタリングは費用が高いことも多く、<br>
              会社勤めの方と比べて多くの不安があります <br>
              <br>
              またフリーランス新法は報酬の支払いを60日以内とし、 <br>
              今後、一層スピード感ある支払いの期待されます<br>
              <br>
            </p>
            <p class="copy-body2">
              そんな中、Qneeが報酬のお立て替えします
              <br><br><br><br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ParaContent">
    <div class="container">
      <!-- <h3>Lorem ipsum dolor sit amet</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit volupt</p>
      -->
    </div>
  </div>

  <div class="ParaVideo min-vw-100 min-vh-100">
    <video autoplay muted loop>
      <source src="static/images/qconnect/bg-productLP-buyer2_2.mp4"
        type="video/mp4">
    </video>
    <!-- <h2>Vedio Background Parallax</h2>-->

    <div class="row justify-content-center text-white">
      <div class="copy-wrapper min-vh-100 px-0 ">

        <div class="copy">
          <p class="copy-head">皆さまへのお願い</p>
          <p class="copy-body1">
            Qneeのパートナーとなって、<br>
            フリーランスをご紹介いただけませんか？<br>
            <br>
          </p>
          
          <p class="copy-head">Qneeが報酬を立て替えます</p>
          <p class="copy-body1">
            フリーランスはすぐに報酬を手にし、<br>
            <br>
            あなたの会社は、<br>
            ①フリーランスから感謝され、<br>
            ②Qneeから謝礼金を得ることができます<br>
            <br>
            Qneeは信頼できるフリーランスには<br>
            将来の報酬の立て替えサービスを準備しています
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--
  <div class="ParaVideo2">
    <video autoplay muted loop>
      <source src="static/images/qconnect/bg-productLP-buyer3_1.mp4"
        type="video/mp4">
    </video>
    
    <div class="row justify-content-center text-white">
      <div class="copy-wrapper min-vh-100 px-0 ">

        <div class="copy">
          <p class="copy-head">皆さまへのお願い</p>
          <p class="copy-body1">
            Qneeのパートナーとなって、<br>
            フリーランスをご紹介いただけませんか？<br>
            <br>
          </p>
          
          <p class="copy-head">Qneeが報酬を立て替えます</p>
          <p class="copy-body1">
            フリーランスはすぐに報酬を手にし、<br>
            <br>
            あなたの会社は、<br>
            ①フリーランスから感謝され、<br>
            ②Qneeから謝礼金を手にします<br>
            <br>
            Qneeは信頼できるフリーランスには<br>
            将来の報酬も立て替えサービスを準備開始しています
          </p>
        </div>
      </div>
    </div>
  </div>
  -->

  <div class="ParaContent">
    <div class="container">
      <!--
      <h3>Lorem ipsum dolor sit amet</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit volupt</p>
      -->
    </div>
  </div>

  <div class="ParaImage bg2">

    <div class="copy-wrapper">

      <div class="container">
      <div class="row justify-content-center ">
        <div class="col">
            <p class="copy-head">皆さまへのお願い</p>
            <p class="acopy-body1">
              <br>
              Qneeのパートナーとなり、<br>
              フリーランスをご紹介いただけませんか？<br>
              <br>
              Qneeは終わった仕事の報酬をすぐに立て替えます<br>
              <br>
              フリーランスは、審査もなしにすぐに報酬を手にし、<br>
              貴社は、①フリーランスから感謝、②Qneeから確認料を手に！<br>
              <br>
              Qneeは信頼できるフリーランスには将来の報酬も立て替えるサービスを用意しています
            </p>
          
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-11">
          <table class="table table-striped table-bordered table-responsive bg-light">

        
            <tbody class="text-center">
              <tr><td width="33%">項目１</td><td>内容１</td></tr>
              <tr><td>項目２</td><td>内容２</td></tr>
              <tr><td>項目３</td><td>内容３</td></tr>
            </tbody>
          </table>
      
        </div>
      </div>
      </div>

    </div>
  </div>

</section>

{% endblock %}