
.form-control::placeholder{
  color: #cccccc;
}

.basicFont {
  font-family: Meiryo;
}

.innercell {
  padding: 3px 20px;
}
.td01 {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  text-align: left;
  vertical-align: top;
  background: #F3F3F3;
}

.td02none {
  border-top: 1px solid #ccc;
  text-align: left;
  vertical-align: top;
  background: #fff;
}

.navbar {
  background-color:  #8cc0e2;
}

.btn-custom1 {
  background-color: #de3400;
  color: #ffffff;
  height: 40px;
  width: 300px;
  border-radius: 12px 12px 12px 12px;
  border: none;
}

.btn-custom2 {
  background-color: #de3400;
  color: #ffffff;
  height: 40px;
  width: 100px;
  border-radius: 12px 12px 12px 12px;
  border: none;
}

.btn-custom3 {
  background-color: #d28cb1;
  color: #ffffff;
  height: 40px;
  border-radius: 10px 10px 10px 10px;
  border: none;
}

@media (max-width:700px) { 
  /*　for iPhone Landscape　(iPhone 横)　*/
  h3 {
    color: red;
  }
  
  iframe {
    border: none;
    margin: 0px;
    width: 350px;
    height: 350px;
   }
}

@media (min-width:700px) {
  /*　for PC　*/
  h3 {
    color: red;
  }

  iframe {
    border: none;
    margin: 0px;
    width: 700px;
    height: 350px;
   }
}