{% load static %}

{% block features %}
<!-- START FEATURES -->
<section class="section bg-light" id="features">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h3>サービスの特徴</h3>
          <p class="text-muted"> 私たちのサービスは「まずはご利用いただく」をモットーに、
            費用負担も少なく簡単な操作でご利用いただくことを目指したサービスです。</p>
        </div>
      </div> <!--end col-->
    </div> <!--end row-->

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="feature-box card border-0 mt-3">
          <div class="card-body">
            <div class="feature-icon mx-auto">
              <i class="mdi mdi-cash"></i>
            </div>
            <div class="mt-4">
              <h6 class="mb-3 fs-17">Qnee Pay</h6>
              <p class="text-muted"> 支払日が決まっている報酬を、<br>
                発注先に代わってQneeが先払いします。</p>
            </div>
            <div class="feature-link">
              <a href="#" class="text-primary text-decoration-underline">ご利用開始まで
                <i class="mdi mdi-arrow-right"></i></a>
            </div>
          </div> <!--end card-body-->
        </div> <!--end feature-box-->
      </div> <!--end col-->

      <div class="col-lg-4 col-md-6">
        <div class="feature-box card border-0 mt-3">
          <div class="card-body">
            <div class="feature-icon mx-auto">
              <i class="mdi mdi-receipt"></i>
            </div>
            <div class="mt-4">
              <h6 class="mb-3 fs-17"> 請求書・明細発行</h6>
              <p class="text-muted"> 加盟店に代わりオンライン上で<br>
                必要な書類を発行します。</p>
            </div>
            <div class="feature-link">
              <a href="#" class="text-primary text-decoration-underline">ご利用開始まで
                <i class="mdi mdi-arrow-right"></i></a>
            </div>
          </div> <!--end card-body-->
        </div> <!--end feature-box-->
      </div> <!--end col-->

      <div class="col-lg-4 col-md-6">
        <div class="feature-box card border-0 mt-3">
          <div class="card-body">
            <div class="feature-icon mx-auto">
              <i class="mdi mdi-file"></i>
            </div>
            <div class="mt-4">
              <h6 class="mb-3 fs-17">契約締結・管理</h6>
              <p class="text-muted">ご利用者と発注元との契約について、<br>
                オンライン上でを締結し、管理します。</p>
            </div>
            <div class="feature-link">
              <a href="#" class="text-primary text-decoration-underline">ご利用開始まで
                <i class="mdi mdi-arrow-right"></i></a>
            </div>
          </div> <!--end card-body-->
        </div> <!--end feature-box-->
      </div> <!--end col-->

      <div class="col-lg-4 col-md-6">
        <div class="feature-box card border-0 mt-3">
          <div class="card-body">
            <div class="feature-icon mx-auto">
              <i class="mdi mdi-responsive"></i>
            </div>
            <div class="mt-4">
              <h6 class="mb-3 fs-17">オンラインで完結</h6>
              <p class="text-muted">Qnee Pay、契約締結など私たちのサービスは<br>
                オンラインで完結します。</p>
            </div>
            <div class="feature-link">
              <a href="#process" class="text-primary text-decoration-underline">ご利用開始まで
                <i class="mdi mdi-arrow-right"></i></a>
            </div>
          </div> <!--end card-body-->
        </div> <!--end feature-box-->
      </div> <!--end col-->

      <div class="col-lg-4 col-md-6">
        <div class="feature-box card border-0 mt-3">
          <div class="card-body">
            <div class="feature-icon mx-auto">
              <i class="mdi mdi-leaf"></i>
            </div>
            <div class="mt-4">
              <h6 class="mb-3 fs-17"> 簡単な操作 </h6>
              <p class="text-muted"> スマホ・パソコンで完結。<br>
                簡単な操作・手続きで利用できます。</p>
            </div>
            <div class="feature-link">
              <a href="#" class="text-primary text-decoration-underline">ご利用開始まで
                <i class="mdi mdi-arrow-right"></i></a>
            </div>
          </div> <!--end card-body-->
        </div> <!--end feature-box-->
      </div> <!--end col-->

      <div class="col-lg-4 col-md-6">
        <div class="feature-box card border-0 mt-3">
          <div class="card-body">
            <div class="feature-icon mx-auto">
              <i class="mdi mdi-arrow-down"></i>
            </div>
            <div class="mt-4">
              <h6 class="mb-3 fs-17"> 最低限の手数料</h6>
              <p class="text-muted"> 利用手数料をご覧下さい。Qneeメンバーが創った仕組みによりご利用者の負担を軽くします。</p>
            </div>
            <div class="feature-link">
              <a href="#price" class="text-primary text-decoration-underline">ご利用手数料
                <i class="mdi mdi-arrow-right"></i></a>
            </div>
          </div> <!--end card-body-->
        </div> <!--end feature-box-->
      </div> <!--end col-->
    </div> <!--end row-->
  </div> <!--end container-->
</section> <!-- END FEATURES -->

{% endblock %}