{% load static %}
{% block pricing %}

<!-- START PRICING -->
<section class="section bg-light" id="price">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-4">
          <h3>ご利用料金</h3>
          <p class="text-muted mt-2">私たちのサービスは「まずはご利用いただく」ことをモットーに良心的な料金を目指しています。
          </p>
        </div>
      </div> <!--end col-->
    </div> <!--end row-->

    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="price-box card border-0 mt-4">
          <div class="ribbon">β版特典</div>
          <div class="text-center">
            <h5 class="mb-0">加盟店</h5>
          </div>
          <div class="plan-price text-center mt-4">
            <h3 class="text-primary mb-0 fw-medium">5000円
              <sub class="text-muted">/月</sub></h3>
          </div>
          <div class="price-features mt-5">
            <p><i class="mdi mdi-check text-primary"></i> Qnee Pay（報酬前払い）:
              <span class="fw-medium float-end">0円</span></p><br>
            <p><i class="mdi mdi-check text-primary"></i> 契約書締結・保管: <br>
              <span class="fw-medium float-end">0円</span></p><br>
            <p><i class="mdi mdi-close text-primary"></i> 必要書類発行（ご利用者向け）:
              <span class="fw-medium float-end">0円</span></p>
          </div>
          <div class="text-center mt-4">
            <a href="#" class="btn btn-outline-primary w-100">Join Now</a>
          </div>
        </div> <!--end pricing-box-->
      </div> <!--end col-->

      <div class="col-md-6 col-lg-4">
        <div class="price-box card border-0 mt-4">
          <div class="text-center">
            <div class="ribbon">β版特典</div>
            <h5 class="mb-0">ご利用者</h5>
          </div>
          <div class="plan-price text-center mt-4">
            <h3 class="text-primary mb-0 fw-medium">
              0円<sub class="text-muted">/月</sub></h3>
          </div>
          <div class="price-features mt-5">
            <p><i class="mdi mdi-check text-primary"></i> Qnee Pay（報酬前受け）:
              <span class="fw-medium float-end">報酬の4%</span></p><br>
            <p><i class="mdi mdi-check text-primary"></i> 契約書締結・保管:
              <span class="fw-medium float-end">0円</span>
            </p>
            <p><i class="mdi mdi-check text-primary"></i> 書類発行:
              <span class="fw-medium float-end">0円</span></p><br>
          </div>

          <div class="text-center mt-4">
            <a href="#" class="btn btn-primary w-100">Join Now</a>
          </div>
        </div> <!--end pricing-box-->
      </div> <!--end col-->

    </div> <!--end row-->
  </div> <!--end container-->
</section> <!-- END PRICING -->

{% endblock %}