{% load static %}

{% block switcher %}

<!-- Style switcher -->
<div id="style-switcher" onclick="toggleSwitcher()" style="left: -189px;">
  <div>
    <h6>Select your color</h6>
    <ul class="pattern list-unstyled mb-0">
      <li>
        <a class="color1" href="javascript: void(0);" onclick="setColor('default')"></a>
      </li>
      <li>
        <a class="color2" href="javascript: void(0);" onclick="setColor('success')"></a>
      </li>
      <li>
        <a class="color3" href="javascript: void(0);" onclick="setColor('warning')"></a>
      </li>
      <li>
        <a class="color4" href="javascript: void(0);" onclick="setColor('orange')"></a>
      </li>
      <li>
        <a class="color5" href="javascript: void(0);" onclick="setColor('info')"></a>
      </li>
      <li>
        <a class="color6" href="javascript: void(0);" onclick="setColor('purple')"></a>
      </li>
    </ul>
  </div>
 
  <div class="bottom">
    <a href="javascript: void(0);" class="settings rounded-end"><i class="mdi mdi-cog mdi-spin"></i></a>
  </div>
</div> <!-- end switcher-->
{% endblock %}