{% load static %}

{% load bootstrap_icons %}

<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="utf-8" />
    <title>Qnee | Corporate</title> <!-- SEO対策として書き換える-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="制作会社やフリーランスの方に「より便利な環境を」。
      負担の少ない報酬先払い、契約書締結の代行、本当に大事なもの以外は手間や費用を
      かけないような環境構築を目指します。" />
    <meta name="keywords" content="フリーランス新法, プロダクション, 制作会社, ファクタリング, freelance, " />
    <meta name="author" content="富張周一郎" />

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'images/icon_qnee.ico' %}" />

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sawarabi+Gothic&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->


    <!-- icons -->
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'css/materialdesignicons.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Main CSS File -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <!-- Custom Css -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/colors/default.css' %}" rel="stylesheet" type="text/css" id="color-opt" />


  </head>


  <body
    class="p-0" 
    data-bs-spy="scroll" data-bs-target="#navbar-navlist" data-bs-offset="70">
  <!-- data-bs-offset="60" スクロールスパイ等を利用しているとき、 
      ナビバーが固定（fixed）されている場合、 コンテンツのスクロール位置がナビバーに
      隠れないよう、見出しの表示位置を60px下（または上）に調整する際に使われます。
  -->

    <!--
    <div class="position-fixed top-0 start-0"
      style="position:relative; z-index:1040; width: max-content; margin:10px 148px;">
      <a href="#">
        <img src="{% static 'images/lovebird.png' %}" alt="" height="50"></a>  
    </div>
    -->

    {% block home %}{% endblock home %}

    <!--start back-to-top-->
    <button onclick="topFunction()" id="back-to-top">
      <i class="mdi mdi-arrow-up"></i>
    </button>

    <!-- 表示速度の観点でJavaScript関連は<body>内の最後に読み込み -->
    <!-- Swiper Slider css -->
    <link href="{% static 'css/swiper-bundle.min.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>

     <!-- JavaScript js -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/index.init.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    {% block extrajs %}{% endblock %}


    

    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->

  </body>

</html>