{% load static %}

<!--{% load bootstrap_icons %}-->

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <title>Qnee | Copporate Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="制作会社やフリーランスの方に「より便利な環境」を。
  負担の少ない報酬先払い、契約書締結の代行、本当に大事なもの以外は手間や費用を
  かけないような環境構築を目指します。" />
<meta name="keywords" content="フリーランス新法, プロダクション, 制作会社, ファクタリング, freelance, " />
<meta name="author" content="富張周一郎" />
  
  <!-- favicon -->
  <link rel="shortcut icon" href="{% static 'images/qnee.ico' %}">

  {% block css %}
  <!-- Bootstrap css-->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" />

  <!-- Materialdesign icon-->
  <link rel="stylesheet" href="{% static 'css/materialdesignicons.min.css' %}" type="text/css" />

  <!-- Swiper Slider css -->
  <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}" type="text/css" />

  <!-- Custom Css -->
  <link href="{% static 'css/style.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/colors/default.css' %}" rel="stylesheet" type="text/css" id="color-opt" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

  {% endblock %}

</head>

<body data-bs-spy="scroll" data-bs-target="#navbar-navlist" data-bs-offset="60">

  <!--page Loader
  <div id="preloader">
    <div id="status">
      <div class="load">
        <hr />
        <hr />
        <hr />
        <hr />
      </div>
    </div>
  </div>
  -->
  
  <!-- START NAVBAR -->
  <nav id="navbar" class="navbar navbar-expand-lg fixed-top sticky pt-0 pb-1">

    <div class="container-fluid">

      <a class="navbar-brand ms-3" href="/"><img src="{% static 'images/logo-qnee-yoko6.png' %}" alt="" height="23"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="mdi mdi-menu text-secondary me-4" style="font-size:1.4em;"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">

        <div class="d-none d-lg-block ms-5">

          <ul class="navbar-nav" id="navbar-navlist">
            <li class="nav-item">
              <a class="nav-link active" href="/?#home">HOME</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" 
                data-bs-toggle="dropdown" aria-expanded="false">
                サービス内容
                <i class="mdi mdi-arrow-down-circle" style="font-size:1em"></i>
              </a>
    
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="nav-link" href="/?#features">主な特徴</a></li>
                <li><a class="nav-link" href="/?#process">ご利用開始まで</a></li>
                <li><a class="nav-link" href="/?#price">ご利用料金</a></li>
                <li><a class="nav-link" href="/?#client">お客様の声</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                会社概要 <i class="mdi mdi-arrow-down-circle" style="font-size:1em"></i>
              </a>

              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="nav-link" href="#vision">ミッション</a></li>
                <li><a class="nav-link" href="#top-message">トップ・メッセージ</a></li>
                <li><a class="nav-link" href="#overview">会社情報</a></li>
              </ul>
            </li>
                    
            <li class="nav-item">
              <a class="nav-link" href="/?#faq">FAQ</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/#contact">お問い合わせ</a>
            </li>
          </ul> <!--end navbar-nav-->
        </div> <!-- end d-none -->

        <div
          class="d-block d-lg-none ms-2 rounded-2"
          style="background-color:rgba(241, 236, 236, 0.95) !important;">

          <ul class="navbar-nav" id="navbar-navlist">
            <div class="row">
              <div class="col-3 ps-3 pe-0">
                <li class="nav-item"><a class="nav-link active" href="/?#home">HOME</a> </li>
              </div>
              <div class="col-3 px-0">
                <li class="nav-item"><a class="nav-link" href="#vision">ミッション</a></li>
              </div>
              <div class="col-3 px-0">
                <li class="nav-item"><a class="nav-link" href="#top-message">メッセージ</a></li>
              </div>
              <div class="col-3 px-0">
                <li class="nav-item"><a class="nav-link" href="#overview">会社情報</a></li>
              </div>

            </div>
          </ul>
            
        </div>

      </div><!--end collapse-->
    </div><!--end container-->
  </nav>
    
  <!-- END NAVBAR -->

  <!-- START HERO -->
  <section class="bg-blog">
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="text-center text-white">
            <h2 class="text-white fw-light">FIRST MISSION <span class="fw-semibold"> </span></h2>
            <p class="home-desc pt-3">日本の創るを支えるフリーランスとそれを支える企業のインフラとなる。</p>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>

  <!-- END HERO -->


  <section id="top-message" class="about section bg-light light-background">

    <div class="container">
      <div class="row gy-4">
        <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="text-center">
                <h3 class="text-secondary"><b>わたしたちのメッセージ</b></h3>
                <p class="text-muted"></p>
              </div>
            </div> <!--end col-->
          </div> <!--end row-->
    
        <div class="col-lg-5 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200">
          <img src="{% static 'images/top_message_image.jpg' %}" class="img-fluid" alt="">
          <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
        </div>

        <div class="col-lg-7 content mt-4" data-aos="fade-up" data-aos-delay="100">
          <p>
            これまでの人生における出会い・経験・気づきの結晶が私たちのサービスであり、そのサービスを通じて皆さま・社会への貢献を図っていきます。
          </p>
          <ul>
            <li>
              <i class="bi bi-people" style="color:deeppink"></i>
              <div>
                <h5>出会い</h5>
                <p>きっかけは知ったことでした。映画制作の現場において制作会社とフリーランスとの関係で、
                  契約が結ばれなかったり、報酬がまでの時間がかかったり、そんな事情があることを知ったことでした。
                </p>
              </div>
            </li>
            <li>
              <i class="bi bi-bookmarks" style="color:deeppink"></i>
              <div>
                <h5>経験</h5>
                <p>金融分野においての得たノウハウ、スタートアップビジネスに触れた経験、親しんできたプログラミングを活かして、
                  これらをかけ合わせてお役に立てる仕組みができると思い始めました。</p>
              </div>
            </li>
            <li>
              <i class="bi bi-stars" style="color:deeppink"></i>
              <div>
                <h5>新たな創造へ</h5>
                <p>SaaS（Software as a Service）でサービス提供することでデータからご利用者の行動が見えます。
                  そこにはニーズのマッチング、さらにはAIの活用があり、サービスの高度化や新しいサービス創造が見えてきます。
                </p>
              </div>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </section><!-- /About Section -->

  {% block overview %}
    {% include 'partials/overview.html' %}
  {% endblock %}

  {% block footer %}
    {% include 'partials/footer.html' %}
  {% endblock %}


  {% block switcher %}
    {% include 'partials/switcher.html' %}
  {% endblock %}

  <!--start back-to-top-->
  <button onclick="topFunction()" id="back-to-top">
    <i class="mdi mdi-arrow-up"></i>
  </button>
  <!--end back-to-top-->
        
  {% block javascript %}
  <!-- Bootstrap Bundale js -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        
  <!-- App js -->
  <script src="{% static 'js/app.js' %}"></script>
  {% endblock javascript %}

  </body>

</html>