{% extends "partials/base_qconnect.html" %}

{% block content %}
<p></p>
<div class="basicFont">

  <div class="authentication-bg min-vh-100">
    <div class="container">
      <div class="d-flex flex-column min-vh-100 px-3 pt-4">
        <div class="row justify-content-center my-auto">
          <div class="col-md-8 col-lg-6 col-xl-4">
    <p></p>
    <h5>ログイン</h5>
    <a href="{% url 'accounts:user_create_seller' %}">初めてのご利用の方はこちら</a>

    <form method="POST">
        {{ form.non_field_errors }}
        {% for field in form %}
            {{ field }}
            {{ field.errors }}
            <hr>
        {% endfor %}

        <button type="submit" class="btn btn-outline-primary" >ログインする</button>
        <input type="hidden" name="next" value="{{ next }}" />
        {% csrf_token %}
    </form>
</div>
{% endblock %}