{% extends "admin/index/base_qconnect.html" %}

{% block content %}

<div class="authentication-bg align-items-start">

  <div class="container">

    {% if messages %}
      <div class="messages row justify-content-center mt-2 mx-2">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} py-1 rounded-1 mb-0" role="alert">
            <span>{{ message }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <div id="loading">
      <div class="spinner-border text-primary"
        style="width: 3rem; height: 3rem;"
        role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <p class="mt-5">処理中です... しばらくお待ちください</p>
    </div>

    <nav class="bg-light rounded-3 mt-2 border-top shadow-sm"
      aria-label="breadcrumb" role="navigation">

      <ol class="breadcrumb px-2" style="font-size: 0.85rem !important">
        <li class="breadcrumb-item">
          <a href="{% url 'accounts:mypage_admin' %}">
          <i class="bi bi-house" style="font-size:1.2em; color:cornflowerblue;"></i>
          マイページトップ</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
          <a href="{% url 'accounts:infoEdit_admin' %}">
            <i class="bi bi-gear" style="font-size:1.2em; color:text-secondary;"></i>
            設定メニュー</a></li>
        <li class="breadcrumb-item" aria-current="page">
          <i class="bi bi-person-check" style="font-size:1.5em; color:text-secondary;"></i>
            参加承認
        </li>
      </ol>
    </nav>

    <div class="d-flex justify-content-center mt-5">
      <h5 class="text-secondary my-0"><b>ユーザーからの参加申請</b></h5>
      <i class="bi bi-envelope-open-fill ms-3" style="font-size:1.8em; color:deeppink;"></i>
    </div> 

    <div class="row justify-content-center mt-2">
      <div class="col-11 col-md-8 col-lg-6 col-xl-5">

        {% if loginUser.canApproveAll == True or loginUser.canApproveChg == True %}

          <!-- 承認者がメールからアプリに入る場合の処理 -->
          {% if request.session.flag_frWhere == 1 %}

            {% if applyUser.addStatus == 1 or applyUser.addStatus == -3 %}

              <form method="POST" action="{% url 'accounts:buyUserAdd_admin' %}"
                class="form-group border border-top shadow p-3 bg-light rounded"
                id="id_PostForm">

                {% csrf_token %}         
                {{ form.non_field_errors }}

                <table class="table table-sm bg-light bg-light
                  table-bordered border-primary-subtle table-responsive mb-1">
                  <tbody class="text-center" style="font-size: 0.9rem">

                    <tr>
                      <th scope="col" width="36%" class="table-primary" style="text-align:left;">
                        会社名</th>
                      <td style="text-align: right;">{{ applyUser.entity.entityname }}</td>
                    </tr>
                    <tr>
                      <th scope="col" width="36%" class="table-primary" style="text-align:left;">
                        代表者</th>
                      <td style="text-align: right;">{{ applyUser.entity.representitive }}</td>
                    </tr>
                    <tr>
                      <th scope="col" width="36%" class="table-primary" style="text-align:left;">
                        住所</th>
                      <td style="text-align: right; font-size: 0.8rem; word-break: break-all; ">
                        {{ applyUser.entity.zip_entity }}　
                        {{ applyUser.entity.address1 }}　
                        {{ applyUser.entity.address2 }}　
                        {{ applyUser.entity.address3 }}</td>
                    </tr>
                    <tr>
                      <th scope="col" width="36%" class="table-primary" style="text-align:left;">
                        会社電話号</th>
                      <td style="text-align: right;">{{ applyUser.entity.tel_entity }}</td>
                    </tr>
                  </tbody>
                </table>

                <table class="table table-sm bg-light
                  table-bordered border-primary-subtle table-responsive mb-1">
                  <tbody class="text-center" style="font-size: 0.9rem">

                    <tr class="table-info">
                      <th scope="col" width="36%" class="table-primary" style="text-align:left;">
                        承認状況</th>
                      <td style="text-align: right;">
                        {{ applyUser.addStatus_char }}</td>
                    </tr>
  
                    <tr>
                      <th scope="col" width="36%" class="table-primary" style="text-align:left;">
                        申請者</th>
                      <td style="text-align: right;">{{ applyUser.personname }}さん</td>
                    </tr>
                    <tr>
                      <th scope="col" width="36%" class="table-primary" style="text-align:left;">電話番号</th>
                      <td style="text-align: right;">{{ applyUser.tel_user }}</td></tr>
                      <tr>
                      <th scope="col" width="36%" class="table-primary" style="text-align:left;">所属部署</th>
                      <td style="text-align: right;">{{ applyUser.department }}</td></tr>
                    <tr>
                      <th scope="col" width="36%" class="table-primary" style="text-align:left;">役職</th>
                      <td style="text-align: right;">{{ applyUser.title }}</td></tr>
                  </tbody>
                </table>

                <table class="table table-sm bg-light table-bordered border-primary-subtle table-responsive">
                  <tbody class="text-center" style="font-size: 0.9rem">
                    <tr>
                      <th scope="col" td width="12%" rowspan="3" class="table-primary" style="text-align: left;">
                        権限</th>
                      <th width="24%" class="table-primary" style="text-align: left;">すべて</td>
                      <td style="text-align: right;">
                        {% if applyUser.canApproveAll %} 権限あり {% else %} 権限なし {% endif %}
                      </td></tr>
                    <tr>
                      <th width="24%" class="table-primary" style="text-align: left;">参加承認</th>
                      <td style="text-align: right;">
                        {% if applyUser.canApproveChg %} 権限あり {% else %} 権限なし {% endif %}
                      </td></tr>
                    <tr>
                      <th width="24%" class="table-primary" style="text-align: left;">
                        QPAY</th>                  
                      <td style="text-align: right;">
                        {% if applyUser.canApproveQpay %} 権限あり {% else %} 権限なし {% endif %}
                      </td>
                    </tr>

                  </tbody>
                </table>
        
                <div class="d-flex justify-content-center">

                  <button type="submit" class="btn btn-primary flex-grow-1 px-0 shadow"
                    name="next"
                    value="ToEditPermission_{{applyUser.id}}" >
                    ① 権限編集</button>

                  <button type="submit" class="btn btn-primary flex-grow-1 px-0 ms-1 shadow"
                    name="next"
                    value="ToApproveUser_{{applyUser.id}}" >
                    ② 承認　　</button>

                  <button type="submit" class="btn btn-outline-primary flex-grow-1 px-0 ms-1 shadow"
                    name="next"
                    value="ToRefuseUser_{{applyUser.id}}" >
                    否認　　</button> 
 
                </div>

              </form>

            {% endif %} <!-- if applyUser.addStatus == 1 or -3 -->

          {% endif %} <!-- request.session.flag_frWhere == 1 -->


          <!-- infoEdit.htmlから遷移して処理する場合 -->
          {% if request.session.flag_frWhere == 2 %}

            <form method="POST" action="{% url 'accounts:buyUserAdd_admin' %}"
              class="form-group border border-top shadow bg-light rounded mt-3 pt-3 pb-3 px-3"
              id="id_PostForm">

              {% csrf_token %}         

              {% for applyUser in applyUsers %}

                {% if forloop.first %}
                {% else %} <hr class="">
                {% endif %}

                <table class="table table-sm bg-light
                  table-bordered border-primary-subtle table-responsive mb-1">

                  <tbody class="text-center">
                    <tr>
                      <th scope="col" width="36%" class="table-primary" style="text-align:left;">
                        会社名</th>
                      <td style="text-align: right;">{{ applyUser.entity.entityname }}</td>
                    </tr>
                    <tr>
                      <th scope="col" width="36%" class="table-primary" style="text-align:left;">
                        代表者</th>
                      <td style="text-align: right;">{{ applyUser.entity.representitive }}</td>
                    </tr>
                    <tr>
                      <th scope="col" width="36%" class="table-primary" style="text-align:left;">
                        住所</th>
                      <td style="text-align: right; font-size: 0.85rem;">
                        {{ applyUser.entity.zip_entity }}　
                        {{ applyUser.entity.address1 }}　
                        {{ applyUser.entity.address2 }}　
                        {{ applyUser.entity.address3 }}</td>
                    </tr>
                    <tr>
                      <th scope="col" width="36%" class="table-primary" style="text-align:left;">
                        会社電話号</th>
                      <td style="text-align: right;">{{ applyUser.entity.tel_entity }}</td>
                    </tr>

                  </tbody>
                </table>

                <table class="table table-sm bg-light table-bordered border-primary-subtle table-responsive mb-1">
                  <tbody class="text-center">

                    <tr class="table-info">
                      <th scope="col" width="36%" class="table-primary" style="text-align:left;">
                        承認状況</th>
                      <td style="text-align: right;">{{ applyUser.addStatus_char }}</td></tr>

                    <tr>
                      <th scope="col" width="36%" class="table-primary" style="text-align:left;">
                        申請者</th>
                      <td style="text-align: right;">{{ applyUser.personname }}さん</td></tr>
 
                    <tr>
                      <th scope="col" width="36%" class="table-primary" style="text-align:left;">電話番号</th>
                      <td style="text-align: right;">{{ applyUser.tel_user }}</td></tr>
                      <tr>
                      <th scope="col" width="36%" class="table-primary" style="text-align:left;">所属部署</th>
                      <td style="text-align: right;">{{ applyUser.department }}</td></tr>
                    <tr>
                      <th scope="col" width="36%" class="table-primary" style="text-align:left;">役職</th>
                      <td style="text-align: right;">{{ applyUser.title }}</td></tr>
                  </tbody>
                </table>

                <table class="table table-sm bg-light table-bordered border-primary-subtle table-responsive">
                  <tbody class="text-center">
                    <tr>
                      <th scope="col" td width="12%" rowspan="3" class="table-primary" style="text-align: left;">
                        権限</th>
                      <th width="24%" class="table-primary" style="text-align: left;">
                        すべて</td>
                      <td style="text-align: right;">
                        {% if applyUser.canApproveAll %} 権限あり {% else %} 権限なし {% endif %}
                      </td></tr>
                    <tr>
                      <th width="24%" class="table-primary" style="text-align: left;">
                        各種変更</th>
                      <td style="text-align: right;">
                        {% if applyUser.canApproveChg %} 権限あり {% else %} 権限なし {% endif %}
                        </td></tr>
                    <tr>
                      <th width="24%" class="table-primary" style="text-align: left;">
                        QPAY</th>                  
                      <td style="text-align: right;">
                        {% if applyUser.canApproveQpay %} 権限あり {% else %} 権限なし {% endif %}
                      </td>
                    </tr>

                  </tbody>
                </table>

                <div class="d-flex justify-content-center pb-2">

                  <button type="submit" class="btn btn-outline-primary flex-grow-1 px-0 shadow"
                    name="next"
                    value="ToRefuseUser_{{applyUser.id}}" >
                    否認　　</button>  

                    <button type="submit" class="btn btn-primary flex-grow-1 px-0 ms-1 shadow"
                    name="next"
                    value="ToEditPermission_{{applyUser.id}}" >
                    ① 権限編集</button>

                  <button type="submit" class="btn btn-primary flex-grow-1 px-0 ms-1 shadow"
                    name="next"
                    value="ToApproveUser_{{applyUser.id}}" >
                    ② 承認　　</button>


                </div>

              {% empty %}

                <div class="row justify-content-center mt-5">
                  対象データがありません。
                </div>

              {% endfor %}

            </form>
          
          {% endif %} <!-- end if request.session.flag_frWhere == 2  -->
        
        {% else %}

          <div class="row justify-content-center text-secondary mt-5">
            あなたは承認権限者ではありません。
          </div>

        {% endif %} <!-- end loginUser.canApproveAll orcanApproveChg == True -->

      </div>
    </div>
  </div>
</div>  

<style>
  .active-underline {
    text-decoration: underline !important; 
    /* Bootstrapのスタイルを上書きするために!importantを使用する場合がある */
  }
</style>

{% endblock %}

{% block extrajs %}

<script>
//「defer」は、HTMLの解析と並行してJavaScriptの読み込みを裏側で進め、
// HTMLの読み込み（パース）がすべて完了してからスクリプトを実行します。
//deferを指定しない場合、ブラウザはJavaScriptの読み込みと実行が終わるまで
// HTMLの読み込みを一時停止

document.addEventListener('DOMContentLoaded', function() {

  console.log('DOMContentLoaded in buyUserAdd_admin.html が認識されました');


  console.log('setTimeoutが認識前');
  // 3秒後にメッセージを消す
  setTimeout(function() {
    console.log('setTimeoutが認識されました');

    var messages = document.querySelectorAll('.messages div');
    messages.forEach(function(message) {
      message.style.display = 'none';
    });
  }, 3000); // 3000ミリ秒 = 3秒


  // Submitボタンを押下後「しばらくお待ちください。」を表示する
  const postForm = document.getElementById('id_PostForm');
  if (postForm) {
    postForm.addEventListener('submit', function() {
      const loadingEl = document.getElementById('loading');
      if (loadingEl) {
        loadingEl.style.display = 'block';
      }
    });
  }


});

</script>

{% endblock %}