{% extends "admin/index/base_qconnect.html" %}

{% load bootstrap_icons %}
{% load humanize %}

{% block content %}

<div class="authentication-bg align-items-start">

  <div class="container">

    {% if messages %}
      <div class="messages row justify-content-center mt-2 mx-2">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} py-1 rounded-1 mb-0" role="alert">
            <span>{{ message }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <nav class="mt-2 bg-light border-top shadow-sm rounded-3"
      aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb px-2" style="font-size: 0.85rem !important">
        <li class="breadcrumb-item"><a href="{% url 'accounts:mypage_admin' %}">
          {% bs_icon 'house' color='cornflowerblue' size='1.2em' %}
          マイページトップ</a></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts:infoEdit_admin' %}">
          {% bs_icon 'gear' color='cornflowerblue' size='1.2em' %}
          設定メニュー</a></li>
        <li class="breadcrumb-item">
          {% bs_icon 'pencil-square' color='text-secondary' size='1.2em' %}
          会社情報の更新承認</li>
      </ol>
    </nav>

    <div id="loading">
      <div class="spinner-border text-primary"
        style="width: 3rem; height: 3rem;"
        role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <p class="mt-5">処理中です... しばらくお待ちください</p>
    </div>


    {% if step_process == 1 %}

      <div class="d-flex justify-content-center mt-5">
        <h5 class="text-secondary pt-1"><b>会社情報更新の承認</b></h5>
        <span class="ms-3">
          {% bs_icon 'inbox-fill' color='deeppink' size='2.2em' %}
        </span>
      </div>

      <div class="d-block d-lg-none mx-4">

        <div class="row justify-content-center mt-2">
          <div class="col-md-8 col-lg-6">

          <form method="POST" class="bg-light border-top shadow p-4 rounded-1"
            id="id_PostForm">

            <!-- style="background-color: transparent !important; border-color:transparent !important;" -->
            {% csrf_token %}

            {% for item in page_obj %}

              <div class="d-flex gap-1 justify-content-end my-0">

                <button type="submit" class="btn btn-outline-primary bg-light rounded-3 shadow-sm py-0"
                  style="width: 100px"
                  name="actionBtn"
                  value="ToSendback1_{{item.id}}"
                  {% if item.status == 2 %} disabled {% endif %}>
                  差戻</button>

                <button type="submit" class="btn btn-outline-primary shadow-sm rounded-3 py-0"
                  style="width: 100px"
                  name="actionBtn"
                  value="ToApproveUpdate_{{item.id}}">
                  承認</button>

              </div>

              <table 
                class="table table-sm table-white
                  table-bordered border-primary-subtle
                  shadow-sm table-responsive mt-1 mb-0">

                <thead style="font-size:0.9rem">
                </thead>

                <tbody style="font-size:0.9rem">

                  <tr class="table-primary" style="text-align:center;">
                    <td colspan="2" style="vertical-align:top; background-color: #254d74; color: white;">
                      <b>変更前</b></td>
                  </tr>
  
                  <tr style="text-align:center;">
                    <td colspan="1" class="table-primary"
                      style="text-align:left; vertical-align:top">
                      <b>　申請法人</b></td>
                    <td colspan="1" style="text-align:center">
                      {{ item.applyEntity.entityname }}</td>
                  </tr>
  
                  <tr style="text-align:center;">
                    <td class="table-primary" colspan="1"
                      style="text-align:left; vertical-align:middle">
                      <b>　代表者</b></td>
                    <td colspan="1" style="text-align:center">
                      {{ item.applyEntity.representitive }}</td>            
                  </tr>

                  <tr>
                    <td  class="table-primary" colspan="1"
                      style="text-align:left; vertical-align:middle">
                      <b>　住所</b></td>
                    <td colspan="1" style="text-align:center">
                      {{ item.applyEntity.zip_entity }}<br>
                      {{ item.applyEntity.address1 }}
                      {{ item.applyEntity.address2 }}<br>
                      {{ item.applyEntity.address3 }}</td>
                  </tr>

                  <tr class="table-primary" style="text-align:center;">
                    <td colspan="2" style="vertical-align:top; background-color: #254d74; color: white;">
                      <b>変更後</b></td>
                  </tr>
                  <tr>
                    <td class="table-primary" colspan="1"
                      style="text-align:left; vertical-align:middle">
                      <b>　申請法人</b></td>
                    <td colspan="1" style="text-align:center">
                      {{ item.entityname }}</td>
                  </tr>

                  <tr>
                    <td class="table-primary" colspan="1"
                      style="text-align:left; vertical-align:middle">
                      <b>　代表者</b></td>
                    <td colspan="1" style="text-align:center">
                      {{ item.representitive }}</td>
                  </tr>
                  <tr>
                    <td class="table-primary" colspan="1"
                      style="text-align:left; vertical-align:middle">
                      <b>　住所</b></td>
                    <td colspan="2" style="text-align:center">
                      {{ item.zip_entity }}<br>
                      {{ item.address1 }}
                      {{ item.address2 }}<br>
                      {{ item.address3 }}</td>
                  </tr>

                  <tr>
                    <td colspan="1"
                      class="table-primary"
                      style="text-align:left; vertical-align:middle;">
                      <b>　証明書類</b></td>
                    <td colspan="1" style="text-align:center; vertical-align:middle;">
                      <img src="{{ item.evidence.url }}"
                        class="img-fluid"
                        style="max-height:49; width:auto; cursor:zoom-in;"
                        data-bs-toggle="modal"
                        data-bs-target="#imageModal{{ forloop.counter }}"/>
                    </td>
                  </tr>

                  <!-- モーダル・ダイアログ -->
                  <div class="modal fade"
                    id="imageModal{{ forloop.counter }}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog"> <!-- modal-sm/lg/xl/xxl 指定なしは「medium」 -->
                      <div class="modal-content">
                        <div class="modal-header">
                          <h6 class="modal-title">証明書類</h6>
                          <!-- 閉じるボタン: data-bs-dismiss="modal" が重要 -->
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <img src="{{ item.evidence.url }}" class="img-fluid" alt="拡大画像">
                        </div>
                      </div>
                    </div>
                  </div> 

                </tbody>
              </table>

            {% empty %}
              <div class="text-center">
                <span class="text-secondary">
                  承認対象のデータはありません。</span>
              </div>
              
            {% endfor %}

            <input type="hidden" name="page_number" value="{{ page_number }}" />

          </form>
          </div>
        </div> <!-- end row -->

      </div>

      <div class="d-none d-lg-block mx-4">

        <div class="row justify-content-center mt-3">
          <div class="col-md-8 col-lg-6">

          <form method="POST" class="bg-light border-top shadow p-4 rounded-1"
            id="id_PostForm">

            <!-- style="background-color: transparent !important; border-color:transparent !important;" -->
            {% csrf_token %}

            {% for item in page_obj %} 

              <div class="d-flex gap-1 justify-content-end">

                <button type="submit" class="btn btn-outline-primary bg-light rounded-3 shadow-sm py-0"
                  style="width: 100px"
                  name="actionBtn"
                  value="ToSendback1_{{item.id}}" >
                  差戻</button>

                <button type="submit" class="btn btn-outline-primary shadow-sm rounded-3 py-0"
                  style="width: 100px"
                  name="actionBtn"
                  value="ToApproveUpdate_{{item.id}}">
                  承認</button>

              </div>

              <table 
                class="table table-sm
                  table-bordered
                  border-primary-subtle
                  table-responsive mt-1 mb-0">

                <thead style="font-size:0.9rem">
                </thead>

                <tbody style="font-size:0.9rem">

                  <tr class="table-primary mt-2" style="text-align:center;">
                    <td colspan="2" style="vertical-align:top; background-color: #254d74; color: white;">
                      <b>変更前</b></td>
                  </tr>
  
                  <tr style="text-align:center;">
                    <td colspan="1" class="table-primary"
                      style="text-align:center; vertical-align:top">
                      <b>申請法人</b></td>
                    <td colspan="1" style="text-align:center">
                      {{ item.applyEntity.entityname }}</td>
                  </tr>
  
                  <tr style="text-align:center;">
                    <td class="table-primary" colspan="1"
                      style="text-align:center; vertical-align:middle">
                      <b>代表者</b></td>
                    <td colspan="1" style="text-align:center">
                      {{ item.applyEntity.representitive }}</td>            
                  </tr>

                  <tr>
                    <td class="table-primary" colspan="1"
                      style="text-align:center; vertical-align:middle">
                      <b>住所</b></td>
                    <td colspan="1" style="text-align:center">
                      {{ item.applyEntity.zip_entity }}<br>
                      {{ item.applyEntity.address1 }}
                      {{ item.applyEntity.address2 }}<br>
                      {{ item.applyEntity.address3 }}</td>
                  </tr>

                  <tr class="table-primary" style="text-align:center;">
                    <td colspan="2" style="vertical-align:top; background-color: #254d74; color: white;">
                      <b>変更後</b></td>
                  </tr>
                  <tr>
                    <td class="table-primary" colspan="1"
                      style="text-align:center; vertical-align:middle">
                      <b>申請法人</b></td>
                    <td colspan="1" style="text-align:center">
                      {{ item.entityname }}</td>
                  </tr>

                  <tr>
                    <td class="table-primary" colspan="1"
                      style="text-align:center; vertical-align:middle">
                      <b>代表者</b></td>
                    <td colspan="1" style="text-align:center">
                      {{ item.representitive }}</td>
                  </tr>
                  <tr>
                    <td class="table-primary" colspan="1"
                      style="text-align:center; vertical-align:middle">
                      <b>住所</b></td>
                    <td colspan="2" style="text-align:center">
                      {{ item.zip_entity }}<br>
                      {{ item.address1 }}
                      {{ item.address2 }}<br>
                      {{ item.address3 }}</td>
                  </tr>

                  <tr>
                    <td colspan="1"
                      class="table-primary"
                      style="text-align:center; vertical-align:middle;">
                      <b>証明書類</b></td>
                    <td colspan="1" style="text-align:center; vertical-align:middle;">
                      <img src="{{ item.evidence.url }}"
                        class="img-fluid"
                        style="max-height:49; width:auto; cursor:zoom-in;"
                        data-bs-toggle="modal"
                        data-bs-target="#imageModal{{ forloop.counter }}"/>
                    </td>
                  </tr>

                  <!-- モーダル・ダイアログ -->
                  <div class="modal fade"
                    id="imageModal{{ forloop.counter }}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog"> <!-- modal-sm/lg/xl/xxl 指定なしは「medium」 -->
                      <div class="modal-content">
                        <div class="modal-header">
                          <h6 class="modal-title">証明書類</h6>
                          <!-- 閉じるボタン: data-bs-dismiss="modal" が重要 -->
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <img src="{{ item.evidence.url }}" class="img-fluid" alt="拡大画像">
                        </div>
                      </div>
                    </div>
                  </div> 

                </tbody>
              </table>

            {% empty %}
              <div class="text-center">
                <span class="text-secondary">
                  承認対象のデータはありません。</span>
              </div>
              
            {% endfor %}

            <input type="hidden" name="page_number" value="{{ page_number }}" />

          </form>

          </div>

        </div> <!-- end row -->
      </div> <!-- end d-none -->

      {% include "partials/pagination.html" %}

    {% endif %}


    {% if step_process == 2 %}

      <div class="d-flex justify-content-center mt-5">
        <h5 class="text-secondary pt-1"><b>申請の差戻</b></h5>
        <span class="ms-3">
          {% bs_icon 'inbox-fill' color='deeppink' size='2.2em' %}
        </span>
      </div>


      <div class="row justify-content-center mt-3">
        <div class="col-md-8 col-lg-6">

          <form method="POST"
            action="{% url 'accounts:corpInfoUpdate_admin' %}"
            class="form-group bg-light border border-top shadow-sm rounded-2 p-3 mb-0"
            id="id_PostForm">
            {% csrf_token %}

            <div class="mx-4">

              <div class="d-flex mt-2">
                <span class="mt-1">{% bs_icon 'bookmark-check-fill' color='deeppink' size='1.2rem' %}</span>
                <span class="ms-2" style="font-size:1.1rem">
                  <b>差戻の理由</b></span>
              </div>

              {% if form.sendbackReason_radio.errors %}
                <span style="color:red;">
                  {{ form.sendbackReason_radio.errors.as_text }}</span>
              {% endif %}

              <div class="ms-4" id="id_radioGroup">
                <div class="form-check mt-3">
                  <input class="form-check-input" type="radio"
                    name="{{form.sendbackReason_radio.name}}"
                    id="radio1" value="入力に誤りがある">
                  <label class="form-check-label" for="radio1">
                    入力に誤りがある
                  </label>
                </div>

                <div class="form-check mt-2">
                  <input class="form-check-input" type="radio"
                    name="{{form.sendbackReason_radio.name}}"
                    id="radio2" value="証明書類が適切でない">
                  <label class="form-check-label" for="radio2">
                    証明書類が適切でない
                  </label>
                </div>

                <div class="form-check mt-2">
                  <input class="form-check-input" type="radio"
                    name="{{form.sendbackReason_radio.name}}"
                    id="radio3" value="画像の写りが不十分">
                  <label class="form-check-label" for="radio3">
                    画像の写りが不十分
                  </label>
                </div>

                <div class="form-check mt-2">
                  <input class="form-check-input" type="radio"
                    name="{{form.sendbackReason_radio.name}}"
                    id="radio4"
                    value="その他">
                  <label class="form-check-label" for="radio4">
                    その他
                  </label>
                </div>
                <span id="id_addition_sendbackReason" style="display:none;">

                  <input type="text" class='form-control'
                    name='{{form.sendbackReason_text.name}}'
                    value="{{form.sendbackReason_text.value| default:''}}"
                    placeholder="差戻の理由を記載">
                </span>

              </div>

              <div class="mt-4 mb-2">
                <label for="textarea" class="d-flex form-label">
                  <span>{% bs_icon 'envelope-fill' color='deeppink' size='1.5rem' %}</span>
                  <span class="ms-2" style="font-size:1.1rem;">
                    <b>申請者へのメッセージ</b>（任意）</span>
                </label>
                <textarea class="form-control" id="textarea" rows="3"
                  name="{{form.sendbackMessage.name}}"
                  value="{{form.sendbackMessage.value| default:''}}"></textarea>
              </div>

              <hr>

              <div class="d-flex gap-1">

              <a href="{% url 'accounts:corpInfoUpdate_admin' corpInfo_id %}"
                type="button" class="btn btn-outline-primary w-50 shadow-sm">
                戻る</a>

                <button type="submit"
                class="btn btn-primary w-50 shadow-sm"
                name="actionBtn"
                value="ToSendback2_{{corpInfo_id}}">
                差戻を実行</button>

              </div>

            </div>


            <!--
            <div class="ms-5">
              {% for field in FeedbackForm %}
                <div class="mb-2">
                  {{ field }}
                  {{ field.errors }}
                </div>
              {% endfor %}
            </div>
            -->

          </form>
        </div>
      </div>

    {% endif %}



  </div> <!-- end contaiaer -->
</div>

{% endblock %}


{% block extrajs %}

<script defer>
//「defer」は、HTMLの解析と並行してJavaScriptの読み込みを裏側で進め、
// HTMLの読み込み（パース）がすべて完了してからスクリプトを実行します。
//deferを指定しない場合、ブラウザはJavaScriptの読み込みと実行が終わるまで
// HTMLの読み込みを一時停止

document.addEventListener('DOMContentLoaded', function() {

    console.log('スクリプトは認識しているようです。');

    var Radio1 = document.getElementById('radio1');
    var Radio2 = document.getElementById('radio2');
    var Radio3 = document.getElementById('radio3');
    var Radio4 = document.getElementById('radio4');
    var addition_sendbackReason = document.getElementById('id_addition_sendbackReason');

    // 修正後（すべてのラジオボタンを監視する）
    document.querySelectorAll('input[name="sendbackReason_radio"]').forEach(function(radio) {
      radio.addEventListener('change', function() {
        addition_sendbackReason.style.display = "none";
        console.log('radioが変わったことを認識しています。');
        if (Radio4.checked) {
            addition_sendbackReason.style.display = "block";
        }
      });
    });

    console.log('setTimeoutが認識前');
    // 3秒後にメッセージを消す
    setTimeout(function() {
      console.log('setTimeoutが認識されました');

      var messages = document.querySelectorAll('.messages div');
      messages.forEach(function(message) {
        message.style.display = 'none';
      });
    }, 3000); // 3000ミリ秒 = 3秒


    // Submitボタンを押下後「しばらくお待ちください。」を表示する
    document.getElementById('id_PostForm').addEventListener('submit', function() {
      document.getElementById('loading').style.display = 'block';
    });

  });

  
</script>

{% endblock %}
