{% extends "admin/index/base_qconnect.html" %}

{% load bootstrap_icons %}

{% block content %}

<div class="authentication-bg min-vh-100 min-vw-100 align-items-start">

  <div class="container">

    <div class="row justify-content-center mt-1">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} py-2 rounded-1" role="alert">
          <span>{{ message }}</span>
        </div>
      {% endfor %}
    </div>

    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb bg-light-subtle px-2 rounded-3 mt-1">
        <li class="breadcrumb-item"><a href="{% url 'accounts:mypage_admin' %}">
          {% bs_icon 'house' color='cornflowerblue' size='1.2em' %}
          マイページトップ</a></li>
        <li class="breadcrumb-item"><a href="#">
          {% bs_icon 'gear' color='cornflowerblue' size='1.2em' %}
          設定メニュー</a></li>
      </ol>
    </nav>

    <div class="d-flex justify-content-center mt-5 mb-3">
      <h5 class="text-secondary"><b>設定メニュー　</b></h5>
      {% bs_icon 'gear-fill' color='cornflowerblue' size='2.0em' %}
    </div>

    <div class="bg-light border border-success-subtle rounded p-5 mx-3">

      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3" >

        <form method="GET" action="{% url 'accounts:passwordChange_admin' %}">
          {% csrf_token %}

          <button type="submit"
            class="MenuBtn2 color-9 w-100 rounded-1 shadow"
            name="next"
            value="History">
            
            <span class="MenuBtn2IconCircle pt-1">
              <i class="bi bi-pencil-square" style="font-size:2.0em; color:cornflowerblue"></i>
            </span>
            登録情報変更
          </button>
        </form>

        <form method="GET" action="{% url 'accounts:passwordChange_admin' %}">
          {% csrf_token %}

          <button type="submit"
            class="MenuBtn2 color-9 w-100 rounded-1 shadow"
            name="next"
            value="History">
            
            <span class="MenuBtn2IconCircle">
              <i class="bi bi-key" style="font-size:2.2em; color:cornflowerblue"></i>
            </span>
            パスワード変更
          </button>
        </form>

        <form method="GET" action="{% url 'accounts:permissionSets_admin' %}">
          {% csrf_token %}
            
          <button type="submit"
            class="MenuBtn2 color-9 w-100 rounded-1 shadow"
            name="next"
            value="Permission">

            <span class="MenuBtn2IconCircle">
              <i class="bi bi-people" style="font-size:2.2em; color:cornflowerblue"></i>
            </span>
            ユーザー権限設定

          </button>

        </form> <!-- end col -->
    
      </div> <!-- end row row-cols-->
    </div>
  </div> <!-- end container-->
</div>


{% endblock %}