{% extends "index/base_qconnect_admin.html" %}

{% load bootstrap_icons %}

{% block content %}

<div class="authentication-bg min-vh-100 min-vw-100 align-items-center">

  <div class="container">

    <div class="row justify-content-center mt-1">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} py-2 rounded-1" role="alert">
          <span>{{ message }}</span>
        </div>
      {% endfor %}
    </div>

    <div class="d-flex flex-column">
      <div class="row justify-content-center px-4">
        <div class="col-md-8 col-lg-6 col-xl-5">

          <div class="d-flex justify-content-center pb-3">
            <h3 class="text-black">{% bs_icon 'clouds' color='cornflowerblue' size='1.5em' %} Welcome to Qnee Connect !</h3>
          </div>

          <p></p>
          <h5>スタッフ・ログイン</h5>

          <form method="POST"
            action="{% url 'accounts:login_admin' %}"
            class="form-group bg-light border border-success-subtle rounded-2 p-3 mb-0 ">

            {{ form.non_field_errors }}
            {% for field in form %}
              {{ field }}
              {{ field.errors }}
              <hr>
            {% endfor %}

            <button type="submit" class="btn btn-primary w-100 shadow" >ログインする</button>
            <input type="hidden" name="next" value="{{ next }}" />
            {% csrf_token %}
          </form>     

          <div class="d-flex justify-content-end mt-1">
            <a href="{% url 'accounts:passwordReset_admin' %}" class="icon-link">
              <i class="bi bi-question-diamond-fill mt-1" style="font-size:1.1em; color:cornflowerblue;"></i>
              パスワードを忘れた方
            </a>
          </div>

          <h5>スタッフ登録</h5>

          <form method="GET"
            action="{% url 'accounts:userCreate_admin' %}"
            class="form-group bg-light border border-success-subtle rounded p-4 mb-3 ">

            <button type="submit" class="btn btn-primary w-100 shadow" >登録する</button>
            <input type="hidden" name="next" value="{{ next }}" />
            {% csrf_token %}
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}