{% extends "index/base_qconnect_admin.html" %}

{% load bootstrap_icons %}

{% block content %}

<div class="authentication-bg min-vh-100 min-vw-100 align-items-start">

  <div class="container">

    <div class="row justify-content-center mt-1">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} py-2 rounded-1" role="alert">
          <span>{{ message }}</span>
        </div>
      {% endfor %}
    </div>


    <div class="d-flex justify-content-center pt-4 pb-2">
      <h5 class="text-secondary pt-1">
      <b>操作メニュー　</b></h5>
      {% bs_icon 'menu-app' color='hotpink' size='2.5em' %}
    </div>

    <div class="d-block d-lg-none">

      <div class="row justify-content-center mt-20 mx-3">
        <div class="col-md-10">

          <form method="GET" action="{% url 'qpay:txApprove_buyer' %}" class="mt-3">
            {% csrf_token %}

            <button type="submit"
              class="MenuBtn1 color-9"
              name="next"
              value="ApplyQpay">

              <span class="MenuBtn1IconCircle pt-2">
                <i class="bi bi-inbox" style="font-size:2.0em; color:cornflowerblue"></i>
              </span>
              <span class="MenuBtn1Text">
                <h5>　振込対応</h5>
              </span>
              
            </button>
          </form>
        </div> <!-- end of col -->
      </div> <!-- end of row -->

      <div class="row justify-content-center mt-1 mx-3">
        <div class="col-md-10">

          <form method="GET" action="{% url 'send:taskAgent' %}" class="mt-3">
            {% csrf_token %}

            <button type="submit"
              class="MenuBtn1 color-9"
              name="next"
              value="Send">

              <span class="MenuBtn1IconCircle pt-2">
                <i class="bi bi-envelope" style="font-size:2.0em; color:cornflowerblue"></i>
              </span>
              <span class="MenuBtn1Text">
                <h5>　タスク運用</h5>
              </span>

            </button>
          </form>

        </div> <!-- end of col -->
      </div> <!-- end of row -->

      <div class="row justify-content-center mt-1 mx-3">
        <div class="col-md-10">

          <form method="GET" action="{% url 'accounts:infoEdit_admin' %}" class="mt-3">
            {% csrf_token %}

            <button type="submit"
              class="MenuBtn1 color-9"
              name="next"
              value="InfoEdit">

              <span class="MenuBtn1IconCircle pt-2">
                <i class="bi bi-gear" style="font-size:2.0em; color:cornflowerblue;"></i>
              </span>
              <span class="MenuBtn1Text">
                <h5>　設定・承認</h5>
              </span>

              {% if cnt_toBeApproved_add >= 1 %}

                <span class="badge bg-danger text-light rounded-1 mb-1">
                  {{ cnt_toBeApproved_add }}
                </span>
                <span class="visually-hidden">未承認データ</span>
              {% endif %}
            </button>
          </form>

        </div> <!-- end of col -->
      </div> <!-- end of row -->
    </div>

    <div class="d-none d-lg-block">

      <!-- row-cols-md-3が前の項を上書きを行っている -->
      <div class="row justify-content-center mx-4">
        <div class="col-md-10">

          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 text-center" >

            <div class="col mt-4">
              <div class="card rounded-2 shadow">
                <div class="card-header py-2">
                  <h5 class="my-0 w-normal">
                    振込処理
                  </h5>
                </div>

                <div class="card-body shadow pb-0">
                  {% bs_icon 'inbox' color='cornflowerblue' size='2.5em' %}

                  <form method="GET" action="{% url 'qpay:txApprove_buyer' %}" class="mt-3">
                    {% csrf_token %}
                    <button type="submit"
                      class="w-100 shadow btn btn-outline-primary btn-sm"
                      name="next"
                      value="ApproveQpay">
                      処理へ
                      {% if cnt_toBeApproved_qpay >= 1 %}
                        <span class="badge bg-danger text-light rounded-1 ms-1">
                          {{ cnt_toBeApproved_qpay }}
                        </span>
                        <span class="visually-hidden">未振込データ</span>
                      {% endif %}
                    </button>
                  </form>
                </div>
              </div>
            </div>

            <div class="col mt-4">
              <div class="card rounded-2 shadow">
                <div class="card-header py-2">
                  <h5 class="my-0 fw-normal">
                    タスク運用
                  </h5>
                </div>

                <div class="card-body shadow pb-0">
                  {% bs_icon 'envelope' color='cornflowerblue' size='2.5em' %}

                  <form method="GET" action="{% url 'send:servInfoMailSets' %}" class="mt-3">
                    {% csrf_token %}
                    <button type="submit"
                      class="w-100 shadow btn btn-outline-primary btn-sm"
                      name="next"
                      value="Send">操作へ</button>
                  </form>
                </div>

              </div>
            </div>

            <div class="col mt-4">
              <div class="card rounded-2 shadow">
              <!-- <div class="card mb-4 rounded-3 shadow-sm border-primary"> -->
                <div class="card-header py-2"> 
                <!-- <div class="card-header py-3 text-bg-primary border-primary"> -->
                  <h5 class="my-0 fw-normal">設定・承認</h5>
                </div>
                <div class="card-body shadow pb-0">
                  {% bs_icon 'pencil-square' color='cornflowerblue' size='2.5em' %}

                  <form method="GET" action="{% url 'accounts:infoEdit_buyer' %}" class="mt-3">
                    {% csrf_token %}
                    <button type="submit" class="w-100 shadow btn btn-outline-primary btn-lg"
                      name="next"
                      value="myinfo">
                      各種処理へ</button>
                    <!-- <button type="button" class="w-100 btn btn-lg btn-primary">手続きへ</button> -->
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div> <!-- end of col -->
      </div> <!-- end of row -->

    </div> <!-- end of d-noe d-lg-block -->

  </div>

</div>

{% endblock %}