{% extends 'admin/index/base_qconnect.html' %}

{% load bootstrap_icons %}

{% block content %}

<div class="authentication-bg min-vh-100 min-vw-100 align-items-start">

  <div class="container">

    <div class="row justify-content-center mt-2">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} py-2 rounded-1" role="alert">
          <span>{{ message }}</span>
        </div>
      {% endfor %}
    </div>

    <!--
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb bg-light-subtle px-2 rounded-3 mt-1">
        <li class="breadcrumb-item"><a href="{% url 'accounts:mypage_admin' %}">
          {% bs_icon 'house' color='cornflowerblue' size='1.2em' %}
          マイページトップ</a></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts:infoEdit_admin' %}">
          {% bs_icon 'gear' color='cornflowerblue' size='1.2em' %}
          設定メニュー</a></li>
        <li class="breadcrumb-item" aria-current="page">パスワード再設定</li>
      </ol>
    </nav>
    -->

    <div class="row justify-content-center mt-5 mx-4">
      <div class="col-md-8 col-lg-6 col-xl-5">

        <div class="d-flex justify-content-start mt-4">
          <i class="bi bi-envelope-at" style="font-size:1.8em; color:hotpink;"></i>
          <h5 class="text-secondary ms-3"><b>パスワード再設定用のメール送信</b></h5>
        </div>
 
        <form method="POST" class="mt-4" action="" >

          {% csrf_token %}

          {{ form.non_field_errors }}

          <div class="row justify-content-start text-secondary ms-2 mt-5">
              あなたのメールアドレスを入力してください。
          </div>

          {% if form.email.errors %}
            <div style="color:red;">{{ form.email.errors.as_text }}<br></div>        
          {% endif %}

          <input type='form.email.widget.input_type' class='form-control'
            name="{{form.email.name}}"
            value="{{form.email.value|default:''}}"
            placeholder=""
            id="{{form.email.id_for_label}}" >

          <br/>

          <button type="submit" class="btn btn-primary btn-lg">送信</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}