{% extends "admin/index/base_qconnect.html" %}

{% load bootstrap_icons %}
{% load humanize %}

{% block content %}


<div class="authentication-bg align-items-start">

  <div class="container">
    {% if messages %}
      <div class="messages row justify-content-center mt-2 mx-2">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} py-2 rounded-1 mb-0" role="alert">
            <span>{{ message }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <nav class="mt-2 bg-light rounded-3 border-top shadow-sm" aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb px-2">
        <li class="breadcrumb-item">
          <a href="{% url 'accounts:mypage_admin' %}">
            <i class="bi bi-house" style="font-size:1.2em; color:cornflowerblue;"></i>
            マイページトップ</a></li>
        <li class="breadcrumb-item" aria-current="page">
          <a href="{% url 'accounts:infoEdit_admin' %}">
            <i class="bi bi-gear" style="font-size:1.2em; color:text-secondary;"></i>
            設定メニュー</a></li>
        <li class="breadcrumb-item" aria-current="page">ユーザー権限一覧</li>
      </ol>
    </nav>

    <div class="d-flex justify-content-center mt-5">
      <h5 class="text-secondary"><b>ユーザー権限一覧</b></h5>
      <i class="bi bi-files ms-3" style="font-size:1.8em; color:deeppink;"></i>
    </div>

    <div class="row justify-content-center mt-2">
    
      <div class="col-11 col-md-8 col-lg-6 col-xl-5">

        <form method="POST"
          class="border border-top shadow-sm p-3 bg-light rounded">
          {% csrf_token %}

          <div class="d-flex justify-content-end">

            {% if loginUser.canApproveAll == True %}
              <button type="submit"
                class="btn btn-outline-primary bg-light py-1 rounded-3"
                name="next1" value="Edit_{{loginUser.id}}">
                権限を編集</button>
            {% else %}
              <span class="d-inline-block" tabindex="0"
                data-bs-toggle="tooltip"
                data-ba-placement="top"
                title="編集権限がありません">
                <button type="submit"
                  class="btn btn-outline-primary bg-light py-1 rounded-3"
                  name="next1" value="Edit_{{loginUser.id}}" disabled>
                  権限を編集</button>
              </span>
            {% endif %}
          </div>


          <table class="table table-sm bg-white
            table-bordered border-primary-subtle
            shadow-sm table-responsive mt-1 mb-1">

            <tbody class="text-center">
              <tr>
                <th scope="col" width="40%" colspan="2" class="table-primary" style="text-align: left;">申請者</th>
                <td style="text-align: right;">{{ loginUser.userName }}さん</td></tr>
              <tr>
                <th scope="col" width="40%" colspan="2" class="table-primary" style="text-align: left;">
                  メール</th>
                <td width="60%" style="text-align: right; font-size: 0.8rem; word-break: break-all;">
                  {{ loginUser.email }}</td></tr>

                <tr>
                <th scope="col"width="40%" colspan="2" class="table-primary" style="text-align: left;">電話番号</th>
                <td style="text-align: right;">{{ loginUser.tel_user }}</td></tr>
              <tr>
                <th scope="col" width="40%" colspan="2" class="table-primary" style="text-align: left;">所属部署</th>
                <td style="text-align: right;">{{ loginUser.department }}</td></tr>
              <tr> 
                <th scope="col"  width="40%" colspan="2" class="table-primary" style="text-align: left;">役職</th>
                <td style="text-align: right;">{{ loginUser.title }}</td></tr>
 
              <tr>
                <th scope="col" td width="15%" rowspan="3" class="table-primary" style="text-align: left;">
                  権限</th>
                <th width="25%" class="table-primary" style="text-align: left;">すべて</td>
                <td style="text-align: right;">
                  {% if loginUser.canApproveAll %} 権限あり {% else %} 権限なし {% endif %}
                </td></tr>
              <tr>
                <th width="25%" class="table-primary" style="text-align: left;">
                  各種変更</th>
                <td style="text-align: right;">
                  {% if loginUser.canApproveChg %} 権限あり {% else %} 権限なし {% endif %}
                </td></tr>
              <tr>
                <th width="25%" class="table-primary" style="text-align: left;">
                  QPAY</th>                  
                <td style="text-align: right;">
                  {% if loginUser.canApproveQpay %} 権限あり {% else %} 権限なし {% endif %}
                </td></tr>
            </tbody>
          </table>

          {% for eachUser in entityUsers %}

            {% if eachUser.id != loginUser.id %}

              <hr class="mt-1">

              <div class="d-flex justify-content-end mt-3">

                {% if loginUser.canApproveAll == True %}
                  <button type="submit"
                    class="btn btn-outline-primary bg-light rounded-3 py-1"
                    name="next1" value="Edit_{{eachUser.id}}">
                    権限を編集</button>
                    <!-- リストでは「name="next1"」とし、編集画面では「name="next2"」とする-->
                {% else %}
                  <span class="d-inline-block" tabindex="0"
                    data-bs-toggle="tooltip"
                    data-ba-placement="top"
                    title="編集権限がありません">
                    <button type="submit"
                      class="btn btn-outline-primary bg-light rounded-3 py-1"
                      name="next1" value="Edit_{{eachUser.id}}" disabled>
                      権限を編集</button>
                  </span>
                {% endif %}
              </div>

              <table class="table table-sm bg-light
                table-bordered border-primary-subtle
                shadow-sm table-responsive mt-1 mb-1">

                <tbody class="text-center">
                  <tr>
                    <th scope="col" width="40%" colspan="2" class="table-primary" style="text-align: left;">申請者</td>
                    <td style="text-align: right;">{{ eachUser.userName }}さん</td></tr>
                  <tr>
                    <th scope="col"width="40%" colspan="2" class="table-primary" style="text-align: left;">電話番号</td>
                    <td style="text-align: right;">{{ eachUser.tel_user }}</td></tr>
                  <tr>
                    <th scope="col" width="40%" colspan="2" class="table-primary" style="text-align: left;">所属部署</td>
                    <td style="text-align: right;">{{ eachUser.department }}</td></tr>
                  <tr> 
                    <th scope="col"  width="40%" colspan="2" class="table-primary" style="text-align: left;">役職</td>
                    <td style="text-align: right;">{{ eachUser.title }}</td></tr>
  
                  <tr>
                    <th scope="col" td width="15%" rowspan="3" class="table-primary" style="text-align: left;">
                      権限</td>
                    <th width="25%" class="table-primary" style="text-align: left;">
                      すべて</td>
                    <td style="text-align: right;">
                      {% if eachUser.canApproveAll %} 権限あり {% else %} 権限なし {% endif %}
                    </td></tr>
                  <tr>
                    <th width="25%" class="table-primary" style="text-align: left;">
                      各種変更</td>
                    <td style="text-align: right;">
                      {% if eachUser.canApproveChg %} 権限あり {% else %} 権限なし {% endif %}
                    </td></tr>
                  <tr>
                    <th width="25%" class="table-primary" style="text-align: left;">
                      QPAY</td>                  
                    <td style="text-align: right;">
                      {% if eachUser.canApproveQpay %} 権限あり {% else %} 権限なし {% endif %}
                    </td></tr>
                </tbody>
              </table>

            {% endif %}

          {% empty %}

          {% endfor %}

        </form>
      </div>
    </div> <!-- end row -->
  </div> <!-- end container -->
</div>

{% endblock %}