{% load static %}

{% block content %}

<section class="home-slider" id="home">

  <div class="ParaImage-left bg1">

      <div class="d-grid gap-5 d-md-flex justify-content-md-center mt-4 mx-5">
      <a href="#" class="btn btn-primary" role="button" 
        data-bs-toggle="tooltip" data-bs-placement="bottom" title="">他のサービスとは違うの？</a>
      <a href="{% url 'accounts:login_buyer' %}" class="btn btn-primary" role="button"
        data-bs-toggle="tooltip" data-bs-placement="bottom" title="">キユーニコネクトご利用</a>
    </div>    



    <div class="bg-overlay2"></div>

    <div class="copy-wrapper px-0">
      <div class="row justify-content-center">
        <div class="container text-center">
          <p class="copy-head"
            id="page1-copy-head"
            style="color: #fff;
              display:inline-block;
              background-image: linear-gradient(90deg, rgb(150, 127, 195), rgb(147, 171, 226) 50%, #fff 50%, #fff);
              background-size:200% 100%;
              padding:.5rem 1rem;">
            Qneeが報酬を立て替えます
          </p>
        </div>

        <p class="copy-body-m" id="page1-copy-body1">
          <br>
          早く報酬ほしい！ <br>
          委託先からそんな相談ありませんか？<br>
          <br>
          フリーランスはカードや銀行の審査が厳しい、<br>
          ファクタリングは費用が高いことも多く、<br>
          会社勤めの方と比べて多くの不安があります <br>
          <br>
          またフリーランス新法は報酬の支払いを60日以内とし、 <br>
          今後、一層スピード感ある支払いが期待されます<br>
          <br>
        </p>
        <p class="copy-body-l" id="page1-copy-body2" >
          そんな中、Qneeが報酬のお立て替えします
        </p>
      </div> 
    </div>
  </div>

  <div class="ParaContent">
    <div class="container">
      <!-- <h3>Lorem ipsum dolor sit amet</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit volupt</p>
      -->
    </div>
  </div>

  <div class="ParaVideo min-vw-100 min-vh-100">
    <video  id="paravideo" autoplay muted loop>
      <source 
        src="static/images/qconnect/bg-productLP-buyer2_2.mp4"
        type="video/mp4">
    </video>
    <!-- <h2>Vedio Background Parallax</h2>-->

    <div class="row justify-content-center text-white">
      <div class="copy-wrapper px-0 ">

        <div class="copy">
          <div class="container text-center">
            <p class="copy-head"
              id="page2-copy-head1" 
              style="color: #fff;
                display:inline-block;
                background-image: linear-gradient(90deg, rgb(150, 127, 195), rgb(147, 171, 226) 50%, #fff 50%, #fff);
                background-size:200% 100%;
                padding:.5rem 1rem;">
              　皆さまへのお願い　
            </p>
          </div>
  
          <!-- <p class="copy-head" id="page2-copy-head" style="line-height:45px;" >
            皆さまへのお願い
          </p> -->

          <p class="copy-body-m" id="page2-copy-body1">
            Qneeのパートナーとなって、<br>
            フリーランスをご紹介いただけませんか？<br>
            <br><br>
          </p>

          <div class="container text-center">
            <p class="copy-head"
              id="page2-copy-head2" 
              style="color: #fff;
                display:inline-block;
                background-image: linear-gradient(90deg, rgb(150, 127, 195), rgb(147, 171, 226) 50%, #fff 50%, #fff);
                background-size:200% 100%;
                padding:.5rem 1rem;">
              Qneeが報酬を立て替えます
            </p>
          </div>

          <!-- <p class="copy-head" id="page2-copy-head2">
            Qneeが報酬を立て替えます
          </p> -->

          <p class="copy-body-m" id="page2-copy-body2">
            フリーランスはすぐに報酬を手にし、<br>
            <br>
            あなたの会社は次のものを手にします<br>
            ①フリーランスとの良い関係<br>
            ②Qneeからのご確認の謝礼金<br>
            <br>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Qneeは信頼できるフリーランスには<br>
       将来の報酬の立て替えサービスを準備しています
  -->
  <!--
  <div class="ParaVideo2">
    <video autoplay muted loop>
      <source src="static/images/qconnect/bg-productLP-buyer3_1.mp4"
        type="video/mp4">
    </video>
    
    <div class="row justify-content-center text-white">
      <div class="copy-wrapper min-vh-100 px-0 ">

        <div class="copy">
          <p class="copy-head">皆さまへのお願い</p>
          <p class="copy-body1">
            Qneeのパートナーとなって、<br>
            フリーランスをご紹介いただけませんか？<br>
            <br>
          </p>
          
          <p class="copy-head">Qneeが報酬を立て替えます</p>
          <p class="copy-body1">
            フリーランスはすぐに報酬を手にし、<br>
            <br>
            あなたの会社は次のものを手にします<br>
            ①フリーランスからの感謝<br>
            ②Qneeから謝礼金<br>
            <br>
            Qneeは信頼できるフリーランスには<br>
            将来の報酬も立て替えサービスを準備開始しています
          </p>
        </div>
      </div>
    </div>
  </div>
  -->

  <div class="ParaContent">
    <div class="container">
      <!--
      <h3>Lorem ipsum dolor sit amet</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit volupt</p>
      -->
    </div>
  </div>

  <div class="ParaImage-center bg2"  id="bg2">
    <div class="bg-overlay2"></div>

    <div class="copy-wrapper">

      <div class="container">
        <div class="row justify-content-center ">
          <div class="col">
            <p class="copy-head"
              id="page3-copy-head"
              style="line-height:45px;">謝礼金と基本料金</p>
            <p class="copy-body-m" id="page3-copy-body1">
              QneeConnectご利用には基本料金がかかりますが、<br>
            </p>
            <p class="copy-body-m" id="page3-copy-body2">
              フリーランスからの申請内容のご確認に対し、<br>
              Qneeが謝礼をお支払いいたします。<br>
              <br>
            </p>
            <p class="copy-body-m" id="page3-copy-body3">
              いまなら優待特典として、はじめの３か月は<br>
              ①ご確認の謝礼金が3倍、②基本料金が無料！<br>
            </p>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-11 col-md-8 col-lg-8 col-xl-6">
            <table class="table table-striped table-bordered table-responsive bg-light">

              <tbody class="text-center">
                <thead>
                  <tr class="table-primary" style="text-align:center">
                    <th width="30%"></th>
                    <th width="37%" style="text-align:center; vertical-align:middle;">ご確認の謝礼金</th>
                    <th width="38%" style="text-align:center; vertical-align:middle;">基本料金</th>
                  </tr>
                </thead>
                <tr class="table-danger">
                  <td width="25%" style="vertical-align:middle;">はじめの3か月</td>
                  <td width="37%" style="text-align:center; vertical-align:middle;">Qnee立替額の1.5%</td>
                  <td width="38%" style="text-align:center; vertical-align:middle;">無料</td>
                </tr>
                <tr>
                  <td width="25%" style="vertical-align:middle;">β版運用期間<br>(～2026年)</td>
                  <td width="37%" style="text-align:center; vertical-align:middle;">Qnee立替額の1.0%</td>
                  <td width="38%" style="text-align:center; vertical-align:middle;">月額3000円</td>
                </tr>
                <tr>
                  <td width="25%" style="vertical-align:middle;">通常価格</td>
                  <td width="37%" style="text-align:center; vertical-align:middle;">Qnee立替額の0.5%</td>
                  <td width="38%" style="text-align:center; vertical-align:middle;">月額5000円</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<script>

  const page1_head = document.querySelector('#page1-copy-head');
  const page1_body1 = document.querySelector('#page1-copy-body1');
  const page1_body2 = document.querySelector('#page1-copy-body2');

  const keyframes = {
    color:['transparent', '#fff'], backgroundPosition: ['100% 0', '0 0'],
  }
  const options = {
    duration: 1000, easing: 'ease',
  }
  const options2 = {
    duration: 1000, delay: 1000, easing: 'ease-in',
  }

  page1_head.animate(keyframes, options);
  page1_body1.animate({opacity: [0, 1], translate: ['0 30px',0]}, 2000);
  page1_body2.animate({opacity: [0, 1], translate: ['0 25px',0]}, 2000);


  const page2_head1 = document.querySelector('#page2-copy-head1');
  const page2_head2 = document.querySelector('#page2-copy-head2');
  const page2_body1 = document.querySelector('#page2-copy-body1');
  const page2_body2 = document.querySelector('#page2-copy-body2');

  const showPage2 = () => {

    page2_head1.animate(keyframes, options);  
    page2_body1.animate({opacity:[0, 1], translate:['0 30px',0], }, 2000);

    page2_head2.animate(keyframes, options2);
    page2_body2.animate({opacity:[0, 1], translate:['0 30px',0], }, 3000);
  };

  const page2_Observer = new IntersectionObserver(showPage2);
  page2_Observer.observe(document.querySelector('#page2-copy-body1'));


  const page3_body1 = document.querySelector('#page3-copy-body1');
  const page3_body2 = document.querySelector('#page3-copy-body2');
  const page3_body3 = document.querySelector('#page3-copy-body3');

  const showPage3 = () => {

    page3_body1.animate({opacity:[0, 1], translate:['0 30px',0], }, 2000);
    page3_body2.animate({opacity:[0, 1], translate:['0 30px',0], }, 2000);
    page3_body3.animate({opacity:[0, 1], translate:['0 30px',0], }, 3000);

    console.log('見出しの背景を伸ばす');
  };

  const bg2_Observer = new IntersectionObserver(showPage3);
  bg2_Observer.observe(document.querySelector('#bg2'));

</script>

{% endblock %}
