{% extends "partials/base_qconnect.html" %}

{% block content %}
<p></p>

{% if user.type2 == 1 %}

  <h5>本登録（個人としてご利用） </h5>

  <form method="POST" class="p-4 m-4 bg-light border border-success rounded form-group">
    {% csrf_token %}
    {% if form.personname.errors %}
    <div style="color:red;">{{ form.personname.errors.as_text }}<br></div>
    {% endif %}
    あなたのお名前：{{ form.personname }}
    <hr>    

    {% if form.tel.errors %}
    <div style="color:red;">{{ form.tel.errors.as_text }}<br></div>
    {% endif %}
    電話番号：{{ form.tel }}
    <hr>

    {% if form.postal_code.errors %}
    <div style="color:red;">{{ form.postal_code.errors.as_text }}<br></div>
    {% endif %}
    郵便番号：{{ form.postal_code }}
    <hr>

    <button type="submit" class="btn btn-outline-primary" name="next" value="confirm">登録内容の確認へ</button>
  </form>

{% endif %}

{% if user.type2 == 2 %}

  <h4>本登録（法人としてご利用） </h4>

  <form method="POST" class="p-4 m-4 bg-light border border-success rounded form-group">
    {% csrf_token %}
    {% if form.personname.errors %}
    <div style="color:red;">{{ form.personname.errors.as_text }}<br></div>
    {% endif %}
    あなたのお名前：{{ form.personname }}
    <hr>    

    {% if form.tel.errors %}
    <div style="color:red;">{{ form.tel.errors.as_text }}<br></div>
    {% endif %}
    電話番号：{{ form.tel }}
    <hr>

    {% if form.entityname.errors %}
    <div style="color:red;">{{ form.entityname.errors.as_text }}<br></div>
    {% endif %}
    ご報酬を受ける企業：{{ form.entityname }}
    <hr>

    {% if form.postal_code.errors %}
    <div style="color:red;">{{ form.postal_code.errors.as_text }}<br></div>
    {% endif %}
    郵便番号：{{ form.postal_code }}
    <hr>

    {% if form.department.errors %}
    <div style="color:red;">{{ form.department.errors.as_text }}<br></div>
    {% endif %}
    あなたの所属部署：{{ form.department }}
    <hr>

    {% if form.title.errors %}
    <div style="color:red;">{{ form.title.errors.as_text }}<br></div>
    {% endif %}
    あなたの役職：{{ form.title }}
    <hr>

    <button type="submit" class="btn btn-outline-primary" name="next" value="confirm">登録内容の確認へ</button>
  </form>

{% endif %}

{% endblock %}