{% extends "index/base_qconnect_buyer.html" %}

{% load static %}

{% block content %}

<div class="login-bg min-vh-100 min-vw-100 align-items-center" style="background-color:#edf9ff;">

  <div class="container">
    <div class="d-flex flex-column">
      <div class="row justify-content-center my-auto">
        <div class="col-11 col-md-8 col-lg-6 col-xl-5">
 
          <div class="row">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert" style="background-color: #fcf7fa;">
              <span>{{ message }}</span>
            </div>
            {% endfor %}
          </div>

          <div class="d-flex justify-content-center">
            <h3 class="text-black">Welcome to Qnee Connect !</h3>
          </div>
          <div class="d-flex justify-content-center mb-4 pb-2">
            <div class="text-black-50 mb-0">パートナー企業はこちらからご利用ください。</div>
          </div>
  
          <p></p>
          <h5>ログイン</h5>
          <a href="{% url 'accounts:user_create' 1 %}" class="text-decoration-underline">初めてのご利用の方はこちら</a>

          <form method="POST">
            {{ form.non_field_errors }}
            {% for field in form %}
                {{ field }}
                {{ field.errors }}
            <hr>
            {% endfor %}

            <button type="submit" class="btn btn-primary w-100 shadow" >ログインする</button>
            <input type="hidden" name="next" value="{{ next }}" />
            {% csrf_token %}
          </form>
        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- d-flex -->
  </div> <!-- end container -->
</div>
{% endblock %}