{% extends "partials/base_qconnect.html" %}

{% block content %}

<div class="authentication-bg min-vh-100 min-vw-100" style="background-color: #eaf6fd;">

    <div class="container">
      <div class="d-flex flex-column min-vh-100 px-3 pt-4">
        <div class="row justify-content-center my-auto">
          <div class="col-md-8 col-lg-6 col-xl-5">
  
            <div class="d-flex justify-content-center">
              <h3 class="text-black">仮登録</h3>
            </div>
            <div class="d-flex justify-content-center mb-4 pb-2">
              <div class="text-black-50 mb-0">あなたのメールアドレスに本登録のご案内いたします。</div>
            </div>
  
            <form method="POST">
                {{ form.non_field_errors }}

                {% for field in form %}
                {{ field }}
                {{ field.errors }}
                <hr>
                {% endfor %}

                <button type="submit" class="btn btn-outline-primary" >本登録URLを送付</button>
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
            </form>
          </div>
        </div>
      </div>
    </div>
</div>  

{% endblock %}