  
<table border="0" cellpadding="0" cellspacing="0" width="710" class="table01">
  <tbody>
    <tr>
      <td valign="middle" class="td02">
        <div class="innercell">
          受取口座設定
        </div>
      </td>
      <td width="510" class="td01none">
        <div class="innercell">
          前払いの受取をするための銀行口座を設定します。
        </div>
      </td>
    </tr>
    <tr>
      
<form method="POST" class="p-4 m-4 bg-light border border-success rounded form-group">
  {% csrf_token %}

  {% if form.bank_number.errors %}
  <div style="color:red;">{{ form.bank_number.errors.as_text }}<br></div>
  {% endif %}
  銀行番号：{{ form.bank_number }}
  <hr>    

  {% if form.branch_number.errors %}
  <div style="color:red;">{{ form.branch_number.error.as_text }}<br></div>
  {% endif %}
  支店番号：{{ form.branch_number }}
  <hr>

  {% if form.account_number.errors %}
  <div style="color:red;">{{ form.account_number.errors.as_text }}<br></div>
  {% endif %}
  口座番号：{{ form.account_number }}
  <hr>

  
<i class="bi bi-search" style="font-size:1rem; color:Light;"></i>
search {% bs_icon 'search' color='Light' size='1em' %}
# $ pip install zengin_code

tran_zen_han = str.maketrans('―－‐ー₋—⁻０１２３４５６７８９', '-------0123456789')

class EntityCreateForm(forms.ModelForm):

  class Meta:
    model = LegalEntity
    fields = ('personname', 'tel', 'entityname', 'department', 'title', 'postal_code')

  def __init__(self, *args, **kwargs):
    super().__init__(*args, **kwargs)
    for field in self.fields.values():
        field.widget.attrs['class'] = 'form-control'
    #    field.widget.attrs['placeholder'] = field.label

  def clean_personname(self):
    print(self.cleaned_data['personname'])
    personname =self.cleaned_data.get('personname')
    print(f'ここまで来てる1 self.cleaned_data[personname]={personname} (in EntityCreateForm)')
    return unicodedata.normalize('NFKC', personname)
        
  def clean_entityname(self):
    entityname = self.cleaned_data.get('entityname')
    print(f'ここまで来てる2 self.cleaned_data[entityname]={entityname} (in EntityCreateForm)')
    if entityname is not None :
      return unicodedata.normalize('NFKC', entityname)   
    return entityname

  def clean_department(self):
    department = self.cleaned_data['department']
    print(f'ここまで来てる3 self.cleaned_data[department]={department} (clean_department in EntityCreateForm)')
    return unicodedata.normalize('NFKC', self.cleaned_data['department'])

  def clean_title(self): return unicodedata.normalize('NFKC', self.cleaned_data['title'])

  def clean_tel(self):
    print(f'ここまで来てる4（clean_tel in class EntityCreateForm）')
    tel1 = self.cleaned_data['tel'].translate(tran_zen_han)
    tel2 = unicodedata.normalize('NFKC', ''.join(re.findall('[0-9０-９]+', tel1)))
    print(f'tel2:{tel2}')
    return tel2
    
  def clean_postal_code(self):
    postal_code1 = self.cleaned_data['postal_code'].translate(tran_zen_han)
    postal_code2 = unicodedata.normalize('NFKC', ''.join(re.findall('[0-9０-９]+', postal_code1)))
    return postal_code2

class EntityConfirmForm(forms.Form):

  #is_consent = forms.BooleanField(label='同意する', required=True, widget=forms.CheckboxInput(attrs={'class': 'check'}),)

  class Meta:
    model = LegalEntity
    fields = ('is_consent')

<!--
  <input name="personname" class="form-control my-4" placeholder="ユーザー名"><hr>
  <input name="tel" class="form-control my-4" placeholder="電話番号(数字のみご入力下さい。)"><hr>

  <input name="entityname" class="form-control my-4" placeholder="会社名"><hr>
  <input name="department" class="form-control my-4" placeholder="部署名"><hr>
  <input name="title" class="form-control my-4" placeholder="役職"><hr>
  <input name="postal code" class="form-control my-4" placeholder="郵便番号"><hr>
-->

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>

<section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p></p>
          {% bs_icon 'send' color='cornflowerblue' size='2.5em' %}
          <p></p>
          <a href="{% url 'qpay:tx_create' user.id %}"><h3>報酬の前払い申請</h3></a>
          <p class="lead mb-0">前払いを受けるために発注会社に確認をとります</p>
        </div>
  
        <div class="col-md-4">
          <p></p>
          {% bs_icon 'receipt-cutoff' color='cornflowerblue' size='2.5em' %}
          <p></p>
          <h3>取引履歴・書類発行</h3>
          <p class="lead mb-0">取引個別や取引を取りまとめて書類を発行します</p>
        </div>
  
        <div class="col-md-4">
          <p></p>
          {% bs_icon 'pencil-square' color='cornflowerblue' size='2.5em' %}
          <p></p>
          <h3>登録情報変更</h3>
          <p class="lead mb-0">本サービスをご利用される、ご本人様または法人様の登録情報を変更します</p>
        </div>
      </div>
    </div>
  </section>

  

<iframe src= "{% static 'accounts/利用規約（サンプル）.pdf' %}"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

.bgColor1 {
    background-color:  #f8f6f4;
  }
  
  .basicFont {
    font-family: Meiryo;
  }
  
  .navbar {
    background-color:  #8cc0e2;
  }
  
  .btn-custom1 {
    background-color: #de3400;
    color: #ffffff;
    height: 40px;
    width: 300px;
    border-radius: 12px 12px 12px 12px;
    border: none;
  }
  
  .btn-custom2 {
    background-color: #de3400;
    color: #ffffff;
    height: 40px;
    width: 100px;
    border-radius: 12px 12px 12px 12px;
    border: none;
  }
  
  .btn-custom3 {
    background-color: #d28cb1;
    color: #ffffff;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
    border: none;
  }
  

<input type="hidden" name="next" value="{{ next }}" />
action="{% url 'accounts:mypage' object.pk %}"
action="{% url 'accounts:entity_confirm' user.id %}"

「aria-describedby」について
ダイアログ上の「閉じる」ボタンとして機能するボタンが、文書中の他の場所で説明されている。aria-describedby プロパティは、ボタンと説明を関連付けるために使用される。

""" ----upload_toに渡すディレクトリ用の関数---- """
def dir_path_name(instance, filename):
    date_time = datetime.datetime.now()  # 現在の時刻を取得
    date_dir = date_time.strftime('%Y/%m/%d')  # 年/月/日のフォーマットの作成
    time_stamp = date_time.strftime('%H-%M-%S')  # 時-分-秒のフォーマットを作成
    new_filename = time_stamp + filename  # 実際のファイル名と結合
    dir_path = os.path.join('file', date_dir, new_filename)  # 階層構造にする
    return dir_path
    
<button aria-label="Close" aria-describedby="descriptionClose"
    onclick="myDialog.close()">X</button>
<div id="descriptionClose">Closing this window will discard any information entered and return you back to the main page</div>

<div class="ui breadcrumb">
    <a href="{% url 'base:top' %}" class="section">TOP</a>
    <i class="right angle icon divider"></i>
    <a class="active section">トピック作成</a>
</div>


<p>Bootstrapテスト表示</p>
<div class="alert alert-primary" role="alert">alertクラス alert-primaryクラス確認</div>
<div class="bd-example">
<button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" title="" data-bs-content="吹き出しの様に表示されます。" data-bs-original-title="ポップオーバータイトル">
   ポップオーバー表示確認
</button>
</div>


<form class="ui form" action="{% url 'thread:create_topic' %}" method="POST">
    {% csrf_token %}
    {% for field in form %}
        {{field.as_hidden}}
    {% endfor %}
    <button class="ui button grey" type="submit" name="next" value="back">戻る</button>
    <button class="ui button orange" type="submit" name="next" value="create">作成</button>
</form>

<form method="POST">
    {{ form.non_field_errors }}
    {% for field in form %}
        {{ field }}
        {{ field.errors }}
        <hr>
    {% endfor %}

    <button type="submit" class="btn-custom2" >ログイン</button>
    <input type="hidden" name="next" value="{{ next }}" />
    {% csrf_token %}
</form>

<form action="" method="POST">
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field }}
        {{ field.errors }}
        <hr>
    </div>
    {% endfor %}
    {% csrf_token %}
    <p></p>
    <button type="submit" class="btn-custom1">本登録URLを送付</button>
</form>


        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="icon-screen-desktop m-auto text-primary"></i></div>
                            <h3>Fully Responsive</h3>
                            <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="icon-layers m-auto text-primary"></i></div>
                            <h3>Bootstrap 4 Ready</h3>
                            <p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="icon-check m-auto text-primary"></i></div>
                            <h3>Easy to Use</h3>
                            <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

#class EmailTest(TestCase):
#   def test_send_email(self):
#        send_mail('お問い合わせについて',
#                 'お問い合わせ、誠にありがとございました。URL先で本登録の手続きができます。',
#                 settings.DEFAULT_FROM_EMAIL,
#                 [to_email], fail_silently=False)
#        self.assertEqual(len(mail.outbox), 1)
#        self.assertEqual(mail.outbox[0].subject, 'Subject here')

#入力したemail addressに本登録の案内をする
#def FirstMailView(request):  #24/3/22 viewはHttpResponseを返さないとエラーになる
#
#    if request.method == 'POST':
#        form = FirstMailForm(request.POST)
#
#        if form.is_valid():
#            send_mail('お問い合わせについて',
#            'お問い合わせ、誠にありがとございました。URL先で本登録の手続きができます。',
#            settings.DEFAULT_FROM_EMAIL,
#            ['shuichiro.tomihari.201604@gmail.com'], fail_silently=False)
#                   
#            #return TemplateResponse(request, "accounts/signup.html", {'form':form, 'email':request.POST})
#        else:
#            raise ValidationError('メールアドレス入力エラー', code='mail_address invalid' )
#        
#   else:
#       form = FirstMailForm()
#
#    return render(request,"accounts/firstmail.html", {'form':form})

{% load static %}
{% load bootstrap_icons %}

<html>
<head>
    <meta charset="utf-8">

    <title><h1>Qnee</h1></title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="stylesheet" type="text/css" href="{% static 'qpay/css/style.css' %}">

    <script src="{% static 'accounts/js/script.js' %}" defer></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock title %}</title>
    
    {% block extraheader %}{% endblock %}
</head>

<body class="basicFont" style="background-color:#f8f6f4">

  <nav class="navbar navbar-expand flex-md-row  navbar-dark">
    <div class="container justify-content-between">
        <a href="/" class="navbar-brand"><h1>Qneeアプリ</h1></a>
        <ul class="navbar-nav mr-md-2">
            {% if user.is_authenticated %}
            <a class='btn btn-light border-danger' href="{% url 'accounts:logout' %}" >ログアウト</a>
            {% else %}
            <a class='btn btn-light border-danger' href="{% url 'accounts:login_seller' %}">ログイン（ご利用者）</a>
            <a class='btn btn-light border-danger' href="{% url 'accounts:login_buyer' %}">ログイン（加盟企業様）</a>
            {% endif %}
        </ul>
    </div>
</nav>

<main>
    <div class="container">
        {% block main %}{% endblock %}
    </div>
</main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>
